*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;   
       }

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #01004A;
  font-family: 'Poppins', sans-serif;
}

.logo{       
    color: rgb(226,226,226); 
    letter-spacing: 5px;
    font-size: 20px;
   }
img.logo-rextart {
  max-width:50%;
  max-height:50%;
}


.nav-links{
    display: flex;
    justify-content: space-around;
    width: 73%;
    
}

.nav-links li{
    list-style: none;
    
    
}


.nav-links a{
     color: rgb(226,226,226); 
    text-decoration: none;
    letter-spacing:  3px;
    font-weight: bold;
    font-size: 14px;  
    }

.burger{
    display: none;    
}


.burger div{
    width:  25px;
    height: 4px;
    background-color: rgb(226,226,226); 
    margin: 5px;      
}

@media screen and(max-width:1024px){
    body{
        display: none;
    }
    

@media screen and(max-width:768px){
    body{
        display: none;
    }
    
    
}