<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<title>employees-list</title>
</head>

<body>

	<div class="container">
		<h3>Employee Directory</h3>
		<hr>
		<a th:href="@{/employees/showFormForAdd}"
			class="btn btn-primary btn-lg mb-3 text-uppercase">Add Employee</a>

		<table class="table table-border table-striped">
			<thead class="thead-dark">
				<tr>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Email</th>
					<th>Action</th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="tempEmployee : ${employees}">

					<td th:text="${tempEmployee.firstName}" />
					<td th:text="${tempEmployee.lastName}" />
					<td th:text="${tempEmployee.email}" />
					<td align="center"><a
						th:href="@{/employees/showFormForUpdate(employeeId=${tempEmployee.id})}"
						class="btn btn-info btn-sm mb-3 text-uppercase">Update</a>
						<a th:href="@{/employees/delete(employeeId=${tempEmployee.id})}"
						class="btn btn-danger btn-sm mb-3 text-uppercase"
						onclick="if(!(confirm('Are you sure you want to delete this employee?'))) return false">Delete</a>
					</td>

				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>



