<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui" xmlns:jsf="http://xmlns.jcp.org/jsf">
	<p:panelGrid columns="2">
		<h:outputText for="idBrand" value="Car Model: *"
			styleClass="titoliPanel" />
		<p:inputText id="idBrand" value="#{carController.tempCar.brand}"
			placeholder="insert car model" style="width:280px" required="true" />

		<h:outputText for="idYear" value="Year: *" styleClass="titoliPanel" />
		<p:inputText id="idYear" value="#{carController.tempCar.year}"
			placeholder="insert year" style="width:280px" required="true" />

		<h:outputText for="idColor" value="Color: *" styleClass="titoliPanel" />
		<p:inputText id="idColor" value="#{carController.tempCar.color}"
			placeholder="insert color" style="width:280px" required="true" />

		<h:outputText for="idPrice" value="Price: *" styleClass="titoliPanel" />
		<p:inputText id="idPrice" value="#{carController.tempCar.price}"
			placeholder="insert price" style="width:280px" required="true" />

		<!-- Save the car -->
		<p:commandButton value="#{messages['salva']}"
			action="#{carController.saveCar()}" icon="fa fa-fw fa-check-circle"
			update=":formCars:carsTableID,:formCars:msgs" oncomplete="PF('addCarDialog').hide()"
			process="formCars:addCarDialog" style="margin-top:10px;" />

		<!-- close dialog -->
		<p:commandButton value="#{messages['close']}"
			oncomplete="PF('addCarDialog').hide()" icon="ui-icon-close"
			style="margin-top:10px;" />
	</p:panelGrid>
</ui:composition>