<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui" xmlns:jsf="http://xmlns.jcp.org/jsf">
	<p:outputPanel id="carDetail" style="text-align:center;">
					<p:panelGrid columns="2"
						rendered="#{not empty carController.selectedCar}"
						columnClasses="label,value">
						<f:facet name="header">
							<p:graphicImage
								name="demo/images/car/#carController.selectedCar.brand}-big.gif" />
						</f:facet>

						<h:outputText value="Id:" />
						<h:outputText value="#{carController.selectedCar.id}" />

						<h:outputText value="Model" />
						<h:outputText value="#{carController.selectedCar.brand}" />

						<h:outputText value="Color:" />
						<h:outputText value="#{carController.selectedCar.color}"
							style="color:#{carController.selectedCar.color}" />

						<h:outputText value="Year" />
						<h:outputText value="#{carController.selectedCar.year}" />

						<h:outputText value="Price" />
						<h:outputText value="$#{carController.selectedCar.price}" />
					</p:panelGrid>
				</p:outputPanel>
</ui:composition>