<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui" template="/layout/template.xhtml">
	<ui:define name="body">

		<h:form id="formCars">
			<p:growl id="msgs" showDetail="true" />
			<div>
				<h1>CAR MANAGER</h1>
			</div>




			<p:dataTable id="carsTableID" var="car" value="#{carController.cars}"
				selection="#{carController.selectedCar}" rowKey="#{car.id}"
				selectionMode="single" widgetVar="carsTable"
				emptyMessage="No cars found with given criteria"
				filteredValue="#{carController.filteredCars}" paginator="true"
				rows="20" scrollable="true" scrollHeight="280"
				styleClass="tablestyle">

				<!-- ////////////////////// HEADER TABELLA //////////////////////  -->
				<f:facet name="header">

					<h3>PARCO AUTO</h3>

					<div align="center">
						<p:accordionPanel id="panelFiltroCar" activeIndex="-1">
							<p:tab title="#{messages['filtro']}"
								titleStyle="padding: 5 5 5 5">
								<p:panelGrid columns="4">

									<h:outputText for="idBrands" value="Brand: "
										styleClass="titoliPanel" />
									<p:selectOneMenu id="idBrands" style="width: 250px;">
										<f:selectItem itemLabel="#{messages['combolistNotSelected']}"
											itemValue="#{null}" />
										<f:selectItems itemLabel="#{carController.listBrands}" />
									</p:selectOneMenu>

									<h:outputText for="idColor" value="Color: "
										styleClass="titoliPanel" />
									<p:selectOneMenu id="idColor" style="width: 250px;">
										<f:selectItem itemLabel="#{messages['combolistNotSelected']}"
											itemValue="#{null}" />
									</p:selectOneMenu>




								</p:panelGrid>
							</p:tab>
						</p:accordionPanel>
					</div>


					<!-- **********  SCARICA EXCELL **********  -->
					<p:panelGrid columns="4" layout="grid"
						styleClass="showcase-text-align-center">
						<p:commandButton immediate="true"
							value="Scarica Parco Auto (#{carController.cars.size()})"
							ajax="false" rendered="#{carController.cars.size()>0}"
							icon="fa fa-fw fa-file-excel-o" title="export parco auto">
							<p:dataExporter type="xls" target="carsTableID"
								fileName="cars_List" />
						</p:commandButton>
						<h:outputText value="" />
						<h:outputText value="" />

						<!-- ********** FILTRO **********  -->
						<p:outputPanel>
							<h:outputText value="Search all fields:" />
							<p:inputText id="globalFilter" onkeyup="PF('carsTable').filter()"
								style="width:150px" placeholder="Enter keyword" />
						</p:outputPanel>
					</p:panelGrid>

					<!-- ********** CREA UNA NUOVA AUTO **********  -->
					<div align="right"
						style="text-align: center; padding: 15px 0px 15px 5px">
						<p:commandButton value="Create Car" icon="fa fa-fw fa-car"
							action="#{carController.createCar()}"
							update="formCars:addCarDialog,:formCars:msgs"
							oncomplete="PF('addCarDialog').show()" process="@this" />

						<!-- ********** LEGGERE INFO DI UN AUTO **********  -->
						<p:commandButton value="Read Car" process="carsTableID"
							icon="fa fa-fw fa-info-circle" update="formCars:carDetail"
							oncomplete="PF('infoCarDialog').show()" />

						<!-- ********** AGGIORNARE DATI DI UN AUTO **********  -->
						<p:commandButton value="Update Car" process="carsTableID"
							icon="fa fa-fw fa-refresh" update="formCars:panelUpdateCar"
							oncomplete="PF('updateCarDialog').show()" />

						<!-- ********** BOTTONE D'ESEMPIO **********  -->
						<p:commandButton value="example button"
							process="formCars:carDetail" icon="fa fa-fw fa-bomb"
							update="formCars:carDetail" oncomplete="PF('dlg1').show()" />
					</div>
				</f:facet>


				<!-- ////////////////////// INIZIO TABELLA	//////////////////////  -->
				<!-- ********** COLONNA 1: CANCELLA AUTO **********  -->
				<p:column exportable="false">
					<div style="text-align: center; padding: 15px 0px 15px 5px">
						<p:commandButton icon="fa fa-remove"
							action="#{carController.removeCar()}" process="carsTableID"
							update=":formCars:carsTableID,:formCars:msgs">
							<f:setPropertyActionListener value="#{car}"
								target="#{carController.selectedCar}" />

							<p:confirm header="Delete Car"
								message="Vuoi davvero eliminare quest'auto? "
								icon="fa fa-exclamation-triangle" />
						</p:commandButton>
					</div>
				</p:column>

				<!-- ********** COLONNA 2: ID **********  -->
				<p:column filterBy="#{car.id}" headerText="Id"
					filterMatchMode="contains">
					<h:outputText value="#{car.id}" />
				</p:column>

				<!-- ********** COLONNA 3: BRAND **********  -->
				<p:column filterBy="#{car.brand}" headerText="Model"
					filterMatchMode="contains">
					<h:outputText value="#{car.brand}" />
				</p:column>

				<!-- ********** COLONNA 4: COLOR **********  -->
				<p:column filterBy="#{car.color}" headerText="Color"
					filterMatchMode="contains">
					<h:outputText value="#{car.color}" />
				</p:column>

				<!-- ********** COLONNA 5: YEAR **********  -->
				<p:column filterBy="#{car.year}" headerText="Year"
					filterMatchMode="lte">
					<f:facet name="filter">
						<p:spinner onchange="PF('carsTable').filter()"
							styleClass="year-spinner custom-filter">
							<f:converter converterId="javax.faces.Integer" />
						</p:spinner>
					</f:facet>
					<h:outputText value="#{car.year}" />
				</p:column>

				<!-- ********** COLONNA 6: SOLD **********  -->
				<p:column filterBy="#{car.soldState}" headerText="Status"
					filterMatchMode="equals">
					<f:facet name="filter">
						<p:selectOneButton onchange="PF('carsTable').filter()"
							styleClass="custom-filter">
							<f:converter converterId="javax.faces.Boolean" />
							<f:selectItem itemLabel="All" itemValue="" />
							<f:selectItem itemLabel="Sold" itemValue="true" />
							<f:selectItem itemLabel="Sale" itemValue="false" />
						</p:selectOneButton>
					</f:facet>
					<h:outputText value="#{car.soldState ? 'Sold': 'Sale'}" />
				</p:column>

				<!-- ********** COLONNA 7: PRICE **********  -->
				<p:column sortBy="#{car.price}" headerText="Price">
					<h:outputText value="#{car.price}">
						<f:convertNumber currencySymbol="$" type="currency" />
					</h:outputText>
				</p:column>
			</p:dataTable>


			<!-- ////////////////////// DIALOGS	//////////////////////  -->

			<!-- * DLG 1: HELLO DLG *  -->
			<p:dialog header="Basic Dialog" widgetVar="dlg1" minHeight="40"
				resizable="false" minimizable="true">
				<ui:include src="/pages/mySection/dialogExample.xhtml" />
			</p:dialog>

			<!-- ** DLG 2: CAR INFO **  -->
			<p:dialog header="Car Info" widgetVar="infoCarDialog" minHeight="40"
				resizable="false" minimizable="true">
				<ui:include src="/pages/mySection/carInfo.xhtml" />
			</p:dialog>

			<!-- *** DLG 3: CREATE CAR ***  -->
			<p:dialog header="Add Car" id="addCarDialog" widgetVar="addCarDialog"
				minHeight="40" resizable="false" minimizable="true">
				<ui:include src="/pages/mySection/carCreate.xhtml" />
			</p:dialog>

			<!-- **** DLG 4: CAR UPDATE ****  -->
			<p:dialog header="Car Update" widgetVar="updateCarDialog"
				minHeight="40" resizable="false" minimizable="true">
				<ui:include src="/pages/mySection/carUpdate.xhtml" />
			</p:dialog>

			<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
				<div style="text-align: center">
					<p:commandButton value="Yes" type="button"
						styleClass="ui-confirmdialog-yes" icon="fa fa-check" />
					<p:commandButton value="No" type="button"
						styleClass="ui-confirmdialog-no" icon="fa fa-times" />
				</div>
			</p:confirmDialog>

		</h:form>
	</ui:define>
</ui:composition>