<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui" xmlns:jsf="http://xmlns.jcp.org/jsf">
	<p:outputPanel id="panelUpdateCar" style="text-align:center;">
		<p:panelGrid columns="2"
			rendered="#{not empty carController.selectedCar}"
			columnClasses="label,value">

			<h:outputText value="Id:" />
			<h:outputText value="#{carController.selectedCar.id}" />
		</p:panelGrid>
		<p:panel>

			<p:panelGrid columns="2"
				rendered="#{not empty carController.selectedCar}"
				columnClasses="label,value">

				<h:outputText value="Model: " />
				<h:inputText value="#{carController.selectedCar.brand}" />

				<h:outputText value="Color: " />
				<h:inputText value="#{carController.selectedCar.color}" />
				
				<h:outputText value="Price [$]: " />
				<h:inputText value="#{carController.selectedCar.price}" />
			</p:panelGrid>

			<p:commandButton value="#{messages['salva']}"
				update="panelUpdateCar,:formCars:carsTableID"
				process="panelUpdateCar" icon="ui-icon-check"
				style="margin-top:10px; margin-right:10px;" oncomplete="PF('updateCarDialog').hide()">
				<p:confirm header="Update Car"
								message="Salvare modifiche? "
								icon="fa fa-exclamation-triangle"  />
		
			
			</p:commandButton>

		</p:panel>
	</p:outputPanel>
</ui:composition>