<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<f:view contentType="text/html">
 <h:head>  
        <title>JSF Example</title>                  
        <style>               
        .Bimage{background-image:url("../resources/images/salone.jpg"); }        
        </style>   

    </h:head>  
    <h:body styleClass="Bimage">  
		<h:form>
			<!-- ************ MENU BAR ************ -->
			<ui:include src="menuBar.xhtml" />
<p:layout style="min-width:400px;min-height:200px;">
    <p:layoutUnit position="north"   styleClass="Bimage">
       
       
       
       
    </p:layoutUnit >
 
    <p:layoutUnit position="center" >
        Center
    </p:layoutUnit>
</p:layout>
		</h:form>

			
		
	</h:body>
</f:view>
</html>