<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:p="http://primefaces.org/ui">
 
<f:view contentType="text/html">
    <h:head />
    <h:body>
        <h:form>
           <p:breadCrumb>
    <p:menuitem value="Home" url="#{homeController.getfirstPage()}" />
    <p:menuitem value="SALUTI" url="#{homeController.getSaluti()}" />
    <p:menuitem value="A" url="#" />
    <p:menuitem value="B" url="#" />
    <p:menuitem value="C" url="#" />
    <p:menuitem value="D" url="#" /> 
</p:breadCrumb>


    <p:menubar>
        <p:submenu label="File" icon="pi pi-file">
            <p:submenu label="New" icon="pi pi-briefcase">
                <p:menuitem value="Project" url="#" />
                <p:menuitem value="Other" url="#" />
            </p:submenu>
            <p:menuitem value="Open" url="#" />
            <p:separator />
            <p:menuitem value="Quit" url="#" />
        </p:submenu>
 

 
        <p:menuitem value="Quit" url="http://www.primefaces.org" icon="fa fa-times" />
 
        <f:facet name="options">
            <p:inputText style="margin:1px 10px 1px 1px;" placeholder="Search"/>
            <p:commandButton type="button" value="Logout" icon="fa fa-user" />
        </f:facet>
    </p:menubar>




            </h:form>
    </h:body>
</f:view>
</html>