<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<f:view contentType="text/html">
	<h:head />
	<h:body>
		<h:form>
			<!-- ************ MENU BAR ************ -->
			<ui:include src="menuBar.xhtml" />
			
			
			<p:panel id="panel1" header="DemoJsf">
				<h:outputText value="#{helloController.hello}" />
				<h:outputText value="Orario: " />
				<h:outputText value="#{helloController.timeStamp}" />
				<br />
				<br />
				<p:commandButton update="panel1"
					action="#{helloController.updateOrario}" value="Aggiorna orario" />
			</p:panel>

			<p:commandButton value="Back"
				action="#{homeController.getfirstPage()}"></p:commandButton>
		</h:form>
	</h:body>
</f:view>
</html>