<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head>
</h:head>
<h:body>
	

	<h:form>
	<h1>SALUTI		<p:commandButton action="#{navigationController.moveToPage1}"
			value="vai a Saluti" /></h1>
		
		<h2>INPUT TEXT		<p:commandButton action="#{navigationController.moveToPage2}"
			value="Vai a INPUT TEXT" /></h2>
		
		<h3>CRUD <p:commandLink action="#{navigationControllerByID.showPage}"
			value="Vai alla Tabella Customer">
			<f:param name="pageId" value="3" />
		</p:commandLink></h3>	

		
		<p:commandLink action="#{navigationControllerByID.showPage}"
			value="Vai alla Tabella Ordini">
			<f:param name="pageId" value="4" />
		</p:commandLink>
	</h:form>

</h:body>
</html>
