<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">


	<head>

	</head>
	<body>
		<h:form>
			<h3>This is BasicView</h3>
			<p:commandButton action="#{navigationController.moveToHome}" value="Back to Home Page" />
			<p:fragment>
			<p:autoUpdate />
			<p:panelGrid columns="4" cellpadding="5">
				<h:outputLabel for="txt" value="Text Value:" />
				<p:inputText id="txt" value="#{basicView.text}" />
				<p:commandButton value="Submit" />
				<h:outputText value="#{basicView.text}" />
			</p:panelGrid>
		</p:fragment>
		</h:form>
	</body>
	
	</html>
