<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">


<head>

<title>JSF Tutorial!</title>
</head>
<body>
<h:form id="form">  
        
    <h3>DataModel</h3>
    #{tabbedView.cars.size()}
    <p:accordionPanel value="#{tabbedView.cars}" var="car">
        <p:tab title="Car - #{car.id}">
            <h:panelGrid columns="2" cellpadding="5">
                                 
                <h:outputText value="Brand:" style="font-weight: bold" />
                <h:outputText value="#{car.brand}" />
 
                <h:outputText value="Year:" style="font-weight: bold" />
                <h:outputText value="#{car.year}" />
 
                <h:outputText value="Color:" style="font-weight: bold" />
                <h:outputText value="#{car.color}" />
            </h:panelGrid>
        </p:tab>
    </p:accordionPanel>
</h:form>
	
	
	 <h:form>
	<h:commandButton action="#{navigationController.moveToHome()}" value="Back to Home Page" />
	</h:form>
</body>
</html>