<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">


<head>

<title>JSF Tutorial!</title>
</head>

<body>
	<h3>SALUTI</h3>
	 #{helloWorld.message}
	 <h:form>
	<h:commandButton action="#{navigationController.moveToHome()}" value="Back to Home Page" />
	</h:form>
</body>
</html>