<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">


<head>
<title>JSF Tutorial!</title>
</head>

<body>
 
 <h1>
 <h:outputStylesheet library="helloworld/WebContent/resources/css" name="home-style.css"  />
 
 <div class="row">
            <ul class="main-nav">
                <li><a href="page1.jsf">PAGINA 1</a></li>
                <li><a href="">PAGINA 2</a></li>
                <li><a href="">PAGINA 3</a></li>
                <li><a href="">PAGINA 4</a></li>
            </ul> </div></h1> 
      <h2>Level 2 header</h2>
      <h3>Level 3 header</h3>
      <h4>Level 4 header</h4>
      <h5>Level 5 header</h5> 
      <h6>Level 6 header</h6>
 
 
 
 <h:form>
	<h:commandButton action="#{navigationController.moveToHome()}" value="Back to Home Page" />
	</h:form>
</body>
</html>