<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"  
    xmlns:h="http://java.sun.com/jsf/html"  
    xmlns:f="http://java.sun.com/jsf/core"  
    xmlns:p="http://primefaces.org/ui">  

<h:head>PRIME FACES DEMO - WEBAPP</h:head>




<h:body>
#{checkListController.str}
<p:dataTable value="#{checkListController.checks}" var="check" id="checkTable">
	<p:column headerText="name">
		#{check.name}
	</p:column>
	<p:column headerText="url">
	<p:link href="#{check.url}"></p:link>		
	</p:column>	
	
<a href="https://www.primefaces.org/showcase/ui/button/button.xhtml">link</a>	
	
</p:dataTable>


</h:body>



</html>
