<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<!--TITLE -->
<title>Thymeleaf Demo</title>

<!-- CSS FILE -->
<link rel="stylesheet" th:href=@{/css/demo.css}>
</head>

<body>

<h1>My First Thymeleaf page</h1>
<p th:text="'Time on the server is: '+${theDate}" class="funny"/>

</body>
</html>