<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<title>LIFEGROUP-MANAGER</title>
</head>

<body>
	<form>
		<a type="submit" class="btn btn-primary col-2 btn-lg"
			th:href="@{demo/hello}">Saluti</a> <a th:href="@{/lifers/list}"
			class="btn btn-primary col-2 btn-lg text-uppercase">Vai al tuo
			LifeGroup</a> <a th:href="@{/demo/tabella}"
			class="btn btn-primary col-2 btn-lg text-uppercase">Tabella Test
			LifeGroup</a>
			<a th:href="@{/employees/list}"
			class="btn btn-primary col-2 btn-lg text-uppercase">Vedi employee</a> 
	</form>
</body>
</html>