<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<title>LIFEGROUP-MANAGER</title>
</head>

<body>
<h3>Il Tuo Lifegroup</h3>
		<hr>
<table border="1">
<thead>   
<tr><th>NOME</th><th>CONOME</th><th>EMAIL</th>
</tr>
</thead>
<tbody>
<tr th:each="tempLifer: ${lifers} ">

<td th:text="${tempLifer.firstName}"/>
<td th:text="${tempLifer.lasttName}"/>
<td th:text="${tempLifer.email}"/>

</tr>
</tbody>

</table>
</body>
</html>





