<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui" xmlns:jsf="http://xmlns.jcp.org/jsf">
	
	<p:outputPanel style="text-align:center;" id="panelDetailUser">
		<p:panelGrid columns="3">
			<h:outputText for="idUsernameDet"
				value="#{messages['usernameUtente']} *" styleClass="titoliPanel" />
			<p:inputText id="idUsernameDet"
				value="#{userController.newUser.descUser}" style="width:280px" disabled="true"/>
			<p:message for="idUsernameDet" />

			<h:outputText for="idNomeDet" value="#{messages['nomeUtente']} *"
				styleClass="titoliPanel" />
			<p:inputText id="idNomeDet" value="#{userController.newUser.descNome}"
				style="width:280px" />
			<p:message for="idNomeDet" />

			<h:outputText for="idCgnDet" value="#{messages['cgnUtente']} *"
				styleClass="titoliPanel" />
			<p:inputText id="idCgnDet" value="#{userController.newUser.descCgn}"
				style="width:280px" />
			<p:message for="idCgnDet" />

			<h:outputText for="idMailDet" value="#{messages['emailUtente']} *"
				styleClass="titoliPanel" />
			<p:inputText id="idMailDet" value="#{userController.newUser.descEmail}"
				style="width:280px" />
			<p:message for="idMailDet" />
			
			<h:outputText for="idTelDet" value="#{messages['telUtente']} *"
						styleClass="titoliPanel" />
			<p:inputText id="idTelDet" value="#{userController.newUser.descTelefono}"
						style="width:280px" required="true" />
			<p:message for="idTelDet" />
			
			<h:outputText for="idRicMailDet" value="#{messages['ricMail']}"
				styleClass="titoliPanel" />
			<p:selectOneRadio id="idRicMailDet"
				value="#{userController.newUser.flgReceiveEmail}">
				<f:selectItem itemLabel="#{messages['si']}" itemValue="true" />
				<f:selectItem itemLabel="#{messages['no']}" itemValue="false" />
			</p:selectOneRadio>
			<p:message for="idRicMailDet" />
			
			<h:outputText for="idCessazioneDet" value="#{messages['cessaUtente']}"
				styleClass="titoliPanel" rendered="#{userController.newUser.codiStatoUtente==configurationController.userSospeso}"/>
			<p:selectOneRadio id="idCessazioneDet"
				value="#{userController.cessato}" rendered="#{userController.newUser.codiStatoUtente==configurationController.userSospeso}">
				<f:selectItem itemLabel="#{messages['si']}" itemValue="true" />
				<f:selectItem itemLabel="#{messages['no']}" itemValue="false" />
			</p:selectOneRadio>
			<p:message for="idCessazioneDet" />

		</p:panelGrid>
		<p:panel id="idIpreseDetPanel" visible="#{userController.newUser.flgImpresa}">
			<p:panelGrid columns="3">
				<h:outputText for="idIpreseDet" value="#{messages['impresaUtente']} *"
					styleClass="titoliPanel"/>
				<p:selectOneMenu id="idIpreseDet" style="width:250px"
					value="#{userController.selectedUser.codiImpresa}" required="#{userController.newUser.flgImpresa}" filter="true"
							filterMatchMode="contains">
					<f:selectItem itemLabel="#{messages['combolistNotSelected']}"
						itemValue="#{null}" />
					<f:selectItems value="#{userController.listImprese}" var="ipresa"
						itemValue="#{ipresa.codiImpresa}" itemLabel="#{ipresa.descImpresa}" />
				</p:selectOneMenu>
				<p:message for="idIpreseDet" />
				<h:outputText for="idTelImpDet" value="#{messages['telefono']} *"
					styleClass="titoliPanel" />
				<p:inputText id="idTelImpDet" value="#{userController.newUser.descTelUserImp}"
					style="width:280px" required="#{userController.newUser.flgImpresa}"/>
				<p:message for="idTelImpDet" />
			</p:panelGrid>
		</p:panel>
		<p:panel id="telecomDet">
			<p:panelGrid columns="3">
				<h:outputText for="idRuoloDet" value="#{messages['ruolo']} *"
					styleClass="titoliPanel" rendered="#{!userController.newUser.flgImpresa}"/>
				<p:selectOneMenu id="idRuoloDet"
					value="#{userController.newUser.codiRole}" style="width: 250px;"
					required="#{!userController.newUser.flgImpresa}" rendered="#{!userController.newUser.flgImpresa}">
					<p:ajax event="change"
							listener="#{userController.listnerChangeRoles()}"
							update="idStrutturaDet,telecomDet,idAreaCompDet,idVendorDet,idZonaDet,idGruppoDet, messages" />
					<f:selectItem itemLabel="#{messages['combolistNotSelected']}"
						itemValue="#{null}" />
					<f:selectItems value="#{userController.listRoles}" var="role"
						itemValue="#{role.codiRole}" itemLabel="#{role.descRole}" />
				</p:selectOneMenu>
				<p:message for="idRuoloDet" rendered="#{!userController.newUser.flgImpresa}"/>
				
				<h:outputText for="idStrutturaDet" value="#{messages['struttura']} *"
					styleClass="titoliPanel" rendered="#{!userController.newUser.flgImpresa}"/>
				<p:selectOneMenu id="idStrutturaDet"
					value="#{userController.newUser.codiStruttura}"
					style="width: 250px;"
					required="#{!userController.newUser.flgImpresa}" rendered="#{!userController.newUser.flgImpresa}">
					<p:ajax event="change"  listener="#{userController.listnerChangeStruttura()}" update="telecomDet,idVendorDet,idZonaDet,idGruppoDet, messages"/>
					<f:selectItem itemLabel="#{messages['combolistNotSelected']}"
						itemValue="#{null}" />
					<f:selectItems value="#{userController.listStrutture}"
						var="strutura" itemValue="#{strutura.codiStruttura}"
						itemLabel="#{strutura.descStruttura}" />
				</p:selectOneMenu>
				<p:message for="idStrutturaDet" rendered="#{!userController.newUser.flgImpresa}"/>

				<h:outputText for="idAreaCompDet" value="#{messages['areaComp']} *"
					styleClass="titoliPanel" rendered="#{userController.renderedAreaComp}"/>
				<p:selectOneMenu id="idAreaCompDet"
					value="#{userController.newUser.codiAreaComp}"
					style="width: 250px;"
					required="#{userController.renderedAreaComp}" rendered="#{userController.renderedAreaComp}">
					<p:ajax event="change"
							listener="#{userController.listnerChangeAreaCompetenza()}"
							update="idRegioneDet,idZonaDet,idGruppoDet, messages" />
					<f:selectItem itemLabel="#{messages['combolistNotSelected']}"
						itemValue="#{null}" />
					<f:selectItems value="#{userController.listAreeComp}"
						var="areaComp" itemValue="#{areaComp.codiAreaComp}"
						itemLabel="#{areaComp.descAreaComp}" />
				</p:selectOneMenu>
				<p:message for="idAreaCompDet"  rendered="#{userController.renderedAreaComp}"/>
				
				<h:outputText for="idRegioneDet" value="#{messages['descRegione']} *"
					styleClass="titoliPanel"
					rendered="#{userController.renderedRegione}" />
				<p:selectCheckboxMenu id="idRegioneDet" multiple="true" label="---"
					rendered="#{userController.renderedRegione}" required="true"
					panelStyleClass="without-selectall"
					value="#{userController.selectedRegioni}"
					style="width: 280px; font-weight: normal !important; color: black !important;">
					<p:ajax event="change"
						listener="#{userController.listnerChangeRegione()}"
						update="idZonaDet,idGruppoDet, messages" />
					<f:converter converterId="javax.faces.Integer" for="idRegioneDet" />
					<f:selectItems value="#{userController.listRegioni}" var="regione"
						itemValue="#{regione.idRegione}"
						itemLabel="#{regione.nomeMaiuscolo}" />
				</p:selectCheckboxMenu>
				<p:column rendered="#{userController.renderedRegione}">
					
					<p:message for="idRegioneDet" />
				</p:column>
				
				<h:outputText for="idVendorDet" value="#{messages['vendor']} *"
					styleClass="titoliPanel" rendered="#{userController.renderedVendor}"/>
				<p:selectOneMenu id="idVendorDet"
					value="#{userController.newUser.codiVendor}"
					style="width: 250px;" required="#{userController.renderedVendor}" rendered="#{userController.renderedVendor}">
					<f:selectItem itemLabel="#{messages['combolistNotSelected']}"
						itemValue="#{null}" />
					<f:selectItems value="#{userController.listVendor}"
						var="vendor" itemValue="#{vendor.codiVendor}"
						itemLabel="#{vendor.descVendor}" />
				</p:selectOneMenu>
				<p:message for="idVendorDet" rendered="#{userController.renderedVendor}" />
				
				<h:outputText for="idZonaDet" value="#{messages['zona']} *"
					styleClass="titoliPanel" rendered="#{userController.renderedZona and !userController.newUser.flgImpresa}" />
				<p:selectOneMenu id="idZonaDet"
					value="#{userController.newUser.codiZona}"
					style="width: 250px;" rendered="#{userController.renderedZona}"
					required="#{userController.renderedZona and !userController.newUser.flgImpresa}">
					<p:ajax event="change"
							listener="#{userController.listnerChangeZone()}"
							update="idGruppoDet, messages" />
					<f:selectItem itemLabel="#{messages['combolistNotSelected']}"
						itemValue="#{null}" />
					<f:selectItems value="#{userController.listNewZone}"
						var="zona" itemValue="#{zona.codiZona}"
						itemLabel="#{zona.descZona}" />
				</p:selectOneMenu>
				<p:message for="idZonaDet" />
				
				<h:outputText for="idGruppoDet" value="#{messages['gruppo']} *"
					styleClass="titoliPanel" rendered="#{userController.renderedGruppo and !userController.newUser.flgImpresa}"/>
				<p:selectOneMenu id="idGruppoDet" rendered="#{userController.renderedGruppo and !userController.newUser.flgImpresa}"
					value="#{userController.newUser.codiGruppo}"
					style="width: 250px;"
					required="#{userController.renderedGruppo and !userController.newUser.flgImpresa}">
					<f:selectItem itemLabel="#{messages['combolistNotSelected']}"
						itemValue="#{null}" />
					<f:selectItems value="#{userController.listGruppi}"
						var="gruppo" itemValue="#{gruppo.codiGruppo}"
						itemLabel="#{gruppo.descGruppo}" />
				</p:selectOneMenu>
				<p:message for="idGruppoDet" />
			</p:panelGrid>
		</p:panel>

		<p:commandButton value="#{messages['salva']}" update="panelDetailUser,:formUser:userTableID" 
			process="panelDetailUser" action="#{userController.update()}" rendered="#{userController.selectedUser.codiStatoUtente!=configurationController.userCessato}"
			icon="ui-icon-check" style="margin-top:10px; margin-right:10px;" >
			<p:confirm header="#{messages['updateUtenteDialogConfirm']}" message="#{messages['confirmUpdate']}" icon="ui-icon-alert" />
		</p:commandButton>
		
		<p:commandButton value="#{messages['resetPassword']}" update="panelDetailUser,:formUser:userTableID" 
			process="@this" action="#{userController.resetPassword()}" rendered="#{(userController.selectedUser.descCodiRole==configurationController.descCodiRoleVendor or userController.selectedUser.flgImpresa) and userController.selectedUser.flgChangePwd}"
			icon="ui-icon-check" style="margin-top:10px; margin-right:10px;" disabled="#{!userController.currentUser.viwUtente.flgIsAdmin}">
			<p:confirm header="#{messages['resetPasswordDialogConfirm']}" message="#{messages['confirmReset']}" icon="ui-icon-alert" />
		</p:commandButton>

    <p:messages showDetail="true" globalOnly="true"/>
	</p:outputPanel>
</ui:composition>