<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui" xmlns:jsf="http://xmlns.jcp.org/jsf">
	<p:outputPanel style="text-align:center;" id="panelDetailImpresa">
					<p:panelGrid columns="2" id="panelDatiImpresaDetail">
						<p:column>
							<p:panelGrid columns="2">
								<h:outputText for="idDescImpresaDetail"
									value="#{messages['descImpresa']} *" styleClass="titoliPanel" />
								<p:inputText id="idDescImpresaDetail"
									value="#{impreseController.newImprese.descImpresa}"
									style="width:300px" />
								<h:outputText />
								<p:message for="idDescImpresaDetail" />
								<h:outputText for="idDescCfDetail"
									value="#{messages['descCfImp']}" styleClass="titoliPanel" />
								<p:inputText id="idDescCfDetail" converter="emptyString"
									value="#{impreseController.newImprese.descCf}"
									style="width:300px" maxlength="16" />
								<h:outputText />
								<p:message for="idDescCfDetail" />
								<h:outputText for="idDescLocDetail"
									value="#{messages['descLocalitaImp']}" styleClass="titoliPanel" />
								<p:inputText id="idDescLocDetail" converter="emptyString"
									maxlength="50"
									value="#{impreseController.newImprese.descLocalita}"
									style="width:300px" />
								<h:outputText />
								<p:message for="idDescLocDetail" />
								<h:outputText for="idDescIndDetail"
									value="#{messages['descIndirizzoImp']}"
									styleClass="titoliPanel" />
								<p:inputText id="idDescIndDetail" converter="emptyString"
									value="#{impreseController.newImprese.descIndirizzo}"
									style="width:300px" />
								<h:outputText />
								<p:message for="idDescIndDetail" />
								<h:outputText for="idCertifiedDetail" value="#{messages['certifiedImpresa']}" styleClass="titoliPanel" />
								<p:selectOneRadio id="idCertifiedDetail"
									value="#{impreseController.newImprese.flgIsCertified}">
									<f:selectItem itemLabel="#{messages['si']}" itemValue="true" />
									<f:selectItem itemLabel="#{messages['no']}" itemValue="false" />
								</p:selectOneRadio>
								<h:outputText />
								<p:message for="idCertifiedDetail" />
							</p:panelGrid>
						</p:column>
						<p:column>
							<p:panelGrid columns="2">
								<h:outputText for="idDescCapDetail"
									value="#{messages['descCapImp']}" styleClass="titoliPanel" />
								<p:inputText id="idDescCapDetail" converter="emptyString"
									value="#{impreseController.newImprese.descCap}"
									style="width:60px" maxlength="5" />
								<h:outputText />
								<p:message for="idDescCapDetail" />
								<h:outputText for="idDescEmailDetail"
									value="#{messages['descEmailImp']} *" styleClass="titoliPanel" />
								<p:inputText id="idDescEmailDetail"
									value="#{impreseController.newImprese.descEmail}"
									style="width:300px" />
								<h:outputText />
								<p:message for="idDescEmailDetail" />
								<h:outputText for="idDescTelDetail"
									value="#{messages['descTelImp']} *" styleClass="titoliPanel" />
								<p:inputText id="idDescTelDetail" converter="emptyString"
									value="#{impreseController.newImprese.descTel}"
									style="width:300px" />
								<h:outputText />
								<p:message for="idDescTelDetail" />
								<h:outputText for="idDescFaxDetail"
									value="#{messages['descFaxImp']}" styleClass="titoliPanel" />
								<p:inputText id="idDescFaxDetail" converter="emptyString"
									value="#{impreseController.newImprese.descFax}"
									style="width:300px" />
								<h:outputText />
								<p:message for="idDescFaxDetail" />
								<p:spacer height="40px"></p:spacer>
								
							</p:panelGrid>
						</p:column>
					</p:panelGrid>
					<p:commandButton value="#{messages['salva']}"
						update="panelDetailImpresa,:formImprese:impreseTableID, :formImprese:messagesDetail"
						process="panelDetailImpresa"
						action="#{impreseController.updateImpresa()}" icon="ui-icon-check">
						<p:confirm header="#{messages['updateImpresaDialogConfirm']}"
							message="#{messages['confirmUpdate']}" icon="ui-icon-alert" />
					</p:commandButton>
		<p:commandButton value="#{messages['close']}" process="@this"
			oncomplete="PF('impresaDialog').hide()" icon="ui-icon-close"
			style="margin-top:10px;" />
			<p:messages id="messagesDetail" showDetail="true" globalOnly="true"
			closable="true" />
	</p:outputPanel>
</ui:composition>