<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui" 
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:pe="http://primefaces.org/ui/extensions">

	<p:outputPanel style="text-align:center;" id="panelRegioni">
		<table>
			<tr>
				<td>
					<h:outputText value="Elenco Regioni Selezionate:" style="color: #012169 !important; font-weight:bold;" />
				</td>
			</tr>
			<ui:repeat var="regione" value="#{userController.selectedListDescRegione}" varStatus="status">
				<tr>
					<td>#{regione}</td>
				</tr>
			</ui:repeat>
		</table>
	</p:outputPanel>
</ui:composition>