<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui" template="/layout/template.xhtml">
	<ui:define name="body">

		<h:form id="formUser">
			<div align="left">
				<h:outputText styleClass="titlePage"
					value="#{messages['titleGestioneutenti']}" />
			</div>
			<div align="center">
				<p:accordionPanel id="panelFiltroUser" activeIndex="-1">
					<p:tab title="#{messages['filtro']}" titleStyle="padding: 5 5 5 5">
						<p:panelGrid columns="4">
							<h:outputText for="idStruttura" value="#{messages['struttura']}"
								styleClass="titoliPanel" />
							<p:selectOneMenu id="idStruttura"
								value="#{userController.userFilter.codiStruttura}"
								style="width: 250px;">
								<f:selectItem itemLabel="#{messages['combolistNotSelected']}"
									itemValue="#{null}" />
								<f:selectItems value="#{userController.listStruttureFilter}"
									var="struttura" itemValue="#{struttura.codiStruttura}"
									itemLabel="#{struttura.descStruttura}" />
							</p:selectOneMenu>
							<h:outputText for="idRuolo" value="#{messages['ruolo']}"
								styleClass="titoliPanel" />
							<p:selectOneMenu id="idRuolo"
								value="#{userController.userFilter.codiRuolo}"
								style="width: 250px;">
								<f:selectItem itemLabel="#{messages['combolistNotSelected']}"
									itemValue="#{null}" />
								<f:selectItems value="#{userController.listRoles}" var="role"
									itemValue="#{role.codiRole}" itemLabel="#{role.descRole}" />
							</p:selectOneMenu>
							<h:outputText for="idAreaComp" value="#{messages['areaComp']}"
								styleClass="titoliPanel" />
							<p:selectOneMenu id="idAreaComp"
								value="#{userController.userFilter.codiAreaComp}"
								style="width: 250px;">
								<f:selectItem itemLabel="#{messages['combolistNotSelected']}"
									itemValue="#{null}" />
								<f:selectItems value="#{userController.listAreeComp}"
									var="areaComp" itemValue="#{areaComp.codiAreaComp}"
									itemLabel="#{areaComp.descAreaComp}" />
							</p:selectOneMenu>
							<h:outputText for="idStatiUtente" value="#{messages['stati']}"
								styleClass="titoliPanel" />
							<p:selectOneMenu id="idStatiUtente"
								value="#{userController.userFilter.codiStatoUtente}"
								style="width: 250px;">
								<f:selectItem itemLabel="#{messages['combolistNotSelected']}"
									itemValue="#{null}" />
								<f:selectItems value="#{userController.statiUtente}"
									var="statoUtente" itemValue="#{statoUtente.codiStatoUtente}"
									itemLabel="#{statoUtente.descStatoUtente}" />
							</p:selectOneMenu>
							<h:panelGroup>
								<p:commandButton value="#{messages['cerca']}"
									process="panelFiltroUser"
									update=":formUser:userTableID,panelFiltroUser"
									action="#{userController.filter()}" />
								<p:spacer width="10px" />
								<p:commandButton value="#{messages['annulla']}"
									process="panelFiltroUser"
									action="#{userController.filterClear()}"
									update=":formUser:userTableID,idStruttura,idRuolo,idAreaComp,idStatiUtente">
								</p:commandButton>
							</h:panelGroup>
						</p:panelGrid>
					</p:tab>
				</p:accordionPanel>
			</div>
			<div style="text-align: left; padding: 15px 0px 15px 5px">
				<p:commandButton value="#{messages['nuovoUtente']}"
					action="#{userController.openNew()}" icon="fa fa-fw fa-user-plus"
					update=":formUser:panelNewUser" resetValues="true"
					oncomplete="PF('newUserDialog').show()" process="@this" />
			</div>
			<p:dataTable id="userTableID" var="user"
				emptyMessage="#{messages['noDataFound']}" widgetVar="userTableWV"
				value="#{userController.arrUtenti}" selectionMode="single"
				selection="#{userController.selectedUser}"
				rowKey="#{user.codiUtente}" paginator="true" rows="20"
				scrollable="true" scrollHeight="280" styleClass="tablestyle">
				<f:facet name="header">#{messages['listaUtenti']} (#{userController.arrUtenti.size()})
				<h:commandLink immediate="true" ajax="false">
						<h:graphicImage value="/img/excel.png" width="24"
							style="vertical-align: middle"
							title="#{messages['exportUtenti']}" />
						<p:dataExporter type="xls" target="userTableID"
							fileName="#{messages['listaUtenti']}" />
					</h:commandLink>
					<br />
					<br />
				</f:facet>
				<p:column width="7%" style="text-align: center" exportable="false">
					<p:commandButton icon="fa fa-check" process="userTableID"
						action="#{userController.abilitaUtente()}"
						title="#{messages['abilitaUtente']}" update="userTableID"
						rendered="#{user.codiStatoUtente==configurationController.userCreato or user.codiStatoUtente==configurationController.userSospeso}">
						<f:setPropertyActionListener value="#{user}"
							target="#{userController.selectedUser}" />
						<p:confirm header="#{messages['abilitazioneTitle']}"
							message="#{messages['abilitazioneConfirm']}" icon="ui-icon-alert" />
					</p:commandButton>
					<p:commandButton icon="fa fa-close" process="userTableID"
						action="#{userController.disabilitaUtente()}"
						title="#{messages['disabilitaUtente']}" update="userTableID"
						rendered="#{user.codiStatoUtente==configurationController.userAbilitato}">
						<f:setPropertyActionListener value="#{user}"
							target="#{userController.selectedUser}" />
						<p:confirm header="#{messages['disabilitazioneTitle']}"
							message="#{messages['disabilitazioneConfirm']}"
							icon="ui-icon-alert" />
					</p:commandButton>
					<p:column>
						<h:outputText value="#{messages['userCessato']}"
							rendered="#{user.codiStatoUtente==configurationController.userCessato}" />
					</p:column>
				</p:column>
				<p:column exportable="true" visible="false"
					headerText="Stato Utente">
					<h:outputText value="Creato" style="display:none"
						rendered="#{user.codiStatoUtente==configurationController.userCreato}" />
					<h:outputText value="Abilitato" style="display:none"
						rendered="#{user.codiStatoUtente==configurationController.userAbilitato}" />
					<h:outputText value="Cessato" style="display:none"
						rendered="#{user.codiStatoUtente==configurationController.userCessato}" />
					<h:outputText value="Sospeso" style="display:none"
						rendered="#{user.codiStatoUtente==configurationController.userSospeso}" />
				</p:column>
				<p:column width="10%" style="text-align: center"
					headerText="#{messages['usernameUtente']}"
					sortBy="#{user.descUser}" filterBy="#{user.descUser}"
					filterMatchMode="contains">
					<h:outputText value="#{user.descUser}" />
				</p:column>
				<p:column
					headerText="#{messages['cgnUtente']} #{messages['nomeUtente']}"
					sortBy="#{user.descCgn}" filterBy="#{user.descCgn}"
					filterMatchMode="contains">
					<h:outputText value="#{user.descCgn} #{user.descNome}"
						title="#{user.descCgn} #{user.descNome}" />
				</p:column>
				<p:column width="10%" style="text-align: center"
					headerText="#{messages['areaComp']}" sortBy="#{user.descAreaComp}"
					filterBy="#{user.descAreaComp}" filterMatchMode="contains">
					<h:outputText value="#{user.descAreaComp}" />
				</p:column>
				<p:column headerText="#{messages['zona']} #{messages['gruppo']}"
					sortBy="#{user.descZona}"
					filterBy="#{user.descZona}#{user.descGruppo}"
					filterMatchMode="contains">
					<h:outputText value="#{user.descZona} - #{user.descGruppo}"
						title="#{user.descZona} - #{user.descGruppo}" />
				</p:column>
				<p:column width="10%" style="text-align: center"
					headerText="#{messages['struttura']}"
					sortBy="#{user.descStruttura}" filterBy="#{user.descStruttura}"
					filterMatchMode="contains">
					<h:outputText value="#{user.descStruttura}" />
				</p:column>
				<p:column headerText="#{messages['ruolo']}"
					sortBy="#{user.descRole}" filterBy="#{user.descRole}"
					filterMatchMode="contains">
					<h:outputText value="#{user.descRole}" />
				</p:column>
				<p:column headerText="#{messages['ditta']}"
					sortBy="#{user.descImpresa}" filterBy="#{user.descImpresa}"
					filterMatchMode="contains">
					<h:outputText value="#{user.descImpresa}"
						title="#{user.descImpresa}" />
				</p:column>
				<p:column headerText="#{messages['creato']}"
					sortBy="#{user.timeCreazione}" filterBy="#{user.timeCreazione}"
					filterMatchMode="contains">
					<h:outputText value="#{user.timeCreazione}"
						title="#{user.timeCreazione}">
						<f:convertDateTime type="date" pattern="dd/MM/yyyy" />
					</h:outputText>
				</p:column>
				<p:column headerText="#{messages['abilitato']}"
					sortBy="#{user.timeEnable}" filterBy="#{user.timeEnable}"
					filterMatchMode="contains">
					<h:outputText value="#{user.timeEnable}" title="#{user.timeEnable}">
						<f:convertDateTime type="date" pattern="dd/MM/yyyy" />
					</h:outputText>
				</p:column>
				<p:column headerText="#{messages['disabilitato']}"
					sortBy="#{user.timeSuspended}" filterBy="#{user.timeSuspended}"
					filterMatchMode="contains">
					<h:outputText value="#{user.timeSuspended}"
						title="#{user.timeSuspended}">
						<f:convertDateTime type="date" pattern="dd/MM/yyyy" />
					</h:outputText>
				</p:column>
				<p:column headerText="#{messages['vendor']}"
					sortBy="#{user.descVendor}" filterBy="#{user.descVendor}"
					filterMatchMode="contains">
					<h:outputText value="#{user.descVendor}" title="#{user.descVendor}">
					</h:outputText>
				</p:column>
				<f:facet name="header">
					<p:commandButton value="#{messages['dettaglioUtente']}"
						id="btnDettaglio" resetValues="true"
						update="userTableID,:formUser:panelDetailUser"
						action="#{userController.openEdit()}" icon="fa fa-fw fa-edit"
						process="userTableID" />
				</f:facet>
			</p:dataTable>

			<p:dialog header="#{messages['dettaglioUtente']}" position="top"
				widgetVar="userDialog" modal="true" showEffect="blind"
				hideEffect="fade" resizable="false">
				<ui:include src="/pages/admin/detail_user.xhtml" />
			</p:dialog>

			<p:dialog header="#{messages['nuovoUtente']}" showEffect="blind"
				hideEffect="fade" widgetVar="newUserDialog" modal="true"
				resizable="false" position="top">
				<ui:include src="/pages/admin/new_user.xhtml" />
			</p:dialog>

			<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
				<div style="text-align: center">
					<p:commandButton value="#{messages['si']}" type="button"
						styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
					<p:commandButton value="#{messages['no']}" type="button"
						styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
				</div>
			</p:confirmDialog>
		</h:form>
	</ui:define>
</ui:composition>