<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui" template="/layout/template.xhtml">
	<ui:define name="body">
		<h:form id="formImprese">
			<div align="left">
				<h:outputText styleClass="titlePage"
					value="#{messages['menu_gestione_imprese']}" />
			</div>
				<div style="text-align: left; padding: 15px 0px 15px 5px">
					<p:commandButton value="#{messages['nuovaImpresa']}"
						action="#{impreseController.openNew()}" icon="fa fa-fw fa-plus"
						update=":formImprese:panelNewImpresa" resetValues="true"
						oncomplete="PF('newImpresaDialog').show()" process="@this" />
				</div>
			<p:dataTable id="impreseTableID" var="impresa"
				emptyMessage="#{messages['noDataFound']}" 
				value="#{impreseController.arrImprese}" selectionMode="single"
				selection="#{impreseController.selectedImprese}"
				rowKey="#{impresa.codiImpresa}" paginator="true" rows="20"
				scrollable="true" scrollHeight="280" styleClass="tablestyle">
				<f:facet name="header">#{messages['listaImprese']} (#{impreseController.arrImprese.size()})<br/><br/></f:facet>
				<p:column headerText="#{messages['descImpresa']}"
					sortBy="#{impresa.descImpresa}" filterBy="#{impresa.descImpresa}" filterMatchMode="contains">
					<h:outputText value="#{impresa.descImpresa}" />
				</p:column>
				<p:column headerText="#{messages['descCfImp']}" filterMatchMode="contains"
					sortBy="#{impresa.descCf}" filterBy="#{impresa.descCf}">
					<h:outputText value="#{impresa.descCf}" />
				</p:column>
				<p:column headerText="#{messages['descLocalitaImp']}"
					sortBy="#{impresa.descLocalita}" filterBy="#{impresa.descLocalita}" filterMatchMode="contains">
					<h:outputText value="#{impresa.descLocalita}" />
				</p:column>
				<p:column headerText="#{messages['descEmailImp']}" style="width:250px"
					sortBy="#{impresa.descEmail}" filterBy="#{impresa.descEmail}" filterMatchMode="contains">
					<h:outputText value="#{impresa.descEmail}" />
				</p:column>
				<p:column headerText="#{messages['descTelImp']}"
					sortBy="#{impresa.descTel}" filterBy="#{impresa.descTel}" filterMatchMode="contains" >
					<h:outputText value="#{impresa.descTel}" />
				</p:column>
				<f:facet name="header">
					<p:commandButton value="#{messages['dettaglioImp']}"
						id="btnDettaglioImp" resetValues="true"
						update="impreseTableID,:formImprese:panelDetailImpresa"
						action="#{impreseController.openEdit()}" icon="fa fa-fw fa-edit"
						process="impreseTableID" />
					<p:commandButton value="#{messages['deleteImpresa']}"
						id="btndeleteImp"
						update="impreseTableID,:formImprese:impreseTableID"
						action="#{impreseController.rimuovi()}" icon="fa fa-fw fa-trash"
						process="impreseTableID">
						<p:confirm header="#{messages['deleteImpresaDialogConfirm']}"
							message="#{messages['confirmDelete']}" icon="ui-icon-alert" />
					</p:commandButton>
				</f:facet>
			</p:dataTable>
			
			<p:dialog header="#{messages['nuovaImpresa']}"  showEffect="blind" position="top"
				widgetVar="newImpresaDialog" modal="true" resizable="false" hideEffect="fade">
				<ui:include src="/pages/admin/new_impresa.xhtml" />
			</p:dialog>
			
			<p:dialog header="#{messages['dettaglioImp']}" position="top"
				widgetVar="impresaDialog" modal="true" showEffect="blind"
				hideEffect="fade" resizable="false">
				<ui:include src="/pages/admin/detail_impresa.xhtml" />
			</p:dialog>
			
			<p:confirmDialog global="true" showEffect="blind" hideEffect="fade">
				<div style="text-align:center">
					<p:commandButton value="#{messages['si']}" type="button"
						styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
					<p:commandButton value="#{messages['no']}" type="button"
						styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
				</div>
			</p:confirmDialog>
			
			
		</h:form>
	</ui:define>
</ui:composition>