<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui" template="/layout/template.xhtml"
	xmlns:h3="http://primefaces.org/ui">
	<ui:define name="body">
	<p:messages id="messagesMailDiSistema" showDetail="true" globalOnly="true"
			closable="true" />
		<h:form id="mailForm">
			<div>
				<h:outputText styleClass="titlePage"
					value="#{messages['titleMailDiSistema']}" />
			</div>
			<h:panelGrid cellpadding="10">
				<p:row>
				<p:column colspan="3">
					<h:outputLabel for="oggetto" value="#{messages['titleOggetto']}"
						style="font-weight:bold;" />
					<p:inputText id="oggetto"
						value="#{mailDiSistemaController.textOggetto}" required="true" />
					<p:messages for="oggetto" closable="true" />
					
					</p:column>
				</p:row>
				<p:row>
					<p:column colspan="3">
						<h:outputLabel for="editor" value="#{messages['titleMessaggio']}"
							style="font-weight:bold;" />
						<br/>
						<br/>
						<p:editor id="editor" widgetVar="editorWidget"
							value="#{mailDiSistemaController.textBody}" width="600"
							required="true" />
						<p:messages for="editor" closable="true" />
					</p:column>
				</p:row>
				<p:row>
				<p:column colspan="3">
					<h:outputLabel for="areaDiCompetenza"
						value="#{messages['titleAreaDiCompetenza']}"
						style="font-weight:bold" />
					<p:selectCheckboxMenu widgetVar="someVarAreaDiComp"
						id="areaDiCompetenza"
						value="#{mailDiSistemaController.selectedAreaComp}"
						label="#{mailDiSistemaController.areaDiCompLabel}" multiple="true"
						filter="true" filterMatchMode="startsWith"
						panelStyle="width:250px">
						<f:selectItems value="#{mailDiSistemaController.listAreeComp}" />
						<p:ajax event="change" oncomplete="PF('someVarAreaDiComp').show()"
							listener="#{mailDiSistemaController.populateLabelAreaDiComp}"
							update="areaDiCompetenza"></p:ajax>
						<p:ajax event="toggleSelect"
							oncomplete="PF('someVarAreaDiComp').show()"
							listener="#{mailDiSistemaController.populateLabelAreaDiComp}"
							update="areaDiCompetenza"></p:ajax>
					</p:selectCheckboxMenu>
					</p:column>
				</p:row>
				<p:row>
				<p:column colspan="3">
					<h:outputLabel for="ruoli" value="#{messages['titleRuoli']}"
						style="font-weight:bold" />
					<p:selectCheckboxMenu widgetVar="someVarRole" id="ruoli"
						value="#{mailDiSistemaController.selectedRoles}"
						label="#{mailDiSistemaController.roleLabel}" multiple="true"
						updateLabel="true" filter="true" filterMatchMode="startsWith"
						panelStyle="width:250px">
						<f:selectItems value="#{mailDiSistemaController.listRoles}" />
						<p:ajax event="change" oncomplete="PF('someVarRole').show()"
							listener="#{mailDiSistemaController.populateLabelRole}"
							update="ruoli"></p:ajax>
						<p:ajax event="toggleSelect" oncomplete="PF('someVarRole').show()"
							listener="#{mailDiSistemaController.populateLabelRole}"
							update="ruoli"></p:ajax>
					</p:selectCheckboxMenu>
					</p:column>
				</p:row>
			</h:panelGrid>
			<p:commandButton
				action="#{mailDiSistemaController.invioMailDiSistema}"
				process=":mailForm" update=":mailForm, :messagesMailDiSistema"
				value="#{messages['inviaMail']}">
				<p:confirm header="#{messages['invioMailDiSistema']}"
				message="#{messages['mailConferm']}" icon="ui-icon-alert" />
			</p:commandButton>
		<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
        <div style="text-align: center">
					<p:commandButton value="#{messages['si']}" type="button"
						styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
					<p:commandButton value="#{messages['no']}" type="button"
						styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
				</div>
    </p:confirmDialog>   
		</h:form>
	</ui:define>
</ui:composition>