<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui" xmlns:jsf="http://xmlns.jcp.org/jsf">
	<p:outputPanel style="text-align:center;" id="panelNewImpresa">
	<p:panelGrid columns="2" id="panelDatiImpresa" style="width:1100px">
			<p:column>
				<p:panelGrid columns="2">
					<h:outputText for="idDescImpresaNew"
						value="#{messages['descImpresa']} *" styleClass="titoliPanel" />
					<p:inputText id="idDescImpresaNew"
						value="#{impreseController.newImprese.descImpresa}"
						style="width:300px" />
					<h:outputText />
					<p:message for="idDescImpresaNew" />
					<h:outputText for="idDescCfNew" value="#{messages['descCfImp']}"
						styleClass="titoliPanel" />
					<p:inputText id="idDescCfNew" converter="emptyString"
						value="#{impreseController.newImprese.descCf}" style="width:300px"
						maxlength="16" />
					<h:outputText />
					<p:message for="idDescCfNew" />
					<h:outputText for="idDescLocNew"
						value="#{messages['descLocalitaImp']}" styleClass="titoliPanel" />
					<p:inputText id="idDescLocNew" converter="emptyString"
						maxlength="50"
						value="#{impreseController.newImprese.descLocalita}"
						style="width:300px" />
					<h:outputText />
					<p:message for="idDescLocNew" />
					<h:outputText for="idDescIndNew"
						value="#{messages['descIndirizzoImp']}" styleClass="titoliPanel" />
					<p:inputText id="idDescIndNew" converter="emptyString"
						value="#{impreseController.newImprese.descIndirizzo}"
						style="width:300px" />
					<h:outputText />
					<p:message for="idDescIndNew" />
					<h:outputText for="idCertified" value="#{messages['certifiedImpresa']}" styleClass="titoliPanel" />
					<p:selectOneRadio id="idCertified"
						value="#{impreseController.newImprese.flgIsCertified}">
						<f:selectItem itemLabel="#{messages['si']}" itemValue="true" />
						<f:selectItem itemLabel="#{messages['no']}" itemValue="false" />
					</p:selectOneRadio>
					<h:outputText />
					<p:message for="idCertified" />
				</p:panelGrid>
			</p:column>
			<p:column>
				<p:panelGrid columns="2">
					<h:outputText for="idDescCapNew" value="#{messages['descCapImp']}"
						styleClass="titoliPanel" />
					<p:inputText id="idDescCapNew" converter="emptyString"
						value="#{impreseController.newImprese.descCap}" style="width:60px"
						maxlength="5" />
					<h:outputText />
					<p:message for="idDescCapNew" />
					<h:outputText for="idDescEmailNew"
						value="#{messages['descEmailImp']} *" styleClass="titoliPanel" />
					<p:inputText id="idDescEmailNew"
						value="#{impreseController.newImprese.descEmail}"
						style="width:300px" />
					<h:outputText />
					<p:message for="idDescEmailNew" />
					<h:outputText for="idDescTelNew" value="#{messages['descTelImp']} *"
						styleClass="titoliPanel" />
					<p:inputText id="idDescTelNew" converter="emptyString"
						value="#{impreseController.newImprese.descTel}"
						style="width:300px" />
					<h:outputText />
					<p:message for="idDescTelNew" />
					<h:outputText for="idDescFaxNew" value="#{messages['descFaxImp']}"
						styleClass="titoliPanel" />
					<p:inputText id="idDescFaxNew" converter="emptyString"
						value="#{impreseController.newImprese.descFax}"
						style="width:300px" />
					<h:outputText />
					<p:message for="idDescFaxNew" />
					<p:spacer height="40px"></p:spacer>
				</p:panelGrid>
			</p:column>
		</p:panelGrid>
		<p:commandButton value="#{messages['salva']}" id="btnSaveImpresa"
			update="panelNewImpresa,:formImprese:impreseTableID, :formImprese:messagesNew"
			process="panelNewImpresa"
			actionListener="#{impreseController.save()}" icon="ui-icon-check"
			style="margin-top:10px; margin-right:10px;">
			<p:confirm header="#{messages['saveImpresaDialogConfirm']}"
				message="#{messages['confirmSave']}" icon="ui-icon-alert" />
		</p:commandButton>
		<p:commandButton value="#{messages['close']}" process="@this"
			oncomplete="PF('newImpresaDialog').hide()" icon="ui-icon-close"
			style="margin-top:10px;" />
		<p:messages id="messagesNew" showDetail="true" globalOnly="true"
			closable="true" />
	</p:outputPanel>
</ui:composition>