<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:s="http://jboss.org/schema/seam/taglib"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui" template="/layout/template.xhtml">

	<ui:define name="body">
		<p:panelGrid columns="2">
			<p:graphicImage value="/img/divieto.png" width="80px" height="80px" />
			<h:outputText value="#{messages['accessoNegato']}" styleClass="label403" />
		</p:panelGrid>
	</ui:define>
</ui:composition>
