<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:s="http://jboss.org/schema/seam/taglib"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui" template="/layout/template.xhtml">
	<ui:define name="body">

		

	<h:form>
			<p:growl id="messages" showDetail="true" />

			<p:layout style="width:100%;height:100%;">
				<p:layoutUnit position="north">
					<f:facet name="header">
						<h:panelGroup>
								<h:panelGrid border="0" columns="5" width="100%"
								columnClasses="myhomeHeaderCol1,myhomeHeaderCol2,myhomeHeaderCol3">
								<h:graphicImage url="/img/user_logged.png" width="50px;"
									height="50px;" />
								<h:outputText
									value="#{menuController.currentUser.username} (#{menuController.currentUser.nome} #{menuController.currentUser.cognome})" />
								<p:column>
									<h:outputLabel value="Benvenuti su SAW"
										style="font-weight: bold;margin-left:20px;" />
									<br />
									<p:commandLink rendered="true" value="#{messages['downloadManualeUtente']}"
										icon="ui-icon-close" immediate="true" ajax="false"
										update="messages" style="margin-top:10px;text-align:right;">
										<p:fileDownload value="#{menuController.file}" />
									</p:commandLink>
								
									<p:commandLink rendered="true" value="#{messages['downloadManualeUtenteTablet']}"
										icon="ui-icon-close" immediate="true" ajax="false"
										update="messages" style="margin-top:10px;margin-left:20px;">
										<p:fileDownload value="#{menuController.getManualeAndroid()}" />
									</p:commandLink>
									<p:commandLink value="#{messages['downloadApk']} "
										title="#{messages['titleApk']}" icon="ui-icon-close"
										immediate="true" ajax="false" update="messages"
										style="margin-top:10px; margin-left:20px;">
										<p:fileDownload value="#{menuController.apk}" />
									</p:commandLink>
								</p:column>
							</h:panelGrid>
						</h:panelGroup>
					</f:facet>
				</p:layoutUnit>
				<p:layoutUnit position="center">
					
				</p:layoutUnit>
				<p:layoutUnit position="south" size="150">
					
				</p:layoutUnit>
				<p:layoutUnit position="east" size="350">
					
				</p:layoutUnit>
				
				<p:layoutUnit position="west" size="300">
						
				</p:layoutUnit>
			</p:layout>


			

			
		</h:form>

	</ui:define>
</ui:composition>