<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui" xmlns:jsf="http://xmlns.jcp.org/jsf">
	<p:outputPanel id="panelAllegatiSession">
		<p:panel>
		<p:panelGrid columns="2">
			<p:column>
					<p:commandLink actionListener="#{sessioniController.printVerbaleRadiantiA()}"
						process="@this" immediate="true" ajax="false"
						rendered="#{sessioniController.selectedSessione.flgAllegatoA}">
   						 <h:graphicImage value="/img/allegato_a.png" title="#{messages['generaReport']}"/>
					</p:commandLink>
					<p:commandLink update="sessioniTableID" actionListener="#{sessioniController.printVerbaleRadiantiB()}"
						process="@this" immediate="true" ajax="false"
						rendered="#{sessioniController.selectedSessione.flgAllegatoB}">
						<h:graphicImage value="/img/allegato_b.png" title="#{messages['generaReport']}"/>
					</p:commandLink>
					<p:commandLink update="sessioniTableID" actionListener="#{sessioniController.printVerbaleRadiantiC()}"
						process="@this" immediate="true" ajax="false"
						rendered="#{sessioniController.selectedSessione.flgAllegatoC}">
   						 <h:graphicImage value="/img/allegato_c.png" title="#{messages['generaReport']}"/>
					</p:commandLink>
					<p:commandLink title="#{messages['downloadDoc']}" immediate="true" ajax="false" update="messages"  rendered="#{sessioniController.selectedSessione.flgAllegatoD1 and sessioniController.flagVerbaleD1}">
								<h:graphicImage value="/img/allegato_d1.png" title="#{messages['generaReport']}"/>
								<p:fileDownload value="#{sessioniController.downloadVerbaleD1()}"  />
					</p:commandLink>
					<p:commandLink update="sessioniTableID" actionListener="#{sessioniController.printVerbaleRadiantiD()}"
						process="@this" immediate="true" ajax="false"
						rendered="#{sessioniController.selectedSessione.flgAllegatoD}">
   						 <h:graphicImage value="/img/allegato_d2.png" title="#{messages['generaReport']}"/>
					</p:commandLink>
					<p:commandLink update="sessioniTableID" actionListener="#{sessioniController.printVerbaleRadiantiE()}"
						process="@this" immediate="true" ajax="false"
						rendered="#{sessioniController.selectedSessione.flgAllegatoE}">
   						 <h:graphicImage value="/img/allegato_e.png" title="#{messages['generaReport']}"/>
					</p:commandLink>
				</p:column>
				<p:column>
					<p:commandLink
						actionListener="#{sessioniController.printApparatoEricsson()}"
						process="@this" immediate="true" ajax="false"
						rendered="#{sessioniController.selectedSessione.flgApparatoEricsson}">
						<h:graphicImage value="/img/verbale_ericsson.png"
							title="#{messages['generaReport']}"/>
					</p:commandLink>
					
					<p:commandLink
						actionListener="#{sessioniController.printApparatoNokia()}"
						process="@this" immediate="true" ajax="false"
						rendered="#{sessioniController.selectedSessione.flgApparatoNsn}">
						<h:graphicImage value="/img/verbale_nokia.png"
							title="#{messages['generaReport']}"/>
					</p:commandLink>
					
					<p:commandLink
						actionListener="#{sessioniController.printApparatoHuawei()}"
						process="@this" immediate="true" ajax="false"
						rendered="#{sessioniController.selectedSessione.flgApparatoHuawei}">
						<h:graphicImage value="/img/verbale_huawei.png"
							title="#{messages['generaReport']}"/>
					</p:commandLink>
					
				</p:column>
				
				
			</p:panelGrid>
			
		</p:panel>
		<p:commandButton value="#{messages['close']}"
							 oncomplete="PF('allegatiSessioneDialog').hide()" icon="ui-icon-close"
							 style="margin-top:10px;" />
	</p:outputPanel>
</ui:composition>