<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui" xmlns:jsf="http://xmlns.jcp.org/jsf">
	<p:outputPanel  style="max-width:750px;max-height:500px; overflow: auto" id="associazioneDitte">
		<p:tree value="#{sessioniController.rootSessione}" var="node"
			orientation="horizontal" >
			<p:treeNode>
				<h:outputText value="#{node}" />
			</p:treeNode>
		</p:tree>
	</p:outputPanel>

</ui:composition>