<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui" xmlns:jsf="http://xmlns.jcp.org/jsf">
	<h:form id="assocManualeForm">
	<p:outputPanel id="panelAssocManualeUtenti">
		<p:layout style="min-width:1000px;min-height:500px;">
			<p:layoutUnit position="north">
				<h:panelGrid columns="6">
					<h:outputText for="idNomeSitoSession"
						value="#{messages['descNomeSito']}" styleClass="titoliPanel" />
					<p:inputText value="#{sessioniController.selectedSessione.descNomeSito}"
						id="idNomeSitoSession" style="width:250px" readonly="true" title="#{sessioniController.selectedSessione.descNomeSito}" />
					<h:outputText for="idDescAreaCompSession"
						value="#{messages['descAreaComp']} " styleClass="titoliPanel" />
					<p:inputText value="#{sessioniController.selectedSessione.descAreaComp}"
						id="idDescAreaCompSession" style="width:250px" readonly="true" title="#{sessioniController.selectedSessione.descAreaComp}"/>
				</h:panelGrid>
			</p:layoutUnit>
			<p:layoutUnit position="center"  header="#{messages['assocUtentiSessioni']}">
				<p:spacer height="20px" />
				<p:panelGrid columns="2">
					<p:outputLabel 
						value="#{messages['comboRuoloAssocSession']}"
						styleClass="titoliPanel" />
					<p:selectOneMenu id="idTelecomOrImpAssoc" style="width:250px"
						value="#{sessioniController.telecomOrImpUser}">
						<f:selectItem itemLabel="#{messages['combolistNotSelected']}"
							itemValue="#{null}" />
						<f:selectItem itemLabel="RefTerOp"
							itemValue="1" />
						<f:selectItem itemLabel="AOU"
							itemValue="2" />
						<f:selectItem itemLabel="Vendor"
							itemValue="3" />
							<p:ajax event="change"
							update="userPickListAssoc1, idTelecomOrImpAssoc"
							listener="#{sessioniController.listenerTipoTecnicoManuale()}" />
					</p:selectOneMenu>
				</p:panelGrid>
				<p:spacer height="20px" />

				<p:pickList id="userPickListAssoc1"
					value="#{sessioniController.utentiToAssoc}" var="user"
					effect="bounce" itemValue="#{user}" itemLabel="#{user}"
					showCheckbox="true" showSourceFilter="true" showTargetFilter="true"
					filterMatchMode="contains">
					<f:facet name="sourceCaption">#{messages['userDisp']}</f:facet>
					<f:facet name="targetCaption">#{messages['userAssoc']}</f:facet>
					<p:ajax event="transfer" update="userPickListAssoc1" />
					<p:column style="width:90%;">
						<h:outputText value="#{user}" />
					</p:column>
				</p:pickList>
				<p:commandButton value="#{messages['salva']}"
					update="panelAssocManualeUtenti,:formCollaudiInLavorazione:sessioniTableID, messagesAssoc"
					process="panelAssocManualeUtenti"
					action="#{sessioniController.saveAssocUtenteManuale()}"
					icon="ui-icon-check" style="margin-top:10px; margin-right:10px;">
					<p:confirm header="#{messages['assocUtenteSessionDialogConfirm']}"
						message="#{messages['confirmAssoc']}" icon="ui-icon-alert" />
				</p:commandButton>
				<p:commandButton value="#{messages['close']}" process="@this"
					oncomplete="PF('assocUsersManualeDialog').hide()" icon="ui-icon-close"
					style="margin-top:10px;" />
				
			</p:layoutUnit>
		</p:layout>
		<p:messages showDetail="true" globalOnly="true" id="messagesAssoc" />

	</p:outputPanel>
	</h:form>
</ui:composition>