<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui" xmlns:jsf="http://xmlns.jcp.org/jsf">
	<p:outputPanel id="panelParziali">
		
		
		<p:dataTable id="ritardiTableID" var="ritardo"
				value="#{sessioniController.listRitardi}"
				paginator="true" rows="20"
				scrollable="true" scrollHeight="280">
				<f:facet name="header">#{messages['titlePopUpRitardi']} <br />
					Nome Sito : #{sessioniController.selectedSessione.descNomeSito}<br />
					Area Competenza : #{sessioniController.selectedSessione.descAreaComp}<br />
				</f:facet>
				<p:column headerText="#{messages['labMotivazione']}"
					sortBy=""
					filterBy="" filterMatchMode="contains" >
					<h:outputText value="#{ritardo.tabAnagRitardi.descRitardo}" />
				</p:column>
				
				<p:column headerText="#{messages['labAzione']}" rendered="#{ritardo.tabAnagRitardi.flagCheckOut}"
					 filterMatchMode="contains" >
					<h:outputText value="#{messages['labCheckIn']}" />
				</p:column>
				<p:column headerText="#{messages['labAzione']}" rendered="#{!ritardo.tabAnagRitardi.flagCheckOut}"
					filterMatchMode="contains" >
					<h:outputText value="#{messages['labCheckOut']}" />
				</p:column>
		</p:dataTable>
	</p:outputPanel>
</ui:composition>