<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui" xmlns:jsf="http://xmlns.jcp.org/jsf">
	<p:outputPanel style="text-align:center;" id="panelCollaudiInLavorazione">
		<p:messages id="messagesDetail" showDetail="true" 
			closable="true" />
		<p:panelGrid columns="2" style="width:100%">			
			<p:column>
				<p:panelGrid columns="2">
					<p:outputLabel value="#{messages['dataCreazione']}"
						styleClass="titoliPanel" />
					<p:calendar showOn="button" disabled="true"
						value="#{sessioniController.selectedSessione.timeAcquisizione}"
						pattern="dd-MM-yyyy HH:mm" />
					<h:outputText value="#{messages['descIdCo']}"
						styleClass="titoliPanel" />
					<p:inputText readonly="true"
						value="#{sessioniController.selectedSessione.codiCollaudo}"
						style="width:330px" />

					<h:outputText value="#{messages['descAreaComp']} "
						styleClass="titoliPanel" />
					<p:inputText readonly="true"
						value="#{sessioniController.selectedSessione.descAreaComp}"
						style="width:330px" />
					<h:outputText value="#{messages['descRegione']} "
						styleClass="titoliPanel" />
					<p:inputText value="#{sessioniController.selectedSessione.descRegione}"
						style="width:330px" readonly="true" />
					<h:outputText value="#{messages['descComune']} "
						styleClass="titoliPanel" />
					<p:inputText value="#{sessioniController.selectedSessione.descComune}"
						style="width:330px" readonly="true" />
					<h:outputText value="#{messages['descLatLong']} "
						styleClass="titoliPanel" />
					<p:inputText readonly="true"
						value="#{sessioniController.selectedSessione.descLatitudine}, #{sessioniController.selectedSessione.descLongitudine}"
						style="width:330px" />
					<h:outputText value="#{messages['descTipoImpianto']}"
						styleClass="titoliPanel" />
					<p:inputText readonly="true"
						value="#{sessioniController.selectedSessione.descImpianto}"
						style="width:330px" />
					<h:outputText value="#{messages['descSistema']}"
						styleClass="titoliPanel" />
					<p:inputText readonly="true"
						value="#{sessioniController.selectedSessione.descSistema}"
						style="width:330px" />
					<p:outputLabel value="#{messages['dataProgRadEs']}"
						styleClass="titoliPanel" />
					<p:calendar disabled="true"
						value="#{sessioniController.selectedBean.dataSchedaPrRaEs}"
						pattern="dd-MM-yyyy HH:mm" showOn="button"/>
					<p:outputLabel value="#{messages['dataPrevistoCollaudo']}"
						styleClass="titoliPanel" />
					<p:calendar disabled="true"
						value="#{sessioniController.selectedBean.timePrevistoCollaudo}"
						pattern="dd-MM-yyyy HH:mm" showOn="button"/>
					<h:outputText value="#{messages['descFinalitaColl']}"
						styleClass="titoliPanel" />
					<p:inputText readonly="true"
						value="#{sessioniController.selectedSessione.descFinalitaColl}"
						style="width:330px" />
					<h:outputText value="#{messages['descCodice']}"
						styleClass="titoliPanel" />
					<p:inputText readonly="true" value="#{sessioniController.selectedSessione.descCodice}"
						style="width:330px" />
					<h:outputText value="#{messages['descClli']}"
						styleClass="titoliPanel" />
					<p:inputText value="#{sessioniController.selectedSessione.clliSito}"
						style="width:330px" readonly="true"/>
				</p:panelGrid>
			</p:column>
			<p:column>
				<p:panelGrid columns="2">
					<h:outputText value="#{messages['descStato']}"
						styleClass="titoliPanel" />
					<p:inputText value="#{sessioniController.selectedSessione.descStato}"
						style="width:330px" readonly="true"/>
					<h:outputText value="#{messages['descCodiceDBR']}"
						styleClass="titoliPanel" />
					<p:inputText readonly="true"
						value="#{sessioniController.selectedSessione.codiceDbr}"
						style="width:330px" />
					<h:outputText value="#{messages['descUnitaTerr']}"
						styleClass="titoliPanel" />
					<p:inputText readonly="true"
						value="#{sessioniController.selectedSessione.descZona}"
						style="width:330px" />
					<h:outputText value="#{messages['descProvincia']} "
						styleClass="titoliPanel" />
					<p:inputText readonly="true"
						value="#{sessioniController.selectedSessione.descProvincia}"
						style="width:330px" />
					<h:outputText value="#{messages['descIndirizzo']} "
						styleClass="titoliPanel" />
					<p:inputText readonly="true"
						value="#{sessioniController.selectedSessione.descIndirizzo}"
						style="width:330px" />
					<h:outputText value="#{messages['descNomeSito']}"
						styleClass="titoliPanel" />
					<p:inputText readonly="true"
						value="#{sessioniController.selectedSessione.descNomeSito}"
						style="width:330px" />
					<h:outputText value="#{messages['descOperTim']} "
						styleClass="titoliPanel" />
					<p:inputText value="#{sessioniController.selectedSessione.descOperTim}"
						style="width:330px" readonly="true" />
					<h:outputText value="#{messages['descBanda']}"
						styleClass="titoliPanel" />
					<p:inputText value="#{sessioniController.selectedSessione.descBanda}"
						style="width:330px" readonly="true" />
					<h:outputText value="#{messages['descProgettoRadio']}"
						styleClass="titoliPanel" />
					<p:inputText value="#{sessioniController.selectedSessione.descProgettoRadio}"
						style="width:330px" readonly="true" />
						
					<h:outputText value="#{messages['descDettaglioColl']}"
						styleClass="titoliPanel" />
					<p:inputText value="#{sessioniController.selectedSessione.descDettaglioColl}"
						style="width:330px" readonly="true" />

					<h:outputText value="#{messages['apparato']} "
						styleClass="titoliPanel" />
					<p:panelGrid columns="6">
						<h:outputText value="#{messages['flagApparatoERICSSON']} "
							styleClass="titoliPanel" />
						<p:selectBooleanCheckbox disabled="true"
							value="#{sessioniController.selectedSessione.flgApparatoEricsson}">
						</p:selectBooleanCheckbox>
						<h:outputText value="#{messages['flagApparatoHUAWEI']} "
							styleClass="titoliPanel" />
						<p:selectBooleanCheckbox disabled="true"
							value="#{sessioniController.selectedSessione.flgApparatoHuawei}">
						</p:selectBooleanCheckbox>

						<h:outputText value="#{messages['flagApparatoNSN']} "
							styleClass="titoliPanel" />
						<p:selectBooleanCheckbox disabled="true"
							value="#{sessioniController.selectedSessione.flgApparatoNsn}">
						</p:selectBooleanCheckbox>
					</p:panelGrid>
					<h:outputText value="#{messages['allegato']} "
						styleClass="titoliPanel" />
					<p:panelGrid columns="10">
						<h:outputText value="#{messages['flagAllegatoA']} "
							styleClass="titoliPanel" />
						<p:selectBooleanCheckbox disabled="true"
							value="#{sessioniController.selectedSessione.flgAllegatoA}" />
						<h:outputText value="#{messages['flagAllegatoB']} "
							styleClass="titoliPanel" />
						<p:selectBooleanCheckbox disabled="true"
							value="#{sessioniController.selectedSessione.flgAllegatoB}" />
						<h:outputText value="#{messages['flagAllegatoC']} "
							styleClass="titoliPanel" />
						<p:selectBooleanCheckbox disabled="true"
							value="#{sessioniController.selectedSessione.flgAllegatoC}" />
						<h:outputText value="#{messages['flagAllegatoD1']} "
							styleClass="titoliPanel" />
						<p:selectBooleanCheckbox disabled="true"
							value="#{sessioniController.selectedSessione.flgAllegatoD1}" />
						<h:outputText value="#{messages['flagAllegatoD2']} "
							styleClass="titoliPanel" />
						<p:selectBooleanCheckbox disabled="true"
							value="#{sessioniController.selectedSessione.flgAllegatoD}" />
						<h:outputText value="#{messages['flagAllegatoE']} "
							styleClass="titoliPanel" />
						<p:selectBooleanCheckbox disabled="true"
							value="#{sessioniController.selectedSessione.flgAllegatoE}" />
					</p:panelGrid>
				</p:panelGrid>
			</p:column>
			</p:panelGrid>
			<p:commandButton value="#{messages['buttonRipristinaCollaudo']}"
			update="messagesDetail, formCollaudiInLavorazione:sessioniTableID"
			process="panelCollaudiInLavorazione"
			action="#{sessioniController.rollbackCollaudo()}"
			icon="ui-icon-check" style="margin-top:10px;"
			rendered="#{sessioniController.selectedBean.flgCollDisponibile and sessioniController.selectedSessione.versione==1 and sessioniController.currentUser.getViwUtente().getCodiRole()==1}">
			<p:confirm header="#{messages['dialogConfirm']}"
				message="#{messages['confirmUpdate']}" icon="ui-icon-alert" />
			</p:commandButton>
			<p:commandButton value="#{messages['close']}" process="@this"
				oncomplete="PF('collaudiInLavorazioneDialog').hide()"
				icon="ui-icon-close" style="margin-top:10px;" />
	</p:outputPanel>
</ui:composition>