<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui" xmlns:jsf="http://xmlns.jcp.org/jsf">
	<p:outputPanel style="text-align:center;" id="downloadDialog">
		<p:panelGrid columns="1" style="width: 100%;">
			<p:dataTable id="documentTableID" scrollHeight="150" var="document"
				emptyMessage="#{messages['noDataFound']}"
				value="#{sessioniController.listDocument}"
				selection="#{sessioniController.selectedDocument}"
				rowKey="#{document.codiRepositoryDocument}"
				style="width: 600px; padding-top: 10px;" scrollable="true">
				<f:facet name="header">#{messages['listaDocumenti']}(#{sessioniController.listDocument.size()}) <br />#{messages['descNomeSito']}:#{sessioniController.selectedSessione.descNomeSito} #{messages['descCodice']}:#{sessioniController.selectedSessione.descCodice}</f:facet>
				<p:column headerText="#{messages['nomeDoc']}"
					sortBy="#{document.descNome}" width="50%">
					<h:outputText value="#{document.descNome}" />
				</p:column>
				<p:column headerText="#{messages['dataCreazioneDoc']}"
					sortBy="#{document.timeCreate}" width="35%">
					<h:outputText value="#{document.timeCreate}" />
				</p:column>
				<p:column headerText="#{messages['downloadDoc']}" width="15%">
					<p:commandLink title="#{messages['downloadDoc']}"
						icon="ui-icon-close" immediate="true" ajax="false"
						style="margin-top:10px;">
						<p:fileDownload
							value="#{sessioniController.downloadDoc(document)}" />

						<span class="ui-icon ui-icon-arrowthickstop-1-s"
							style="display: block; margin: 0px auto; text-align: center;"></span>
					</p:commandLink>
				</p:column>
			</p:dataTable>
			<p:dataTable id="downloadOggettiToAss" scrollHeight="150"
				emptyMessage="#{messages['noDataFound']}" var="foto"
				value="#{sessioniController.listFoto}"
				selection="#{sessioniController.selectedFoto}"
				rowKey="#{document.codiRepositoryDocument}"
				style="width: 600px; padding-top: 10px;" scrollable="true">
				<f:facet name="header">#{messages['listaFoto']}(#{sessioniController.listFoto.size()}) <br />#{messages['descNomeSito']}:#{sessioniController.selectedSessione.descNomeSito} #{messages['descCodice']}:#{sessioniController.selectedSessione.descCodice}</f:facet>
				<p:column headerText="#{messages['nomeDoc']}"
					sortBy="#{foto.descName}" width="50%">
					<h:outputText value="#{foto.descName}" />
				</p:column>
				<p:column headerText="#{messages['categoriaFoto']}"
					sortBy="#{foto.descCategoria}" width="35%">
					<h:outputText value="#{foto.descCategoria}" />
				</p:column>
				<p:column headerText="#{messages['downloadDoc']}" width="15%">
					<p:commandLink title="#{messages['downloadDoc']}"
						icon="ui-icon-close" immediate="true" ajax="false"
						style="margin-top:10px;">
						<p:fileDownload
							value="#{sessioniController.downloadMedia(foto)}" />

						<span class="ui-icon ui-icon-arrowthickstop-1-s"
							style="display: block; margin: 0px auto; text-align: center;"></span>
					</p:commandLink>
				</p:column>
			</p:dataTable>
		</p:panelGrid>
	</p:outputPanel>
</ui:composition>