<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui" xmlns:jsf="http://xmlns.jcp.org/jsf">
	<p:outputPanel style="text-align:center;" id="downloadDocumentiDynDialog">
		<p:panelGrid columns="1" style="width: 100%;">
			<p:dataTable id="documentDynTableID" scrollHeight="100" var="document"
				emptyMessage="#{messages['noDataFound']}"
				value="#{sessioniController.listDocumentDyn}"
				selection="#{sessioniController.selectedDocument}"
				rowKey="#{document.codiRepoSchedaRischi}"
				style="width: 700px; padding-top: 10px;" scrollable="true">
				<f:facet name="header">#{messages['listaDocumenti']}(#{sessioniController.listDocumentDyn.size()}) <br />#{messages['descNomeSito']}:#{sessioniController.selectedSessione.descNomeSito} #{messages['descCodice']}:#{sessioniController.selectedSessione.descCodice}</f:facet>
				<p:column headerText="#{messages['nomeDoc']}"
					sortBy="#{document.descNome}" width="35%">
					<h:outputText value="#{document.descNome}" />
				</p:column>
				<p:column headerText="#{messages['dataCreazioneDoc']}"
					sortBy="#{document.timeCreate}" width="35%">
					<h:outputText value="#{document.timeCreate}" />
				</p:column>
				<p:column headerText="#{messages['versione']}" width="15%" style="text-align: center;">
					<h:outputText value="#{document.versione}" />
				</p:column>
				<p:column headerText="#{messages['downloadDoc']}" width="15%">
					<p:commandLink title="#{messages['downloadDoc']}"
						icon="ui-icon-close" immediate="true" ajax="false"
						style="margin-top:10px;">
						<p:fileDownload
							value="#{sessioniController.downloadDocDyn(document)}" />

						<span class="ui-icon ui-icon-arrowthickstop-1-s"
							style="display: block; margin: 0px auto; text-align: center;"></span>
					</p:commandLink>
				</p:column>
			</p:dataTable>
		</p:panelGrid>
		<p:panel header="#{messages['datiGeneraliScheda']}" style="width: 700px;">
		<p:panelGrid columns="2">
				<h:outputText value="#{messages['accessibilita']}"
					styleClass="titoliPanel" />
				<p:inputTextarea readonly="true" autoResize="true"
					value="#{sessioniController.tabSchedaDin.accessibilita}"
					style="width:500px;" rows="1"/>
				<h:outputText value="#{messages['codiceMazzoDiChiavi']}"
					styleClass="titoliPanel" />
				<p:inputTextarea readonly="true" autoResize="true"
					value="#{sessioniController.tabSchedaDin.codiceMazzoChiavi}"
					style="width:500px;" rows="1"/>
				<h:outputText value="#{messages['disagiato']}"
					styleClass="titoliPanel" />
				<p:inputTextarea readonly="true" autoResize="true"
					value="#{sessioniController.tabSchedaDin.disagiato}"
					style="width:500px;" rows="1"/>
				<h:outputText value="#{messages['fasciaIntevento']}"
					styleClass="titoliPanel" />
				<p:inputTextarea readonly="true" autoResize="true"
					value="#{sessioniController.tabSchedaDin.fasciaIntervento}"
					style="width:500px;" rows="1"/>
				<h:outputText value="#{messages['itinerario']}"
					styleClass="titoliPanel" />
				<p:inputTextarea readonly="true" autoResize="true"
					value="#{sessioniController.tabSchedaDin.itinerario}"
					style="width:500px;" rows="1"/>
				<h:outputText value="#{messages['noteAccessibilita']}"
					styleClass="titoliPanel" />
				<p:inputTextarea readonly="true" autoResize="true"
					value="#{sessioniController.tabSchedaDin.noteAccessibilita}"
					style="width:500px;" rows="1"/>
				<h:outputText value="#{messages['noteAccesso']}"
					styleClass="titoliPanel" />
				<p:inputTextarea readonly="true" autoResize="true"
					value="#{sessioniController.tabSchedaDin.noteAccesso}"
					style="width:500px;" rows="1"/>
				<h:outputText value="#{messages['regime']}"
					styleClass="titoliPanel" />
				<p:inputTextarea readonly="true" autoResize="true"
					value="#{sessioniController.tabSchedaDin.regime}"
					style="width:500px;" rows="1"/>
				<h:outputText value="#{messages['tipoAccesso']}"
					styleClass="titoliPanel" />
				<p:inputTextarea readonly="true" autoResize="true"
					value="#{sessioniController.tabSchedaDin.tipoAccesso}"
					style="width:500px;" rows="1"/>
		</p:panelGrid>
		</p:panel>
	</p:outputPanel>
</ui:composition>