<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui" xmlns:jsf="http://xmlns.jcp.org/jsf">
	<p:outputPanel style="text-align:center;" id="panelEditCollaudiInLavorazione">

		<p:messages id="messagesEdit" showDetail="true" closable="true" />

		<h:outputText value="#{messages['campiPEV']}" styleClass="titoliPanel" />

		<p:panelGrid columns="2" id="panelEditCollaudiInLavorazioneDetail"
			styleClass="top-alignment">

		<p:column>
			<p:panelGrid columns="2">

					<p:outputLabel value="#{messages['dataCreazione']}(*)"
						styleClass="titoliPanel" />

					<p:calendar showOn="button" disabled="true"
						value="#{sessioniController.selectedBean.timeAcquisizione}"
						pattern="dd-MM-yyyy HH:mm" />

					<p:outputLabel value="#{messages['dataProgRadEs']}(*)"
						styleClass="titoliPanel" />

					<p:calendar disabled="true"
						value="#{sessioniController.selectedBean.dataSchedaPrRaEs}"
						pattern="dd-MM-yyyy HH:mm" showOn="button" />

					<h:outputText value="#{messages['descIdCo']}(*)"
						styleClass="titoliPanel" />

					<p:inputText readonly="true"
						value="#{sessioniController.selectedBean.codiCollaudo}"
						style="width:330px" />

					<h:outputText value="#{messages['descAreaComp']}(*) "
						styleClass="titoliPanel" />

					<p:inputText readonly="true"
						value="#{sessioniController.selectedBean.descAreaComp}"
						style="width:330px" />

					<h:outputText value="#{messages['descRegione']}(*) "
						styleClass="titoliPanel" />

					<p:inputText value="#{sessioniController.selectedBean.descRegione}"
						style="width:330px" readonly="true" />

					<h:outputText value="#{messages['descComune']}(*) "
						styleClass="titoliPanel" />

					<p:inputText value="#{sessioniController.selectedBean.descComune}"
						style="width:330px" readonly="true" />

					<h:outputText value="#{messages['descLatLong']}(*) "
						styleClass="titoliPanel" />

					<p:inputText readonly="true"
						value="#{sessioniController.selectedBean.latitudine}, #{sessioniController.selectedBean.longitudine}"
						style="width:330px" />

					<h:outputText value="#{messages['descSistema']}(*)"
						styleClass="titoliPanel" />
					<p:inputText readonly="true"
						value="#{sessioniController.selectedBean.descSistema}"
						style="width:330px" />

					<h:outputText value="#{messages['descCodice']}(*)"
						styleClass="titoliPanel" />
					<p:inputText readonly="true"
						value="#{sessioniController.selectedBean.descCodice}"
						style="width:330px" />

					<h:outputText value="#{messages['descClli']}(*)"
						styleClass="titoliPanel" />
					<p:inputText value="#{sessioniController.selectedBean.clliSito}"
						style="width:330px" readonly="true" />

					<h:outputText value="#{messages['descStato']}(*)"
						styleClass="titoliPanel" />
					<p:inputText value="#{sessioniController.selectedBean.descStato}"
						style="width:330px" readonly="true" />

					<h:outputText value="#{messages['descCodiceDBR']}(*)"
						styleClass="titoliPanel" />
					<p:inputText value="#{sessioniController.selectedBean.codiceDbr}"
						style="width:330px" readonly="true" />

					<h:outputText value="#{messages['descUnitaTerr']}(*)"
						styleClass="titoliPanel" />
					<p:inputText readonly="true"
						value="#{sessioniController.selectedBean.descZona}"
						style="width:330px" />






				</p:panelGrid>
			</p:column>

			<p:column>
				<p:panelGrid columns="2">

					<h:outputText value="#{messages['descProvincia']}(*) "
						styleClass="titoliPanel" />
					<p:inputText readonly="true"
						value="#{sessioniController.selectedBean.descProvincia}"
						style="width:330px" />

					<h:outputText value="#{messages['descIndirizzo']}(*) "
						styleClass="titoliPanel" />
					<p:inputText
						value="#{sessioniController.selectedBean.descIndirizzo}"
						style="width:330px" readonly="true" />

					<h:outputText value="#{messages['descNomeSito']}(*)"
						styleClass="titoliPanel" />
					<p:inputText
						value="#{sessioniController.selectedBean.descNomeSito}"
						style="width:330px" readonly="true" />

					<h:outputText value="#{messages['descBanda']}(*)"
						styleClass="titoliPanel" />
					<p:inputText readonly="true"
						value="#{sessioniController.selectedBean.descBanda}"
						style="width:330px" />

					<p:outputLabel value="#{messages['dataPrevistoCollaudo']}"
						styleClass="titoliPanel" />

					<p:calendar
						value="#{sessioniController.selectedBean.timePrevistoCollaudo}"
						pattern="dd-MM-yyyy HH:mm" showOn="button" />

					<h:outputText value="#{messages['descTipoImpianto']}"
						styleClass="titoliPanel" />

					<p:selectOneMenu
						value="#{sessioniController.selectedBean.codiTipoImpianto}"
						style="width:300px" disabled="#{sessioniController.selectedSessione.versione!=1}">
						<f:selectItem itemValue="#{null}"
							itemLabel="#{messages['seleziona']}" />

						<f:selectItems value="#{sessioniController.impiantiList}"
							var="impatto" itemValue="#{impatto.codiTipoImpianto}"
							itemLabel="#{impatto.descImpianto}" />
					</p:selectOneMenu>


					<h:outputText value="#{messages['descFinalitaColl']}"
						styleClass="titoliPanel" />
					<p:selectOneMenu
						value="#{sessioniController.selectedBean.codiFinalitaColl}"
						style="width:300px" disabled="#{sessioniController.selectedSessione.versione!=1}">
						<f:selectItem itemValue="#{null}"
							itemLabel="#{messages['seleziona']}" />
						<f:selectItems value="#{sessioniController.finalitaCollList}"
							var="finalColl" itemValue="#{finalColl.codiFinalitaColl}"
							itemLabel="#{finalColl.descFinalitaColl}" />
					</p:selectOneMenu>

					<h:outputText value="#{messages['descOperTim']} "
						styleClass="titoliPanel" />
					<p:inputText value="#{sessioniController.selectedBean.descOperTim}"
						style="width:330px" disabled="#{sessioniController.selectedSessione.versione!=1}"/>

					<h:outputText value="#{messages['descProgettoRadio']}"
						styleClass="titoliPanel" />
					<p:inputText
						value="#{sessioniController.selectedBean.descProgettoRadio}"
						style="width:330px" disabled="#{sessioniController.selectedSessione.versione!=1}"/>

					<h:outputText value="#{messages['descDettaglioColl']}"
						styleClass="titoliPanel" />
					<p:selectOneMenu
						value="#{sessioniController.selectedBean.codiDettaglioColl}"
						style="width:300px" disabled="#{sessioniController.selectedSessione.versione!=1}">
						<f:selectItem itemValue="#{null}"
							itemLabel="#{messages['seleziona']}" />
						<f:selectItems value="#{sessioniController.dettagliCollList}"
							var="detailColl" itemValue="#{detailColl.codiDettaglioColl}"
							itemLabel="#{detailColl.descDettaglioColl}" />
					</p:selectOneMenu>

					<h:outputText value="#{messages['apparato']} "
						styleClass="titoliPanel" />
					<p:panelGrid columns="6" id="panelApparato">
						<h:outputText value="#{messages['flagApparatoERICSSON']} "
							styleClass="titoliPanel" />
						<p:selectBooleanCheckbox
							value="#{sessioniController.selectedBean.flgApparatoEricsson}" disabled="#{sessioniController.selectedSessione.versione!=1}">
							<p:ajax event="change" resetValues="true" process="@this"
								listener="#{sessioniController.changeApparatoEricsson()}"
								update="panelApparato"  />
						</p:selectBooleanCheckbox>
						<h:outputText value="#{messages['flagApparatoHUAWEI']} "
							styleClass="titoliPanel" />
						<p:selectBooleanCheckbox
							value="#{sessioniController.selectedBean.flgApparatoHuawei}" disabled="#{sessioniController.selectedSessione.versione!=1}">
							<p:ajax event="change" resetValues="true" process="@this"
								listener="#{sessioniController.changeApparatoHuawei()}"
								update="panelApparato"  />
						</p:selectBooleanCheckbox>

						<h:outputText value="#{messages['flagApparatoNSN']} "
							styleClass="titoliPanel" />
						<p:selectBooleanCheckbox
							value="#{sessioniController.selectedBean.flgApparatoNsn}" disabled="#{sessioniController.selectedSessione.versione!=1}">
							<p:ajax event="change" resetValues="true" process="@this"
								listener="#{sessioniController.changeApparatoNsn()}"
								update="panelApparato"  />
						</p:selectBooleanCheckbox>
					</p:panelGrid>
					<h:outputText value="#{messages['allegato']} "
						styleClass="titoliPanel" />
					<p:panelGrid columns="10">
						<h:outputText value="#{messages['flagAllegatoA']} "
							styleClass="titoliPanel" />
						<p:selectBooleanCheckbox
							value="#{sessioniController.selectedBean.flgAllegatoA}" disabled="#{sessioniController.selectedSessione.versione!=1}" />
						<h:outputText value="#{messages['flagAllegatoB']} "
							styleClass="titoliPanel" />
						<p:selectBooleanCheckbox
							value="#{sessioniController.selectedBean.flgAllegatoB}" disabled="#{sessioniController.selectedSessione.versione!=1}" />
						<h:outputText value="#{messages['flagAllegatoC']} "
							styleClass="titoliPanel" />
						<p:selectBooleanCheckbox
							value="#{sessioniController.selectedBean.flgAllegatoC}" disabled="#{sessioniController.selectedSessione.versione!=1}" />
						<h:outputText value="#{messages['flagAllegatoD1']} "
							styleClass="titoliPanel" />
						<p:selectBooleanCheckbox
							value="#{sessioniController.selectedBean.flgAllegatoD1}" disabled="#{sessioniController.selectedSessione.versione!=1}" />
						<h:outputText value="#{messages['flagAllegatoD2']} "
							styleClass="titoliPanel" />
						<p:selectBooleanCheckbox
							value="#{sessioniController.selectedBean.flgAllegatoD}" disabled="#{sessioniController.selectedSessione.versione!=1}" />
						<h:outputText value="#{messages['flagAllegatoE']} "
							styleClass="titoliPanel" />
						<p:selectBooleanCheckbox
							value="#{sessioniController.selectedBean.flgAllegatoE}" disabled="#{sessioniController.selectedSessione.versione!=1}" />
					</p:panelGrid>
				</p:panelGrid>
			</p:column>
		</p:panelGrid>





		<p:commandButton icon="fa fa-check"
			process="panelEditCollaudiInLavorazione"
			value="#{messages['rendiDisponibileSessione']}"
			action="#{sessioniController.rendiDisponibile()}"
			update="messagesEdit, :formCollaudiInLavorazione:sessioniTableID,:formCollaudiInLavorazione:panelFiltroSessioni"
			rendered="#{sessioniController.flgProcessed}">
			<p:confirm header="#{messages['rendiDisponibileTitle']}"
				message="#{messages['rendiDisponibileConfirm']}"
				icon="ui-icon-alert" />
		</p:commandButton>

		<p:commandButton value="#{messages['salva']}"
			update="messagesEdit, :formCollaudiInLavorazione:sessioniTableID,:formCollaudiInLavorazione:panelFiltroSessioni"
			process="panelEditCollaudiInLavorazione"
			action="#{sessioniController.save()}" icon="ui-icon-check"
			style="margin-top:10px; margin-right:10px;"
			disabled="#{sessioniController.selectedSessione.codiStato!=sessioniController.sessioniService.getStateAcquisito()}">
			<p:confirm header="#{messages['dialogConfirm']}"
				message="#{messages['confirmUpdate']}" icon="ui-icon-alert" />
		</p:commandButton>

		<p:commandButton value="#{messages['close']}" process="@this"
			oncomplete="PF('collaudiEditInLavorazioneDialog').hide()"
			icon="ui-icon-close" style="margin-top:10px;" />
	</p:outputPanel>
</ui:composition>