<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui" xmlns:jsf="http://xmlns.jcp.org/jsf">
		<h:form style="text-align:left;" id="panelEditNotaWeb">
		<p:panelGrid columns="1">
				<h:outputText value="Nota" styleClass="titoliPanel" /> <h:outputText />
				<p:inputTextarea rows="5" value="#{sessioniController.selectedNota.descNota}" style="width:280px" maxlength="500" counter="display"/>
			    <h:outputText id="display" />
	   </p:panelGrid>
	   <p:panelGrid columns="2" style="margin-left:30px">
	   <p:commandButton value="#{messages['salva']}"
			update="panelEditNotaWeb,:formCollaudiInLavorazione:panelNoteWeb"
			process="panelEditNotaWeb"
			action="#{sessioniController.updateNotaWeb()}" icon="ui-icon-check"
			style="margin-top:10px; margin-right:10px;">
		</p:commandButton>
			<p:commandButton value="#{messages['close']}"
				oncomplete="PF('editNotaDialog').hide()" resetValues="true"
				icon="ui-icon-close" style="margin-top:10px;" />
	  </p:panelGrid>	
	</h:form>
</ui:composition>
