<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	template="/layout/template_no_menu.xhtml">
	
	<ui:define name="body">
				
		<h:form id="formCompilazioneCollaudo">
			<div align="center">
				<p><h:outputText styleClass="titlePage" value="#{formController.descOggetto}"/></p>
				<p><h:outputText style="font-weight: bold"  value="#{messages['descNomeSito']}: "/>
				<h:outputText value="#{formController.selectedSessione.descNomeSito}"/></p>
				<p><h:outputText style="font-weight: bold" value="#{messages['descCodice']}: "/>
				<h:outputText value="#{formController.selectedSessione.descCodice}"/> </p>
			</div>

			<p:tabView id="wizard" widgetVar="tabViewWizard">
			
				<c:set var="tabViewWizardIndex" value="#{-1}" />
			
				<c:forEach items="#{formController.tipologieOggetto}" var="tipo">
				
					<c:set var="tabViewWizardIndex" value="#{tabViewWizardIndex + 1}" />

					<p:tab titletip="#{tipo.descLabelFilterTipoOggetto}" title="#{formController.getTipoOggettoTitle(tipo)}" id="tabTipoOggetto_#{tipo.codiTipoOggetto}">

						<p:accordionPanel id="accordionPanel_#{tipo.codiTipoOggetto}">
							
							<c:forEach items="#{formController.elementiTipologieOggetto.get(tipo.codiTipoOggetto)}" var="elem">
								
								<p:tab id="tabElemento_#{elem.codiElemento}" title="#{elem.descElemento}">
								
									<p:panelGrid columns="1">
	
										<c:forEach items="#{formController.elementiCaratteristiche.get(elem.codiElemento)}" var="caratt">
	
											<!-- Coppia fornitore\modello non presente in allegato, aggiunto per futuro merge tra frontend di tutti gli allegati -->

											<c:set var="isFornitore" value="#{caratt.descCaratteristica == formController.fornitoreDescCaratt}"/>
											<c:set var="isModello" value="#{caratt.descCaratteristica == formController.modelloDescCaratt}" />
	
											<c:set var="numeCella" value="#{caratt.getNumeCella()}" />
	
											<p:fieldset id="fieldset_#{elem.codiElemento}_#{caratt.codiCaratteristica}" widgetVar="fieldset_#{elem.codiElemento}_#{caratt.codiCaratteristica}" collapsed="true" toggleable="true" legend="#{caratt.descCaratteristica}"  styleClass="#{numeCella eq 0 ? 'tab-no-cella-border' : ''}">
												
												<p:ajax event="toggle" listener="#{formController.toggleEventFornitore}" disabled="#{!isFornitore}"/>
												<p:ajax event="toggle" listener="#{formController.toggleEventModello}" disabled="#{!isModello}"/>
												
												<p:tabView id="tabViewCaratt_#{caratt.codiCaratteristica}" widgetVar="tabViewCaratt_#{caratt.codiCaratteristica}" styleClass="#{numeCella eq 0 ? 'tab-no-cella-header' : ''}">	
													
													<p:ajax event="tabChange" disabled="#{!isFornitore}" listener="#{formController.onFornitoreCellaChange}"/>	
													
													<c:forEach begin="1" end="#{formController.getNumeSubTabToBuild(numeCella)}" step="1" var="cella">
														
														<c:if test="#{numeCella eq 0}">
															<c:set var="cella" value="0" />											
														</c:if>
														
														<!-- TODO gestire conforme su caratteristiche con numeVia > 0 -->
														<!-- TODO rimuovere padding nel caso di assenza di celle (classe custom ignorata) -->
														<p:tab title="#{formController.getCellaTitle(cella)}" id="tabCella_#{caratt.codiCaratteristica}_#{cella}">
															
															<div align="center">
																
																<c:set var="numeVia" value="#{caratt.getNumeVia()}" />
																
																<!-- l'allegato non prevede caratteristiche con "livelloE" (sempre 0) -->
																<c:set var="livelloE" value="#{caratt.getNumeE()}" />
																
																<c:forEach begin="1" end="#{formController.getNumeSubTabToBuild(numeVia)}" step="1" var="via">
																
																	<c:if test="#{numeVia eq 0}">
																		<c:set var="via" value="0" />											
																	</c:if>
																	
																	<p:fieldset id="tabVia_#{caratt.codiCaratteristica}_#{cella}_#{via}" toggleable="true" legend="#{formController.getViaTitle(via)}" styleClass="#{numeVia eq 0 ? 'tab-no-header tab-no-border' : ''}">
																	
																		<p:panelGrid>
																		
																			<p:row>
																			
																				<c:forEach begin="1" end="#{formController.maxColumnDescLabel}" step="1" var="col">
					
																					<c:set var="descLabel" value="#{formController.getDescLabelCaratByIndex(caratt, col)}" />
					
																					<c:if test="#{(not empty descLabel or (empty descLabel and col == 1)) and ((descLabel == formController.conformeDescLabel and (via == 0 or via == 1)) or descLabel != formController.conformeDescLabel )}">
																						
																						<p:column>
																						
																							<p style="margin-top:0; margin-bottom:10px;">#{descLabel}</p>
					
																							#{formController.addField(tipo.codiTipoOggetto, elem.codiElemento, caratt.codiCaratteristica, descLabel, col, cella, via, caratt.numeBranch, caratt.numeSettore, livelloE)}
					
																							<c:choose>
					
																								<c:when test="#{formController.hasAnagLov(caratt, col)}">
					
																									<c:choose>
					
																										<c:when test="#{not formController.hasAnagLovFromCatalogo(caratt.codiCaratteristica, descLabel) or (empty descLabel)}">
																											
																											#{formController.uploadPrevioudAnagLov(caratt.codiCaratteristica, col, cella, via, livelloE)}
																											
																											<p:selectOneMenu value="#{formController.selectedFormValue}">
																												<p:ajax
																													event="change"
																													listener="#{formController.updateSelectedAnagLov(caratt.codiCaratteristica, col, cella, via, livelloE, formController.selectedFormValue)}" />
																												<f:selectItem
																													itemLabel="#{messages['selezionareValore']}"
																													itemValue="#{null}" />
																												<f:selectItems var="item"
																													value="#{formController.getAnagLovByCaratteristica(caratt.codiCaratteristica, descLabel)}"
																													itemValue="#{item.codiAnagLov}"
																													itemLabel="#{item.descLabel}">
																												</f:selectItems>
																											</p:selectOneMenu>
																										</c:when>
					
																										<!-- Coppia fornitore\modello non presente in allegato, aggiunto per futuro merge tra frontend di tutti gli allegati -->
																										<c:otherwise>
					
																											<c:set var="anagLovs" value="#{formController.getAnagLovByCaratteristica(caratt.codiCaratteristica, formController.getDescLabelCaratByIndex(caratt, col))}" />
																									
																											<c:if test="#{caratt.descCaratteristica == formController.fornitoreDescCaratt}">
					
																												#{formController.addToFornitoreLst(caratt.codiCaratteristica, col, cella, via, livelloE)}
																												#{formController.uploadPreviousFornitore(tipo.codiTipoOggetto, anagLovs.get(0).codiCatalogo, caratt.codiCaratteristica, col, cella, via, livelloE)}
					
																												<p:selectOneMenu
																													id="fornitore_#{caratt.codiCaratteristica}_#{col}_#{cella}_#{via}_#{livelloE}"
																													title="#{messages['selezionareFornitore']}"	
																													value="#{formController.selectedFornitore}"
																													editable="true">
																													<p:ajax
																														event="change"
																														listener="#{formController.updateSelectedFornitore(tipo.codiTipoOggetto, anagLovs.get(0).codiCatalogo, caratt.codiCaratteristica, col, cella, via, livelloE, formController.selectedFornitore)}" />
																													<p:ajax
																														event="change"
																														listener="#{formController.updateSelectedDescValore(caratt.codiCaratteristica, col, cella, via, livelloE, formController.selectedFornitore)}" />
																													<f:selectItems
																														var="item"
																														value="#{formController.getAnagFornitoreFromCatalogo(anagLovs.get(0).codiCatalogo)}"
																														itemValue="#{item}" itemLabel="#{item}" />
																												</p:selectOneMenu>
																												
																											</c:if>
					
																											<c:if test="#{caratt.descCaratteristica == formController.modelloDescCaratt}">
																							
																												#{formController.addToModelliLst(caratt.codiCaratteristica, col, cella, via, livelloE)}
																												#{formController.uploadPreviousModello(caratt.codiCaratteristica, col, cella, via, livelloE)}
																												
																												<p:selectOneMenu
																													id="modello_#{caratt.codiCaratteristica}_#{col}_#{cella}_#{via}_#{livelloE}"
																													value="#{formController.selectedModello}"
																													title="#{messages['selezionareModello']}"
																													editable="true" >
																													<p:ajax
																														event="change"
																														listener="#{formController.updateSelectedDescValore(caratt.codiCaratteristica, col, cella, via, livelloE, formController.selectedModello)}" />
																													<f:selectItems
																														var="item"
																														value="#{formController.getFromModelliMap(caratt.codiCaratteristica, col, cella, via, livelloE)}"
																														itemValue="#{item.descModello}"
																														itemLabel="#{item.descModello}" />
																												</p:selectOneMenu>
																												
																											</c:if>
																										</c:otherwise>
					
																									</c:choose>
					
																								</c:when>
					
																								<!-- Componenente "Tipo di strumentazione" non presente in allegato, aggiunto per futuro merge tra frontend di tutti gli allegati -->
																								<c:when test="#{caratt.descComponente == formController.strumentazioniAntenna}">
																							
																									#{formController.uploadPreviousDescValore(caratt.codiCaratteristica, col, cella, via, livelloE)}
																									
																									<p:selectOneMenu
																										id="field_#{caratt.codiCaratteristica}_#{col}_#{cella}_#{via}_#{livelloE}"
																										title="#{messages['selezionareValore']}"
																										value="#{formController.selectedFormValue}"
																										editable="true">
					
																										<p:ajax
																											event="change"
																											listener="#{formController.updateSelectedDescValore(caratt.codiCaratteristica, col, cella, via, livelloE, formController.selectedFormValue)}" />
					
																										<f:selectItems
																											var="item"
																											value="#{formController.getAnagStrumentazioneAntenne()}"
																											itemValue="#{item.descCostrMod}"
																											itemLabel="#{item.descCostrMod}" />
																									</p:selectOneMenu>
																											
																								</c:when>
					
																								<c:otherwise>
																									
																									#{formController.uploadPreviousDescValore(caratt.codiCaratteristica, col, cella, via, livelloE)}
																									
																									<p:inputText value="#{formController.selectedFormValue}">
																										<p:ajax
																											event="blur"
																											listener="#{formController.updateSelectedDescValore(caratt.codiCaratteristica, col, cella, via, livelloE, formController.selectedFormValue)}" />
																									</p:inputText>
																								</c:otherwise>
					
																							</c:choose>
																					
																						</p:column>
																					
																					</c:if>
					
																					
																				</c:forEach>
																			</p:row>
																		</p:panelGrid>
																			
																	</p:fieldset>
																		
																</c:forEach>

															</div>
														
														</p:tab>
													</c:forEach>
												</p:tabView>
											</p:fieldset>
										</c:forEach>
									
									</p:panelGrid>
								
								</p:tab>

							</c:forEach>

						</p:accordionPanel>
						
						<div style="padding-top:10px; height:20px">
								<p:commandButton
								    style="border-color:red; border-width:2px; float:left"
									rendered="#{tabViewWizardIndex > 0}"
									type="button"
									icon="ui-icon-circle-arrow-w"
									iconPos="left"
									onclick="PF('tabViewWizard').select(#{tabViewWizardIndex}-1)"
									value="#{messages['prev']}" />								
									<p:commandButton
								    style="border-color:red; border-width:2px; float:right"
									rendered="#{tabViewWizardIndex lt formController.tipologieOggetto.size() - 1}"
									type="button"
									icon="ui-icon-circle-arrow-e"
									iconPos="right"
									onclick="PF('tabViewWizard').select(#{tabViewWizardIndex} + 1)"
									value="#{messages['next']}" />
						</div>
						
					</p:tab>
				</c:forEach>
				
			</p:tabView>
			
			<p:commandButton
				value="#{messages['salva']}"
				id="btnSaveUser"
				icon="ui-icon-check"
				style="margin-top:10px; margin-right:10px; border-color:red; border-width:2px"
				action="#{formController.showDialog()}">
				<f:actionListener binding="#{formController.save()}"/>
				<p:confirm header="#{messages['dialogSalvataggioForm']}"
					message="#{messages['confermaSalvataggioForm']}"
					icon="fa fa-exclamation-triangle" />

			</p:commandButton>
			
			<p:commandButton
				value="#{messages['close']}"
				action="#{menuController.buttonCallPageCollaudiInLavorazione()}"
				icon="ui-icon-close"
				style="margin-top:10px; border-color:red; border-width:2px">
				<f:actionListener binding="#{formController.unlockAllegato()}"/>
				<p:confirm  
					header="#{messages['chiusuraForm']}"
					message="#{messages['confermaChiusuraForm']}"
					icon="fa fa-exclamation-triangle" />
			</p:commandButton>		
					
			
			<p:confirmDialog 
				global="true"
				showEffect="fade"
				hideEffect="fade">
				<div style="text-align: center">
					<p:commandButton
						value="#{messages['si']}"
						type="button"
						styleClass="ui-confirmdialog-yes"
						icon="ui-icon-check"/>
						
					<p:commandButton
						value="#{messages['no']}"
						type="button"
						styleClass="ui-confirmdialog-no"
						icon="ui-icon-close" />
				</div>
			</p:confirmDialog>		
		</h:form>	

		<p:dialog 
		    position="center" 
		    header="#{messages['attenzione']}" 
		    widgetVar="dialogAfterSave"
			modal="true" 
			showEffect="blind" 
			hideEffect="fade" 
			closable="false"
			resizable="false">
			<i class="fa fa-exclamation-triangle"></i>
			<p:spacer width="5px"></p:spacer>
			<h:outputText
				value="#{messages['usaApp']}" />
			<div align="center" style="padding-top: 10px">
				<p:commandButton
					action="#{menuController.buttonCallPageCollaudiInLavorazione()}"
					icon="ui-icon-check" value="OK"></p:commandButton>
			</div>
		</p:dialog>

	</ui:define>
</ui:composition>