<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui" xmlns:jsf="http://xmlns.jcp.org/jsf"
                xmlns:c="http://java.sun.com/jsp/jstl/core">
	<p:outputPanel id="panelCompilazioneAllegati">
		<p:panel>
			<p:panelGrid columns="2">
				<p:column>
					<p:commandLink
						action="#{formController.buttonCallCompilazioneAllegato(sessioniController.selectedSessione, formController.codiOggettoAllegatoA)}"
						process="@this" immediate="true" ajax="false"
						rendered="#{sessioniController.selectedSessione.flgAllegatoA}">
						 <h:graphicImage value="/img/allegato_a.png"
							title="#{messages['compilaAllegatoA']}"/>
					</p:commandLink>
					<p:commandLink
						action="#{formController.buttonCallCompilazioneAllegato(sessioniController.selectedSessione, formController.codiOggettoAllegatoB)}"
						process="@this" immediate="true" ajax="false"
						rendered="#{sessioniController.selectedSessione.flgAllegatoB}">
						<h:graphicImage value="/img/allegato_b.png"
							title="#{messages['compilaAllegatoB']}"/>
					</p:commandLink>
					<p:commandLink
						action="#{formController.buttonCallCompilazioneAllegato(sessioniController.selectedSessione, formController.codiOggettoAllegatoC)}"
						process="@this" immediate="true" ajax="false"
						rendered="#{sessioniController.selectedSessione.flgAllegatoC}">
						<h:graphicImage value="/img/allegato_c.png"
							title="#{messages['compilaAllegatoC']}"/>							
					</p:commandLink>
					<p:commandLink
						action="#{formController.buttonCallCompilazioneAllegato(sessioniController.selectedSessione, formController.codiOggettoAllegatoD2)}"
						process="@this" immediate="true" ajax="false"
						rendered="#{sessioniController.selectedSessione.flgAllegatoD}">
						<h:graphicImage value="/img/allegato_d2.png"
							title="#{messages['compilaAllegatoD2']}"/>							
					</p:commandLink>
					<p:commandLink
					    action="#{formController.buttonCallCompilazioneAllegato(sessioniController.selectedSessione, formController.codiOggettoAllegatoE)}"
						process="@this" immediate="true" ajax="false"
						rendered="#{sessioniController.selectedSessione.flgAllegatoE}">
						<h:graphicImage value="/img/allegato_e.png"
							title="#{messages['compilaAllegatoE']}"/>							
					</p:commandLink>
				</p:column>
				<p:column>
					<p:commandLink
					    action="#{formController.buttonCallCompilazioneAllegato(sessioniController.selectedSessione, formController.codiOggettoApparatoNokia)}"
						process="@this" immediate="true" ajax="false"
						rendered="#{sessioniController.selectedSessione.flgApparatoNsn}">
						<h:graphicImage value="/img/verbale_nokia.png"
							title="#{messages['compilaApparatoNokia']}"/>							
					</p:commandLink>
					<p:commandLink
					    action="#{formController.buttonCallCompilazioneAllegato(sessioniController.selectedSessione, formController.codiOggettoApparatoEricsson)}"
						process="@this" immediate="true" ajax="false"
						rendered="#{sessioniController.selectedSessione.flgApparatoEricsson}">
						<h:graphicImage value="/img/verbale_ericsson.png"
							title="#{messages['compilaApparatoEricsson']}"/>							
					</p:commandLink>
					<p:commandLink
					    action="#{formController.buttonCallCompilazioneAllegato(sessioniController.selectedSessione, formController.codiOggettoApparatoHauwei)}"
						process="@this" immediate="true" ajax="false"
						rendered="#{sessioniController.selectedSessione.flgApparatoHuawei}">
						<h:graphicImage value="/img/verbale_huawei.png"
							title="#{messages['compilaApparatoHauwei']}"/>							
					</p:commandLink>
					
				</p:column>

			</p:panelGrid>

		</p:panel>
		<p:commandButton value="#{messages['close']}"
			oncomplete="PF('compilazioneAllegati').hide()" icon="ui-icon-close"
			style="margin-top:10px;" />
	</p:outputPanel>
</ui:composition>