<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui" template="/layout/template.xhtml">
	<ui:define name="body">
		<h:form id="formCollaudiArchiviati">
			<div align="left">
				<h:outputText styleClass="titlePage"
					value="#{messages['menu_sessioni_sub2']}" />
			</div>
			<div align="center" >
				<h:panelGrid columns="2" style="margin-bottom:10px" cellpadding="5" rendered="#{sessioniController.currentUser.viwUtente.flgImpresa}">
        				<p:outputLabel  value="#{messages['mieSessioni']}" styleClass="titlePage"/>
        				<p:selectBooleanCheckbox value="#{sessioniController.sessioniArchiviateUserImp}">
            			<p:ajax update="sessioniTableID" listener="#{sessioniController.arrCollaudiArchiviatiMoiCheck}" />
        				</p:selectBooleanCheckbox>
    			</h:panelGrid>
			</div>
			<p:dataTable id="sessioniTableID" var="sessione"
				emptyMessage="#{messages['noDataFound']}" 
				value="#{sessioniController.arrCollaudiArchiviati}" selectionMode="single"
				selection="#{sessioniController.selectedSessione}"
				rowKey="#{sessione.codiSessione}" paginator="true" rows="20"
				scrollable="true" scrollHeight="280" styleClass="tablestyle">
				<f:facet name="header">#{messages['listaCollaudiArchiviati']} (#{sessioniController.arrCollaudiArchiviati.size()})
					<h:commandLink rendered="#{sessioniController.arrCollaudiArchiviati.size()>0}">
						<h:graphicImage value="/img/excel.png" width="24" style="vertical-align: middle"
							title="#{messages['exportCollaudi']}" />
						<p:dataExporter type="xls" target="sessioniTableID"
							fileName="#{messages['listaCollaudiArchiviati']}" />
					</h:commandLink>
					<br/>
					<br/>
				</f:facet>
				<p:column headerText="#{messages['descNomeSito']}" width="10%"
					sortBy="#{sessione.descNomeSito}"
					filterBy="#{sessione.descNomeSito}" filterMatchMode="contains" >
					<h:outputText value="#{sessione.descNomeSito}" title="#{sessione.descNomeSito}" />
					<h:outputText rendered="#{sessioniController.isSessioneWithNota(sessione.codiSessione)}" class="fa fa-info-circle" style="color:red; float:right;"  title="Note presenti" />
				</p:column>
				<p:column headerText="#{messages['descAreaComp']}" width="9%"
					sortBy="#{sessione.descAreaComp}"
					filterBy="#{sessione.descAreaComp}" filterMatchMode="contains">
					<h:outputText value="#{sessione.descAreaComp}" />
				</p:column>
				<p:column headerText="#{messages['descRegione']}" width="8%"
					sortBy="#{sessione.descRegione}" filterBy="#{sessione.descRegione}"
					filterMatchMode="contains">
					<h:outputText value="#{sessione.descRegione}" />
				</p:column>
				<p:column headerText="#{messages['descComune']}" width="9%"
					sortBy="#{sessione.descComune}" filterBy="#{sessione.descComune}"
					filterMatchMode="contains" >
					<h:outputText id="descComune" value="#{sessione.descComune}" title="#{sessione.descComune}"/>
				</p:column>
				
				<!-- inizio nuovo  -->
				<p:column headerText="#{messages['descClli']}" width="7%"
					sortBy="#{sessione.clliSito}" filterBy="#{sessione.clliSito}"
					filterMatchMode="contains" >
					<h:outputText value="#{sessione.clliSito}" />
				</p:column>
				<p:column headerText="#{messages['descTipoImpianto']}" width="7%"
					sortBy="#{sessione.descImpianto}" filterBy="#{sessione.descImpianto}"
					filterMatchMode="contains" >
					<h:outputText value="#{sessione.descImpianto}" />
				</p:column>
				<p:column headerText="#{messages['descCodice']}" width="6%"
					sortBy="#{sessione.descCodice}" filterBy="#{sessione.descCodice}"
					filterMatchMode="contains" >
					<h:outputText value="#{sessione.descCodice}" />
				</p:column>
				<p:column headerText="#{messages['codiceDbr']}" width="6%"
					sortBy="#{sessione.codiceDbr}" filterBy="#{sessione.codiceDbr}"
					filterMatchMode="contains" >
					<h:outputText value="#{sessione.codiceDbr}" />
				</p:column>
				<p:column headerText="#{messages['dataPrevistoCollaudo']}" width="8%"
					sortBy="#{sessione.timePrevistoCollaudo}" filterBy="#{sessione.timePrevistoCollaudo}"
					filterMatchMode="contains" >
					<h:outputText value="#{sessione.timePrevistoCollaudo}">
						 <f:convertDateTime type="date" pattern="dd/MM/yyyy"/>
					</h:outputText>
				</p:column>
				
				<p:column headerText="#{messages['antenne']}" width="19%">
     				<h:graphicImage value="/img/allegato_a_g.png" rendered="#{sessione.flgAllegatoA and sessione.codiStatoA==1}" />
	    			<h:graphicImage value="/img/allegato_a_y.png" rendered="#{sessione.flgAllegatoA and sessione.codiStatoA==2}" />
		    		<h:graphicImage value="/img/allegato_a.png" rendered="#{sessione.flgAllegatoA and sessione.codiStatoA==3}" />
			    	<h:graphicImage value="/img/allegato_a_b.png" rendered="#{sessione.flgAllegatoA and (sessione.codiStatoA==4 or sessione.codiStatoA==null)}" />
				    <h:graphicImage value="/img/allegato_b_g.png" rendered="#{sessione.flgAllegatoB and sessione.codiStatoB==1}" />
		    		<h:graphicImage value="/img/allegato_b_y.png" rendered="#{sessione.flgAllegatoB and sessione.codiStatoB==2}" />
		    		<h:graphicImage value="/img/allegato_b.png" rendered="#{sessione.flgAllegatoB and sessione.codiStatoB==3}" />
		    		<h:graphicImage value="/img/allegato_b_b.png" rendered="#{sessione.flgAllegatoB and (sessione.codiStatoB==4 or sessione.codiStatoB==null)}" />
     				<h:graphicImage value="/img/allegato_c_g.png" rendered="#{sessione.flgAllegatoC and sessione.codiStatoC==1}" />
	     			<h:graphicImage value="/img/allegato_c_y.png" rendered="#{sessione.flgAllegatoC and sessione.codiStatoC==2}" />
		    		<h:graphicImage value="/img/allegato_c.png" rendered="#{sessione.flgAllegatoC and sessione.codiStatoC==3}" />
				    <h:graphicImage value="/img/allegato_c_b.png" rendered="#{sessione.flgAllegatoC and (sessione.codiStatoC==4 or sessione.codiStatoC==null)}" />
	    			<h:graphicImage value="/img/allegato_d1_g.png" rendered="#{sessione.flgAllegatoD1 and sessione.codiStatoD1==1}" />
	     			<h:graphicImage value="/img/allegato_d1_y.png" rendered="#{sessione.flgAllegatoD1 and sessione.codiStatoD1==2}" />
	    			<h:graphicImage value="/img/allegato_d1.png" rendered="#{sessione.flgAllegatoD1 and sessione.codiStatoD1==3}" />
	    			<h:graphicImage value="/img/allegato_d1_b.png" rendered="#{sessione.flgAllegatoD1 and (sessione.codiStatoD1==4 or sessione.codiStatoD1==null)}" />
			    	<h:graphicImage value="/img/allegato_d2_g.png" rendered="#{sessione.flgAllegatoD and sessione.codiStatoD2==1}" />
			    	<h:graphicImage value="/img/allegato_d2_y.png" rendered="#{sessione.flgAllegatoD and sessione.codiStatoD2==2}" />
			    	<h:graphicImage value="/img/allegato_d2.png" rendered="#{sessione.flgAllegatoD and sessione.codiStatoD2==3}" />
			    	<h:graphicImage value="/img/allegato_d2_b.png" rendered="#{sessione.flgAllegatoD and (sessione.codiStatoD2==4 or sessione.codiStatoD2==null)}" />
	     			<h:graphicImage value="/img/allegato_e_g.png" rendered="#{sessione.flgAllegatoE and sessione.codiStatoE==1}" />
	     			<h:graphicImage value="/img/allegato_e_y.png" rendered="#{sessione.flgAllegatoE and sessione.codiStatoE==2}" />
		    		<h:graphicImage value="/img/allegato_e.png" rendered="#{sessione.flgAllegatoE and sessione.codiStatoE==3}" />
		    		<h:graphicImage value="/img/allegato_e_b.png" rendered="#{sessione.flgAllegatoE and (sessione.codiStatoE==4 or sessione.codiStatoE==null)}" />
		    		
		    		<h:outputText value="A(P) " rendered="#{sessione.flgAllegatoA and sessione.codiStatoA==1}" style="display: none"/>
					<h:outputText value="A(R) " rendered="#{sessione.flgAllegatoA and sessione.codiStatoA==2}" style="display: none"/>
					<h:outputText value="A(N) " rendered="#{sessione.flgAllegatoA and sessione.codiStatoA==3}" style="display: none"/>
					<h:outputText value="A " rendered="#{sessione.flgAllegatoA and (sessione.codiStatoA==4 or sessione.codiStatoA==null)}" style="display: none"/>
					<h:outputText value="B(P) " rendered="#{sessione.flgAllegatoB and sessione.codiStatoB==1}" style="display: none"/>
					<h:outputText value="B(R) " rendered="#{sessione.flgAllegatoB and sessione.codiStatoB==2}" style="display: none"/>
					<h:outputText value="B(N) " rendered="#{sessione.flgAllegatoB and sessione.codiStatoB==3}" style="display: none"/>
					<h:outputText value="B " rendered="#{sessione.flgAllegatoB and (sessione.codiStatoB==4 or sessione.codiStatoB==null)}" style="display: none"/>
					<h:outputText value="C(P) " rendered="#{sessione.flgAllegatoC and sessione.codiStatoC==1}" style="display: none"/>
					<h:outputText value="C(R) " rendered="#{sessione.flgAllegatoC and sessione.codiStatoC==2}" style="display: none"/>
					<h:outputText value="C(N) " rendered="#{sessione.flgAllegatoC and sessione.codiStatoC==3}" style="display: none"/>
					<h:outputText value="C " rendered="#{sessione.flgAllegatoC and (sessione.codiStatoC==4 or sessione.codiStatoC==null)}" style="display: none"/>
					<h:outputText value="D1(P) " rendered="#{sessione.flgAllegatoD1 and sessione.codiStatoD1==1}" style="display: none"/>
					<h:outputText value="D1(R) " rendered="#{sessione.flgAllegatoD1 and sessione.codiStatoD1==2}" style="display: none"/>
					<h:outputText value="D1(N) " rendered="#{sessione.flgAllegatoD1 and sessione.codiStatoD1==3}" style="display: none"/>
					<h:outputText value="D1 " rendered="#{sessione.flgAllegatoD1 and (sessione.codiStatoD1==4 or sessione.codiStatoD1==null)}" style="display: none"/>
					<h:outputText value="D2(P) " rendered="#{sessione.flgAllegatoD and sessione.codiStatoD2==1}" style="display: none"/>
					<h:outputText value="D2(R) " rendered="#{sessione.flgAllegatoD and sessione.codiStatoD2==2}" style="display: none"/>
					<h:outputText value="D2(N) " rendered="#{sessione.flgAllegatoD and sessione.codiStatoD2==3}" style="display: none"/>
					<h:outputText value="D2 " rendered="#{sessione.flgAllegatoD and (sessione.codiStatoD2==4 or sessione.codiStatoD2==null)}" style="display: none"/>
					<h:outputText value="E(P)" rendered="#{sessione.flgAllegatoE and sessione.codiStatoE==1}" style="display: none"/>
					<h:outputText value="E(R)" rendered="#{sessione.flgAllegatoE and sessione.codiStatoE==2}" style="display: none"/>
					<h:outputText value="E(N)" rendered="#{sessione.flgAllegatoE and sessione.codiStatoE==3}" style="display: none"/>
					<h:outputText value="E" rendered="#{sessione.flgAllegatoE and (sessione.codiStatoE==4 or sessione.codiStatoE==null)}" style="display: none"/>	
				</p:column>
				
				<p:column headerText="#{messages['apparati']}" width="6%" style="text-align: center">
					<h:graphicImage value="/img/verbale_huawei_g.png" rendered="#{sessione.flgApparatoHuawei and sessione.codiStatoHuawei==1}" />
					<h:graphicImage value="/img/verbale_huawei_y.png" rendered="#{sessione.flgApparatoHuawei and sessione.codiStatoHuawei==2}" />
					<h:graphicImage value="/img/verbale_huawei.png" rendered="#{sessione.flgApparatoHuawei and sessione.codiStatoHuawei==3}" />
					<h:graphicImage value="/img/verbale_huawei_b.png" rendered="#{sessione.flgApparatoHuawei and (sessione.codiStatoHuawei==4 or sessione.codiStatoHuawei==null)}" />
					<h:graphicImage value="/img/verbale_ericsson_g.png" rendered="#{sessione.flgApparatoEricsson and sessione.codiStatoEricsson==1}" />
					<h:graphicImage value="/img/verbale_ericsson_y.png" rendered="#{sessione.flgApparatoEricsson and sessione.codiStatoEricsson==2}" />
					<h:graphicImage value="/img/verbale_ericsson.png" rendered="#{sessione.flgApparatoEricsson and sessione.codiStatoEricsson==3}" />
					<h:graphicImage value="/img/verbale_ericsson_b.png" rendered="#{sessione.flgApparatoEricsson and (sessione.codiStatoEricsson==4 or sessione.codiStatoEricsson==null)}" />
					<h:graphicImage value="/img/verbale_nokia_g.png" rendered="#{sessione.flgApparatoNsn and sessione.codiStatoNokia==1}" />
					<h:graphicImage value="/img/verbale_nokia_y.png" rendered="#{sessione.flgApparatoNsn and sessione.codiStatoNokia==2}" />
					<h:graphicImage value="/img/verbale_nokia.png" rendered="#{sessione.flgApparatoNsn and sessione.codiStatoNokia==3}" />
					<h:graphicImage value="/img/verbale_nokia_b.png" rendered="#{sessione.flgApparatoNsn and (sessione.codiStatoNokia==4 or sessione.codiStatoNokia==null)}" />
					
					<h:outputText value="Huawei(P)" rendered="#{sessione.flgApparatoHuawei and sessione.codiStatoHuawei==1}" style="display:none" />
					<h:outputText value="Huawei(R)" rendered="#{sessione.flgApparatoHuawei and sessione.codiStatoHuawei==2}" style="display:none" />
					<h:outputText value="Huawei(N)" rendered="#{sessione.flgApparatoHuawei and sessione.codiStatoHuawei==3}" style="display:none" />
					<h:outputText value="Huawei" rendered="#{sessione.flgApparatoHuawei and (sessione.codiStatoHuawei==4 or sessione.codiStatoHuawei==null)}" style="display:none" />
					<h:outputText value="Ericsson(P)" rendered="#{sessione.flgApparatoEricsson and sessione.codiStatoEricsson==1}" style="display:none" />
					<h:outputText value="Ericsson(R)" rendered="#{sessione.flgApparatoEricsson and sessione.codiStatoEricsson==2}" style="display:none" />
					<h:outputText value="Ericsson(N)" rendered="#{sessione.flgApparatoEricsson and sessione.codiStatoEricsson==3}" style="display:none" />
					<h:outputText value="Ericsson" rendered="#{sessione.flgApparatoEricsson and (sessione.codiStatoEricsson==4 or sessione.codiStatoEricsson==null)}" style="display:none" />
					<h:outputText value="Nokia(P)" rendered="#{sessione.flgApparatoNsn and sessione.codiStatoNokia==1}" style="display:none" />
					<h:outputText value="Nokia(R)" rendered="#{sessione.flgApparatoNsn and sessione.codiStatoNokia==2}" style="display:none" />
					<h:outputText value="Nokia(N)" rendered="#{sessione.flgApparatoNsn and sessione.codiStatoNokia==3}" style="display:none" />
					<h:outputText value="Nokia" rendered="#{sessione.flgApparatoNsn and (sessione.codiStatoNokia==4 or sessione.codiStatoNokia==null)}" style="display:none" />					
				</p:column>
				
				<p:column headerText="#{messages['report']}" width="5%"
					style="text-align: center" exportable="false">
					<p:commandLink id="stampa"
						action="#{sessioniController.openReportAllegati()}"
						process="sessioniTableID" update=":formCollaudiArchiviati:panelAllegatiSession" rendered="#{sessione.codiStato==configurationController.disponibile or sessione.codiStato==configurationController.inLavorazione or sessione.codiStato==configurationController.chiuso}">
						<f:setPropertyActionListener value="#{sessione}"
							target="#{sessioniController.selectedSessione}" />
						<h:graphicImage value="/img/report.png"
							title="#{messages['reportAllegati']}"/>
					</p:commandLink>
				</p:column>
				<p:column headerText="#{messages['send']}" width="5%" style="text-align: center" exportable="false">
					<p:commandButton action="#{sessioniController.completamentoCollaudo()}" title="Invia a PEV" id="send" icon= "fa fa-paper-plane" 
						rendered="#{!sessione.flgSpeditoPev}" update="sessioniTableID"
						disabled="#{!(sessioniController.currentUser.viwUtente.codiRole==configurationController.supervisor)
						 and !(sessioniController.currentUser.viwUtente.codiRole==configurationController.dgOp)
						 and !(sessioniController.currentUser.viwUtente.codiRole==configurationController.refTerOp)}"
						process="sessioniTableID">
						<f:setPropertyActionListener value="#{sessione}"
							target="#{sessioniController.selectedSessione}" />
						<p:confirm header="Confirmation" message="#{messages['confirmSend']}" icon="ui-icon-alert" />
					</p:commandButton>
					<h:graphicImage value="/img/check.png"	rendered="#{sessione.flgSpeditoPev}" title="Spedito" />
				</p:column>
				<p:column headerText="Inviato a PEV" visible="false" exportable="true">
					<h:outputText value="Inviato" style="display:none" rendered="#{sessione.flgSpeditoPev}"/>
					<h:outputText value="NON inviato" style="display:none" rendered="#{!sessione.flgSpeditoPev}"/>
				</p:column>
				<f:facet name="header">
					<p:commandButton value="#{messages['detailSessione']}"
						id="btnDettaglioCollaudiInLavorazione" resetValues="true"
						update="sessioniTableID,:formCollaudiArchiviati:panelCollaudiArchiviati"
						action="#{sessioniController.openEditCollaudiArchiviati()}" icon="fa fa-fw fa-edit"
						process="sessioniTableID" />
					<p:commandButton value="#{messages['labButtonListRitardi']}"
					    rendered="#{menuController.currentUser.viwUtente.codiRole != configurationController.userVendor and menuController.currentUser.viwUtente.flgImpresa==false}"
						resetValues="true" title="#{messages['labButtonListRitardi']}"
						update=":formCollaudiArchiviati:panelParziali"
						action="#{sessioniController.detailParziali()}"
						icon="fa fa-info-circle"  process="sessioniTableID" />
					<p:commandButton value="#{messages['labButtonUpload']}"
						resetValues="true" title=""
						update=":formCollaudiArchiviati:formUpload"
						action="#{sessioniController.openUpload()}" icon="fa fa-upload"
						process="sessioniTableID" />
					<p:commandButton value="#{messages['downloadDocumentDyn']}"
						resetValues="true" title=""
						update=":formCollaudiArchiviati:downloadDocumentiDynDialog"
						action="#{sessioniController.openDownloadDyn()}"
						icon="fa fa-download" process="sessioniTableID" rendered="true" />
					<p:commandButton value="#{messages['labButtonDownload']}"
						resetValues="true" title=""
						update=":formCollaudiArchiviati:downloadDialog"
						action="#{sessioniController.openDownload()}"
						icon="fa fa-download" process="sessioniTableID" />
					<p:commandButton value="#{messages['infoEsiti']}"
						resetValues="true" title=""
						action="#{sessioniController.openInfoEsiti()}"
						update=":formCollaudiArchiviati:infoEsiti"
						icon="fa fa-info-circle" process="sessioniTableID" style="color: red"/>
				    <p:commandButton value="#{messages['note']}"  title=""
						action="#{sessioniController.openNoteWebAndTablet()}"
						update=":formCollaudiArchiviati:formNoteWeb:accordionNote"
						icon="fa fa-info-circle" process="sessioniTableID" style="color: red"/>
				</f:facet>
			</p:dataTable>
			<p:dialog header="#{messages['report']}" position="top" width="350"
				widgetVar="allegatiSessioneDialog" modal="true"
				showEffect="blind" hideEffect="fade" resizable="false">
				<ui:include src="/pages/collaudi/allegati_sessione.xhtml" />
			</p:dialog>
			<p:dialog header="#{messages['detailSessione']}" position="top"
				widgetVar="collaudiArchiviatiDialog" modal="true" showEffect="blind"
				hideEffect="fade" resizable="false">
				<ui:include src="/pages/collaudi/detail_CollaudiArchiviati.xhtml" />
			</p:dialog>
			<p:dialog header="" position="top" width="800"
				widgetVar="parzialiDialog" modal="true" showEffect="blind"
				hideEffect="fade" resizable="false">
				<ui:include src="/pages/collaudi/detail_parziali.xhtml" />
			</p:dialog>
			<p:dialog header="#{messages['labButtonDownload']}" position="top"
				width="650" widgetVar="downloadDialog" modal="true"
				showEffect="blind" hideEffect="fade" resizable="false">
				<ui:include src="/pages/collaudi/download_file.xhtml" />
			</p:dialog>
			<p:dialog header="#{messages['downloadDocumentDyn']}" position="top"
				width="750" height="570" widgetVar="downloadDocumentDynDialog"
				modal="true" showEffect="blind" hideEffect="fade" resizable="false">
				<ui:include src="/pages/collaudi/download_documenti_dyn.xhtml" />
			</p:dialog>
			<p:dialog header="#{messages['infoEsiti']}" position="top" widgetVar="infoEsitiDialog"
				modal="true" showEffect="blind" hideEffect="fade">
				<ui:include src="/pages/collaudi/infoEsiti.xhtml" />
			</p:dialog>
			<p:dialog position="top" height="500" width="930"
				widgetVar="noteWebTabletDialogArchiviati" modal="true"
				showEffect="blind" hideEffect="fade">
				<ui:include src="/pages/collaudi/noteWebArchiviati.xhtml" />
			</p:dialog>
			<p:dialog header="" position="top" width="700"
				widgetVar="uploadDialog" modal="true" showEffect="blind"
				hideEffect="fade" resizable="false">
				<ui:include src="/pages/collaudi/upload.xhtml" />
			</p:dialog>
			<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
				<div style="text-align: center">
					<p:commandButton value="#{messages['si']}" type="button"
						styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
					<p:commandButton value="#{messages['no']}" type="button"
						styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
				</div>
			</p:confirmDialog>
		</h:form>
	</ui:define>
</ui:composition>