<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui" template="/layout/template.xhtml">
	<ui:define name="body">
		<h:form id="formNewCollaudo">
		<p:messages id="messagesNewCollaudo" showDetail="true" closable="true" globalOnly="true"/>
			<p:panel header="#{messages['menu_sessioni_sub3']}"
				styleClass="titlePage">
				<p:panelGrid columns="2" style="width:100%">
					<p:column>
						<p:panelGrid columns="3">
							<h:outputText value="#{messages['descIdCo']} *"
								styleClass="titoliPanel" />
							<p:inputText  id="newDescIdCo"
								value="#{newCollaudoController.newSessione.codiCollaudo}"
								style="width:210px" required="true" />
							<p:message for="newDescIdCo" />
							
							<h:outputText value="#{messages['descAreaComp']} *"
								styleClass="titoliPanel" />
							<p:selectOneMenu  id="newCodiAreaComp"
								value="#{newCollaudoController.newSessione.codiAreaComp}" required="true" style="width:170px">
								<p:ajax event="change"
									listener="#{newCollaudoController.listnerChangeAreaComp}"
									update="newCodiRegione,newCodiProvincia,newCodiComune" />
								<f:selectItem itemLabel="#{messages['combolistNotSelected']}"
									itemValue="#{null}" />
								<f:selectItems
									value="#{newCollaudoController.listTabAreaCompetenza}"
									var="areaCopetenza" itemValue="#{areaCopetenza.codiAreaComp}"
									itemLabel="#{areaCopetenza.descAreaComp}" />
							</p:selectOneMenu>
							<p:message for="newCodiAreaComp" />
							
							<h:outputText value="#{messages['descNomeSito']} *"
								styleClass="titoliPanel" />
							<p:inputText id="newDescNomeSito"
								value="#{newCollaudoController.newSessione.descNomeSito}"
								style="width:210px" required="true"/>
							<p:message for="newDescNomeSito" />
							
							<h:outputText value="#{messages['descCodice']} *"
								styleClass="titoliPanel" />
							<p:inputText id="newDescCodice"
								value="#{newCollaudoController.newSessione.descCodice}"
								style="width:210px" required="true" maxlength="5" validatorMessage="deve essere lungo 5">
								<f:validateRegex pattern="^[a-zA-Z0-9][a-zA-Z0-9][a-zA-Z0-9][a-zA-Z0-9][a-zA-Z0-9]$" />
   							</p:inputText>
							<p:message for="newDescCodice" />
							<h:outputText value="#{messages['descClli']} *"
								styleClass="titoliPanel" />
							<p:inputText id="newClliSito"
								value="#{newCollaudoController.newSessione.clliSito}"
								style="width:210px" required="true"/>
							<p:message for="newClliSito" />
							
							<h:outputText value="#{messages['descCodiceDBR']} *"
								styleClass="titoliPanel" />
							<p:inputText id="newCodiceDbr"
								value="#{newCollaudoController.newSessione.codiceDbr}"
								style="width:210px" required="true"  maxlength="6" validatorMessage="deve essere lungo 6">
								<f:validateRegex pattern="^[a-zA-Z0-9][a-zA-Z0-9][a-zA-Z0-9][a-zA-Z0-9][a-zA-Z0-9][a-zA-Z0-9]$" />
							</p:inputText>
							<p:message for="newCodiceDbr" />
							
							<h:outputText value="#{messages['descRegione']} *"
								styleClass="titoliPanel" />
							<p:selectOneMenu  id="newCodiRegione"
								value="#{newCollaudoController.newSessione.descRegione}" required="true" style="width:170px">
								<p:ajax event="change"
									listener="#{newCollaudoController.listnerChangeRegione}"
									update="newCodiProvincia,newCodiComune" />
								<f:selectItem itemLabel="#{messages['combolistNotSelected']}"
									itemValue="#{null}" />
								<f:selectItems value="#{newCollaudoController.listRegioni}"
									var="regione" itemValue="#{regione.nomeMaiuscolo}"
									itemLabel="#{regione.nomeMaiuscolo}" />
							</p:selectOneMenu>
							<p:message for="newCodiRegione" />
							<h:outputText value="#{messages['descProvincia']} *"
								styleClass="titoliPanel" />
							<p:selectOneMenu style="width:170px" id="newCodiProvincia"
								value="#{newCollaudoController.newSessione.descProvincia}" required="true">
								<p:ajax event="change"
									listener="#{newCollaudoController.listnerChangeProvincia}"
									update="newCodiComune" />
								<f:selectItem itemLabel="#{messages['combolistNotSelected']}"
									itemValue="#{null}" />
								<f:selectItems value="#{newCollaudoController.listProvincie}"
									var="provincia" itemValue="#{provincia.nomeProvincia}"
									itemLabel="#{provincia.nomeProvincia}" />
							</p:selectOneMenu>
							<p:message for="newCodiProvincia" />
							<h:outputText value="#{messages['descComune']} *"
								styleClass="titoliPanel" />
							<p:selectOneMenu style="width:170px" id="newCodiComune"
								value="#{newCollaudoController.newSessione.descComune}"
								filter="true" filterMatchMode="contains" required="true">
								<f:selectItem itemLabel="#{messages['combolistNotSelected']}"
									itemValue="#{null}" />
								<f:selectItems value="#{newCollaudoController.listComuni}"
									var="comune" itemValue="#{comune.nomeComuneIt}"
									itemLabel="#{comune.nomeComuneIt}" />
							</p:selectOneMenu>
							<p:message for="newCodiComune" />
							
							<h:outputText value="#{messages['descIndirizzo']} *"
								styleClass="titoliPanel" />
							<p:inputText id="newDescIndirizzo"
								value="#{newCollaudoController.newSessione.descIndirizzo}"
								style="width:210px" required="true"/>
							<p:message for="newDescIndirizzo" />
						</p:panelGrid>
					</p:column>
					<p:column>
						<p:panelGrid columns="3">
							<h:outputText value="#{messages['latitudine']} *"
								styleClass="titoliPanel" />
							<p:inputText id="newDescLatitudine"
								value="#{newCollaudoController.newSessione.descLatitudine}"
								style="width:210px" required="true"/>
							<p:message for="newDescLatitudine" />
								
							<h:outputText value="#{messages['longitudine']} *"
								styleClass="titoliPanel" />
							<p:inputText id="newDescLongitudine"
								value="#{newCollaudoController.newSessione.descLongitudine}"
								style="width:210px" required="true"/>
							<p:message for="newDescLongitudine" />	
							<p:outputLabel value="#{messages['vendor']} *"
								styleClass="titoliPanel" />
							<p:selectOneMenu style="width:170px" id="newCodiVendor"
								value="#{newCollaudoController.newSessione.codiVendor}" required="true">
								<f:selectItem itemLabel="#{messages['combolistNotSelected']}"
									itemValue="#{null}" />
								<f:selectItems value="#{newCollaudoController.listVendors}"
									var="vendor" itemValue="#{vendor.codiVendor}"
									itemLabel="#{vendor.descVendor}" />
							</p:selectOneMenu>
							<p:message for="newCodiVendor" />
							
							<p:outputLabel value="#{messages['dataProgRadEs']} *"
								styleClass="titoliPanel" />
							<p:calendar id="newDataSchedaPrRaEs"
								value="#{newCollaudoController.newSessione.dataSchedaPrRaEs}"
								pattern="dd-MM-yyyy HH:mm" showOn="button"  required="true"/>
							<p:message for="newDataSchedaPrRaEs" />
						</p:panelGrid>
						<p:panelGrid columns="4">
							<p:outputLabel value="#{messages['schedaProgetto']}" styleClass="titoliPanel" />
						    <p:fileUpload id="schedaProgetto" fileUploadListener="#{newCollaudoController.uploadSchedaProgetto}" update="schedaProgettoLabel" mode="advanced" skinSimple="false" auto="true" label="Upload" dragDropSupport="false"
	          							 sizeLimit="10000000" fileLimit="3" allowTypes="/(\.|\/)(doc|txt|pdf|gif|jpe?g|png)$/" process="@this"/>
  							<p:outputLabel  id ="schedaProgettoLabel" value="#{newCollaudoController.uploadfileSawBean.nomeFileSchedaProgetto}" styleClass="titoliPanel" />
  							<p:commandButton value="Reset" immediate="true" action="#{newCollaudoController.resetSchedaProgetto()}" icon="fa fa-fw fa-trash"   update="schedaProgetto,schedaProgettoLabel"></p:commandButton>
  							
  							<p:outputLabel value="#{messages['checkList']}" styleClass="titoliPanel" />
						    <p:fileUpload id="checkList" fileUploadListener="#{newCollaudoController.uploadCheckList}" update="checkListLabel" mode="advanced" skinSimple="false" auto="true" label="Upload" dragDropSupport="false"
	          							 sizeLimit="10000000" fileLimit="3" allowTypes="/(\.|\/)(doc|txt|pdf|gif|jpe?g|png)$/" />
  							<p:outputLabel  id ="checkListLabel" value="#{newCollaudoController.uploadfileSawBean.nomeFileCheckList}" styleClass="titoliPanel" />
  							<p:commandButton value="Reset" immediate="true" action="#{newCollaudoController.resetCheckList()}" icon="fa fa-fw fa-trash"   update="checkList,checkListLabel"></p:commandButton>
  							
  							<p:outputLabel value="#{messages['schedaRadioEsecutiva']}" styleClass="titoliPanel" />
						    <p:fileUpload id="schedaRadio" fileUploadListener="#{newCollaudoController.uploadSchedaRadio}" update="schedaRadioLabel" mode="advanced" skinSimple="false" auto="true" label="Upload" dragDropSupport="false" 
	          							 sizeLimit="10000000" fileLimit="3" allowTypes="/(\.|\/)(doc|txt|pdf|gif|jpe?g|png)$/"  />
  							<p:outputLabel  id ="schedaRadioLabel" value="#{newCollaudoController.uploadfileSawBean.nomeFileSchedaRadio}" styleClass="titoliPanel" />
  							<p:commandButton value="Reset" immediate="true" action="#{newCollaudoController.resetSchedaRadio()}" icon="fa fa-fw fa-trash"   update="schedaRadio,schedaRadioLabel"></p:commandButton>
						</p:panelGrid>
					</p:column>
				</p:panelGrid>
				<p:commandButton value="#{messages['salva']}"
					process="formNewCollaudo" action="#{newCollaudoController.save()}"
					icon="ui-icon-check" style="margin-top:10px;"
					update="formNewCollaudo">
					<p:confirm header="#{messages['dialogConfirm']}"
						message="#{messages['confirmSave']}" icon="ui-icon-alert" />
				</p:commandButton>
			</p:panel>
			<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
				<div style="text-align: center">
					<p:commandButton value="#{messages['si']}" type="button"
						styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
					<p:commandButton value="#{messages['no']}" type="button"
						styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
				</div>
			</p:confirmDialog>

		</h:form>
	</ui:define>
</ui:composition>