<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui" template="/layout/template.xhtml">
	<ui:define name="body">

		<h:form id="formCollaudiInLavorazione">
			<div align="left">
				<h:outputText styleClass="titlePage"
					value="#{messages['menu_sessioni_sub1']}" />
			</div>
			<div align="center">
				<h:panelGrid columns="2" style="margin-bottom:10px" cellpadding="5"
					rendered="#{sessioniController.currentUser.viwUtente.flgImpresa}">
					<p:outputLabel value="#{messages['mieSessioni']}"
						styleClass="titlePage" />
					<p:selectBooleanCheckbox
						value="#{sessioniController.sessioniUserImp}" id="mySession">
						<p:ajax update="sessioniTableID"
							listener="#{sessioniController.arrCollaudiInLavorazioneMoiCheck}" />
					</p:selectBooleanCheckbox>
				</h:panelGrid>
			</div>

			<!-- PANNELLO FILTRO -->
			<div align="center" style="padding: 15px 0px 15px 5px">
				<p:accordionPanel id="panelFiltroSessioni" activeIndex="-1">
					<p:tab title="#{messages['filtro']}" titleStyle="padding: 5 5 5 5">
						<p:panelGrid columns="3">
							<h:outputText for="idStato" value="#{messages['descStato']}"
								styleClass="titoliPanel" />
							<p:selectOneMenu id="idStato"
								value="#{sessioniController.sessioniFilter.codiStato}"
								style="width: 250px;">
								<f:selectItem itemLabel="#{messages['combolistNotSelected']}"
									itemValue="#{null}" />
								<f:selectItems value="#{sessioniController.listStati}"
									var="stato" itemValue="#{stato.codiStato}"
									itemLabel="#{stato.descStato}" />
							</p:selectOneMenu>


							
							<h:panelGroup>
								<p:commandButton value="#{messages['cerca']}"
									process="panelFiltroSessioni"
									update=":formCollaudiInLavorazione:sessioniTableID,panelFiltroSessioni"
									action="#{sessioniController.filter()}" />
								<p:spacer width="10px" />
								<p:commandButton value="#{messages['annulla']}"
									process="panelFiltroSessioni"
									action="#{sessioniController.filterClear()}"
									update=":formCollaudiInLavorazione:sessioniTableID,idStato,:formCollaudiInLavorazione:mySession">
								</p:commandButton>
							</h:panelGroup>
						</p:panelGrid>
					</p:tab>
				</p:accordionPanel>
			</div>
			
			<!-- PANNELLO DIALOG BUTTONS -->
			<p:dataTable id="sessioniTableID" var="sessione"
				emptyMessage="#{messages['noDataFound']}"
				widgetVar="sessioniTableWV"
				value="#{sessioniController.arrCollaudiInLavorazione}"
				selectionMode="single"
				selection="#{sessioniController.selectedSessione}"
				rowKey="#{sessione.codiSessione}" paginator="true" rows="20"
				scrollable="true" scrollHeight="280" styleClass="tablestyle">
				<f:facet name="header">#{messages['listaCollaudiInLavorazione']} (#{sessioniController.arrCollaudiInLavorazione.size()})
				<h:commandLink
						rendered="#{sessioniController.arrCollaudiInLavorazione.size()>0}">
						<h:graphicImage value="/img/excel.png"
							title="#{messages['exportCollaudi']}" width="24"
							style="vertical-align: middle" />
						<p:dataExporter type="xls" target="sessioniTableID"
							fileName="#{messages['listaCollaudi']}" />
					</h:commandLink>
					<br />
					<br />
				</f:facet>
				<p:column
					headerText="#{messages['descNomeSito']} (#{messages['descStato']})"
					width="10%" sortBy="#{sessione.descNomeSito}"
					filterBy="#{sessione.descNomeSito}" filterMatchMode="contains">
					<h:outputText value="#{sessione.descNomeSito} "
						title="#{sessione.descNomeSito}" style="display:block" />
					<h:outputText
						rendered="#{sessioniController.isSessioneWithNota(sessione.codiSessione)}"
						class="fa fa-info-circle" style="color:red; float:right;"
						title="Note presenti" />
					<h:outputText value="(#{sessione.descStato}) "
						title="#{sessione.descStato}" styleClass="statoSessione"
						style="display:block" />
				</p:column>
				<p:column headerText="#{messages['descAreaComp']}" width="9%"
					sortBy="#{sessione.descAreaComp}"
					filterBy="#{sessione.descAreaComp}" filterMatchMode="contains">
					<h:outputText value="#{sessione.descAreaComp}" />
				</p:column>
				<p:column headerText="#{messages['descRegione']}" width="7%"
					sortBy="#{sessione.descRegione}" filterBy="#{sessione.descRegione}"
					filterMatchMode="contains">
					<h:outputText value="#{sessione.descRegione}" />
				</p:column>
				<p:column headerText="#{messages['descComune']}" width="9%"
					sortBy="#{sessione.descComune}" filterBy="#{sessione.descComune}"
					filterMatchMode="contains">
					<h:outputText id="descComune" value="#{sessione.descComune}"
						title="#{sessione.descComune}" />
				</p:column>

				<!-- inizio nuovo  -->
				<p:column headerText="#{messages['descClli']}" width="7%"
					sortBy="#{sessione.clliSito}" filterBy="#{sessione.clliSito}"
					filterMatchMode="contains">
					<h:outputText value="#{sessione.clliSito}" />
				</p:column>
				<p:column headerText="#{messages['descTipoImpianto']}" width="6%"
					sortBy="#{sessione.descImpianto}"
					filterBy="#{sessione.descImpianto}" filterMatchMode="contains">
					<h:outputText value="#{sessione.descImpianto}" />
				</p:column>
				<p:column headerText="#{messages['descCodice']}" width="5%"
					sortBy="#{sessione.descCodice}" filterBy="#{sessione.descCodice}"
					filterMatchMode="contains">
					<h:outputText value="#{sessione.descCodice}" />
				</p:column>
				<p:column headerText="#{messages['codiceDbr']}" width="6%"
					sortBy="#{sessione.codiceDbr}" filterBy="#{sessione.codiceDbr}"
					filterMatchMode="contains">
					<h:outputText value="#{sessione.codiceDbr}" />
				</p:column>
				<p:column headerText="#{messages['dataPrevistoCollaudo']}"
					width="9%" sortBy="#{sessione.timePrevistoCollaudo}"
					filterBy="#{sessione.timePrevistoCollaudo}"
					filterMatchMode="contains">
					<h:outputText value="#{sessione.timePrevistoCollaudo}">
						<f:convertDateTime type="date" pattern="dd/MM/yyyy" />
					</h:outputText>
				</p:column>

				<p:column headerText="#{messages['imprese']}" width="5%"
					exportable="false">
					<p:commandLink id="ditte"
						action="#{sessioniController.openAssocDitte()}"
						process="sessioniTableID"
						update=":formCollaudiInLavorazione:associazioneDitte">
						<f:setPropertyActionListener value="#{sessione}"
							target="#{sessioniController.selectedSessione}" />
						<h:graphicImage value="/img/impresa.png"
							title="#{messages['panelImpreseAssociate']}" />
					</p:commandLink>
				</p:column>

				<p:column headerText="#{messages['antenne']}" width="17%">
					<p:commandLink action="#{sessioniController.forcedUnlockA()}"
						update="formCollaudiInLavorazione"
						title="#{messages['sbloccaAllegato']}"
						disabled="#{!sessione.flgLockA or (menuController.currentUser.viwUtente.codiRole == configurationController.dg)or (menuController.currentUser.viwUtente.codiRole == configurationController.refTer)or (menuController.currentUser.viwUtente.codiRole == configurationController.supervisor)or (menuController.currentUser.viwUtente.codiRole == configurationController.operatore)or (menuController.currentUser.viwUtente.codiRole == configurationController.userVendor)}">
						<f:setPropertyActionListener value="#{sessione}"
							target="#{sessioniController.selectedSessione}" />
						<p:confirm header="#{messages['sbloccoAlegatoTitle']}"
							message="#{messages['sbloccoAlegatoConfirm']}"
							icon="ui-icon-alert" />
						<h:graphicImage value="/img/allegato_a_lock.png"
							rendered="#{sessione.flgLockA and sessione.flgAllegatoA}" />
						<h:graphicImage value="/img/allegato_a_g.png"
							rendered="#{sessione.flgAllegatoA and sessione.codiStatoA==1}" />
						<h:graphicImage value="/img/allegato_a_y.png"
							rendered="#{sessione.flgAllegatoA and sessione.codiStatoA==2}" />
						<h:graphicImage value="/img/allegato_a.png"
							rendered="#{sessione.flgAllegatoA and sessione.codiStatoA==3}" />
						<h:graphicImage value="/img/allegato_a_b.png"
							rendered="#{sessione.flgAllegatoA and !sessione.flgLockA and (sessione.codiStatoA==4 or sessione.codiStatoA==null) and sessioniController.isFlgVerbaleParziale(1, sessione.codiSessione) == 0}" />
						<h:graphicImage
							value="/img/allegato_a_collaudo_parziale_ditta.png"
							rendered="#{sessione.flgAllegatoA and !sessione.flgLockA and sessioniController.isFlgVerbaleParziale(1, sessione.codiSessione) == 1 and (sessione.codiStatoA==4 or sessione.codiStatoA==null)}" />
					</p:commandLink>
					<p:commandLink action="#{sessioniController.forcedUnlockB()}"
						update="formCollaudiInLavorazione"
						title="#{messages['sbloccaAllegato']}"
						disabled="#{!sessione.flgLockB or (menuController.currentUser.viwUtente.codiRole == configurationController.dg)or (menuController.currentUser.viwUtente.codiRole == configurationController.refTer)or (menuController.currentUser.viwUtente.codiRole == configurationController.supervisor)or (menuController.currentUser.viwUtente.codiRole == configurationController.operatore)or (menuController.currentUser.viwUtente.codiRole == configurationController.userVendor)}">
						<f:setPropertyActionListener value="#{sessione}"
							target="#{sessioniController.selectedSessione}" />
						<p:confirm header="#{messages['sbloccoAlegatoTitle']}"
							message="#{messages['sbloccoAlegatoConfirm']}"
							icon="ui-icon-alert" />
						<h:graphicImage value="/img/allegato_b_lock.png"
							rendered="#{sessione.flgLockB and sessione.flgAllegatoB}" />
						<h:graphicImage value="/img/allegato_b_g.png"
							rendered="#{sessione.flgAllegatoB and sessione.codiStatoB==1}" />
						<h:graphicImage value="/img/allegato_b_y.png"
							rendered="#{sessione.flgAllegatoB and sessione.codiStatoB==2}" />
						<h:graphicImage value="/img/allegato_b.png"
							rendered="#{sessione.flgAllegatoB and sessione.codiStatoB==3}" />
						<h:graphicImage value="/img/allegato_b_b.png"
							rendered="#{sessione.flgAllegatoB and !sessione.flgLockB and (sessione.codiStatoB==4 or sessione.codiStatoB==null) and sessioniController.isFlgVerbaleParziale(2, sessione.codiSessione) == 0}" />
						<h:graphicImage
							value="/img/allegato_b_collaudo_parziale_ditta.png"
							rendered="#{sessione.flgAllegatoB and !sessione.flgLockB and sessioniController.isFlgVerbaleParziale(2, sessione.codiSessione) == 1 and (sessione.codiStatoB==4 or sessione.codiStatoB==null)}" />
					</p:commandLink>
					<p:commandLink action="#{sessioniController.forcedUnlockC()}"
						update="formCollaudiInLavorazione"
						title="#{messages['sbloccaAllegato']}"
						disabled="#{!sessione.flgLockC or (menuController.currentUser.viwUtente.codiRole == configurationController.dg)or (menuController.currentUser.viwUtente.codiRole == configurationController.refTer)or (menuController.currentUser.viwUtente.codiRole == configurationController.supervisor)or (menuController.currentUser.viwUtente.codiRole == configurationController.operatore)or (menuController.currentUser.viwUtente.codiRole == configurationController.userVendor)}">
						<f:setPropertyActionListener value="#{sessione}"
							target="#{sessioniController.selectedSessione}" />
						<p:confirm header="#{messages['sbloccoAlegatoTitle']}"
							message="#{messages['sbloccoAlegatoConfirm']}"
							icon="ui-icon-alert" />
						<h:graphicImage value="/img/allegato_c_lock.png"
							rendered="#{sessione.flgLockC and sessione.flgAllegatoC}" />
						<h:graphicImage value="/img/allegato_c_g.png"
							rendered="#{sessione.flgAllegatoC and sessione.codiStatoC==1}" />
						<h:graphicImage value="/img/allegato_c_y.png"
							rendered="#{sessione.flgAllegatoC and sessione.codiStatoC==2}" />
						<h:graphicImage value="/img/allegato_c.png"
							rendered="#{sessione.flgAllegatoC and sessione.codiStatoC==3}" />
						<h:graphicImage value="/img/allegato_c_b.png"
							rendered="#{sessione.flgAllegatoC and !sessione.flgLockC and (sessione.codiStatoC==4 or sessione.codiStatoC==null) and sessioniController.isFlgVerbaleParziale(3, sessione.codiSessione) == 0}" />
						<h:graphicImage
							value="/img/allegato_c_collaudo_parziale_ditta.png"
							rendered="#{sessione.flgAllegatoC and !sessione.flgLockC and sessioniController.isFlgVerbaleParziale(3, sessione.codiSessione) == 1 and (sessione.codiStatoC==4 or sessione.codiStatoC==null)}" />
					</p:commandLink>
					<h:graphicImage value="/img/allegato_d1_g.png"
						rendered="#{sessione.flgAllegatoD1 and sessione.codiStatoD1==1}" />
					<h:graphicImage value="/img/allegato_d1_y.png"
						rendered="#{sessione.flgAllegatoD1 and sessione.codiStatoD1==2}" />
					<h:graphicImage value="/img/allegato_d1.png"
						rendered="#{sessione.flgAllegatoD1 and sessione.codiStatoD1==3}" />
					<h:graphicImage value="/img/allegato_d1_b.png"
						rendered="#{sessione.flgAllegatoD1 and (sessione.codiStatoD1==4 or sessione.codiStatoD1==null)}" />
					<p:commandLink action="#{sessioniController.forcedUnlockD()}"
						update="formCollaudiInLavorazione"
						disabled="#{!sessione.flgLockD or (menuController.currentUser.viwUtente.codiRole == configurationController.dg)or (menuController.currentUser.viwUtente.codiRole == configurationController.refTer)or (menuController.currentUser.viwUtente.codiRole == configurationController.supervisor)or (menuController.currentUser.viwUtente.codiRole == configurationController.operatore)or (menuController.currentUser.viwUtente.codiRole == configurationController.userVendor)}"
						title="#{messages['sbloccaAllegato']}">
						<f:setPropertyActionListener value="#{sessione}"
							target="#{sessioniController.selectedSessione}" />
						<p:confirm header="#{messages['sbloccoAlegatoTitle']}"
							message="#{messages['sbloccoAlegatoConfirm']}"
							icon="ui-icon-alert" />
						<h:graphicImage value="/img/allegato_d2_lock.png"
							rendered="#{sessione.flgLockD and sessione.flgAllegatoD}" />
						<h:graphicImage value="/img/allegato_d2_g.png"
							rendered="#{sessione.flgAllegatoD and sessione.codiStatoD2==1}" />
						<h:graphicImage value="/img/allegato_d2_y.png"
							rendered="#{sessione.flgAllegatoD and sessione.codiStatoD2==2}" />
						<h:graphicImage value="/img/allegato_d2.png"
							rendered="#{sessione.flgAllegatoD and sessione.codiStatoD2==3}" />
						<h:graphicImage value="/img/allegato_d2_b.png"
							rendered="#{sessione.flgAllegatoD and !sessione.flgLockD and (sessione.codiStatoD2==4 or sessione.codiStatoD2==null) and sessioniController.isFlgVerbaleParziale(4, sessione.codiSessione) == 0}" />
						<h:graphicImage
							value="/img/allegato_d2_collaudo_parziale_ditta.png"
							rendered="#{sessione.flgAllegatoD and !sessione.flgLockD and sessioniController.isFlgVerbaleParziale(4, sessione.codiSessione) == 1 and (sessione.codiStatoD2==4 or sessione.codiStatoD2==null)}" />
					</p:commandLink>
					<p:commandLink action="#{sessioniController.forcedUnlockE()}"
						update="formCollaudiInLavorazione"
						disabled="#{!sessione.flgLockE or (menuController.currentUser.viwUtente.codiRole == configurationController.dg)or (menuController.currentUser.viwUtente.codiRole == configurationController.refTer)or (menuController.currentUser.viwUtente.codiRole == configurationController.supervisor)or (menuController.currentUser.viwUtente.codiRole == configurationController.operatore)or (menuController.currentUser.viwUtente.codiRole == configurationController.userVendor)}"
						title="#{messages['sbloccaAllegato']}">
						<f:setPropertyActionListener value="#{sessione}"
							target="#{sessioniController.selectedSessione}" />
						<p:confirm header="#{messages['sbloccoAlegatoTitle']}"
							message="#{messages['sbloccoAlegatoConfirm']}"
							icon="ui-icon-alert" />
						<h:graphicImage value="/img/allegato_e_lock.png"
							rendered="#{sessione.flgLockE and sessione.flgAllegatoE}" />
						<h:graphicImage value="/img/allegato_e_g.png"
							rendered="#{sessione.flgAllegatoE and sessione.codiStatoE==1}" />
						<h:graphicImage value="/img/allegato_e_y.png"
							rendered="#{sessione.flgAllegatoE and sessione.codiStatoE==2}" />
						<h:graphicImage value="/img/allegato_e.png"
							rendered="#{sessione.flgAllegatoE and sessione.codiStatoE==3}" />
						<h:graphicImage value="/img/allegato_e_b.png"
							rendered="#{sessione.flgAllegatoE and !sessione.flgLockE and (sessione.codiStatoE==4 or sessione.codiStatoE==null)}" />
					</p:commandLink>

					<h:outputText value="A(P) "
						rendered="#{sessione.flgAllegatoA and sessione.codiStatoA==1}"
						style="display: none" />
					<h:outputText value="A(R) "
						rendered="#{sessione.flgAllegatoA and sessione.codiStatoA==2}"
						style="display: none" />
					<h:outputText value="A(N) "
						rendered="#{sessione.flgAllegatoA and sessione.codiStatoA==3}"
						style="display: none" />
					<h:outputText value="A "
						rendered="#{sessione.flgAllegatoA and !sessione.flgLockA and (sessione.codiStatoA==4 or sessione.codiStatoA==null) and sessioniController.isFlgVerbaleParziale(1, sessione.codiSessione) == 0}"
						style="display: none" />
					<h:outputText value="A(CP)"
						rendered="#{sessione.flgAllegatoA and !sessione.flgLockA and sessioniController.isFlgVerbaleParziale(1, sessione.codiSessione) == 1 and (sessione.codiStatoA==4 or sessione.codiStatoA==null)}"
						style="display: none" />
					<h:outputText value="A(L)"
						rendered="#{sessione.flgAllegatoA and sessione.flgLockA}"
						style="display: none" />
					<h:outputText value="B(P) "
						rendered="#{sessione.flgAllegatoB and sessione.codiStatoB==1}"
						style="display: none" />
					<h:outputText value="B(R) "
						rendered="#{sessione.flgAllegatoB and sessione.codiStatoB==2}"
						style="display: none" />
					<h:outputText value="B(N) "
						rendered="#{sessione.flgAllegatoB and sessione.codiStatoB==3}"
						style="display: none" />
					<h:outputText value="B "
						rendered="#{sessione.flgAllegatoB  and !sessione.flgLockB and (sessione.codiStatoB==4 or sessione.codiStatoB==null) and sessioniController.isFlgVerbaleParziale(2, sessione.codiSessione) == 0}"
						style="display: none" />
					<h:outputText value="B(CP) "
						rendered="#{sessione.flgAllegatoB and !sessione.flgLockB and sessioniController.isFlgVerbaleParziale(2, sessione.codiSessione) == 1 and (sessione.codiStatoB==4 or sessione.codiStatoB==null)}"
						style="display: none" />
					<h:outputText value="B(L)"
						rendered="#{sessione.flgAllegatoB and sessione.flgLockB}"
						style="display: none" />
					<h:outputText value="C(P) "
						rendered="#{sessione.flgAllegatoC and sessione.codiStatoC==1}"
						style="display: none" />
					<h:outputText value="C(R) "
						rendered="#{sessione.flgAllegatoC and sessione.codiStatoC==2}"
						style="display: none" />
					<h:outputText value="C(N) "
						rendered="#{sessione.flgAllegatoC and sessione.codiStatoC==3}"
						style="display: none" />
					<h:outputText value="C "
						rendered="#{sessione.flgAllegatoC and !sessione.flgLockC and (sessione.codiStatoC==4 or sessione.codiStatoC==null) and sessioniController.isFlgVerbaleParziale(3, sessione.codiSessione) == 0}"
						style="display: none" />
					<h:outputText value="C(CP) "
						rendered="#{sessione.flgAllegatoC and !sessione.flgLockC and sessioniController.isFlgVerbaleParziale(3, sessione.codiSessione) == 1 and (sessione.codiStatoC==4 or sessione.codiStatoC==null)}"
						style="display: none" />
					<h:outputText value="C(L)"
						rendered="#{sessione.flgAllegatoC and sessione.flgLockC}"
						style="display: none" />
					<h:outputText value="D1(P) "
						rendered="#{sessione.flgAllegatoD1 and sessione.codiStatoD1==1}"
						style="display: none" />
					<h:outputText value="D1(R) "
						rendered="#{sessione.flgAllegatoD1 and sessione.codiStatoD1==2}"
						style="display: none" />
					<h:outputText value="D1(N) "
						rendered="#{sessione.flgAllegatoD1 and sessione.codiStatoD1==3}"
						style="display: none" />
					<h:outputText value="D1 "
						rendered="#{sessione.flgAllegatoD1 and (sessione.codiStatoD1==4 or sessione.codiStatoD1==null)}"
						style="display: none" />
					<h:outputText value="D2(P) "
						rendered="#{sessione.flgAllegatoD and sessione.codiStatoD2==1}"
						style="display: none" />
					<h:outputText value="D2(R) "
						rendered="#{sessione.flgAllegatoD and sessione.codiStatoD2==2}"
						style="display: none" />
					<h:outputText value="D2(N) "
						rendered="#{sessione.flgAllegatoD and sessione.codiStatoD2==3}"
						style="display: none" />
					<h:outputText value="D2 "
						rendered="#{sessione.flgAllegatoD and !sessione.flgLockD and (sessione.codiStatoD2==4 or sessione.codiStatoD2==null) and sessioniController.isFlgVerbaleParziale(4, sessione.codiSessione) == 0}"
						style="display: none" />
					<h:outputText value="D2(CP) "
						rendered="#{sessione.flgAllegatoD and !sessione.flgLockD and sessioniController.isFlgVerbaleParziale(4, sessione.codiSessione) == 1 and (sessione.codiStatoD2==4 or sessione.codiStatoD2==null)}"
						style="display: none" />
					<h:outputText value="D2(L)"
						rendered="#{sessione.flgAllegatoD and sessione.flgLockD}"
						style="display: none" />
					<h:outputText value="E(P)"
						rendered="#{sessione.flgAllegatoE and sessione.codiStatoE==1}"
						style="display: none" />
					<h:outputText value="E(R)"
						rendered="#{sessione.flgAllegatoE and sessione.codiStatoE==2}"
						style="display: none" />
					<h:outputText value="E(N)"
						rendered="#{sessione.flgAllegatoE and sessione.codiStatoE==3}"
						style="display: none" />
					<h:outputText value="E"
						rendered="#{sessione.flgAllegatoE and !sessione.flgLockE and (sessione.codiStatoE==4 or sessione.codiStatoE==null)}"
						style="display: none" />
					<h:outputText value="E(L)"
						rendered="#{sessione.flgAllegatoE and sessione.flgLockE}"
						style="display: none" />

				</p:column>
				<p:column headerText="#{messages['apparati']}" width="6%"
					style="text-align: center">
					<p:commandLink action="#{sessioniController.forcedUnlockHuawei()}"
						update="formCollaudiInLavorazione"
						disabled="#{!sessione.flgLockHuawei or (menuController.currentUser.viwUtente.codiRole == configurationController.dg)or (menuController.currentUser.viwUtente.codiRole == configurationController.refTer)or (menuController.currentUser.viwUtente.codiRole == configurationController.supervisor)or (menuController.currentUser.viwUtente.codiRole == configurationController.operatore)or (menuController.currentUser.viwUtente.codiRole == configurationController.userVendor)}"
						title="#{messages['sbloccaAllegato']}">
						<f:setPropertyActionListener value="#{sessione}"
							target="#{sessioniController.selectedSessione}" />
						<p:confirm header="#{messages['sbloccoAlegatoTitle']}"
							message="#{messages['sbloccoAlegatoConfirm']}"
							icon="ui-icon-alert" />
						<h:graphicImage value="/img/verbale_huawei_lock.png"
							rendered="#{sessione.flgLockHuawei and sessione.flgApparatoHuawei}" />
						<h:graphicImage value="/img/verbale_huawei_g.png"
							rendered="#{sessione.flgApparatoHuawei and sessione.codiStatoHuawei==1}" />
						<h:graphicImage value="/img/verbale_huawei_y.png"
							rendered="#{sessione.flgApparatoHuawei and sessione.codiStatoHuawei==2}" />
						<h:graphicImage value="/img/verbale_huawei.png"
							rendered="#{sessione.flgApparatoHuawei and sessione.codiStatoHuawei==3}" />
						<h:graphicImage value="/img/verbale_huawei_b.png"
							rendered="#{sessione.flgApparatoHuawei and !sessione.flgLockHuawei and (sessione.codiStatoHuawei==4 or sessione.codiStatoHuawei==null) and sessioniController.isFlgVerbaleParziale(7, sessione.codiSessione) == 0}" />
						<h:graphicImage
							value="/img/verbale_huawei_collaudo_parziale_ditta.png"
							rendered="#{sessione.flgApparatoHuawei and !sessione.flgLockHuawei and sessioniController.isFlgVerbaleParziale(7, sessione.codiSessione) == 1 and (sessione.codiStatoHuawei==4 or sessione.codiStatoHuawei==null)}" />
					</p:commandLink>
					<p:commandLink
						action="#{sessioniController.forcedUnlockEricsson()}"
						update="formCollaudiInLavorazione"
						disabled="#{!sessione.flgLockEricsson or (menuController.currentUser.viwUtente.codiRole == configurationController.dg)or (menuController.currentUser.viwUtente.codiRole == configurationController.refTer)or (menuController.currentUser.viwUtente.codiRole == configurationController.supervisor)or (menuController.currentUser.viwUtente.codiRole == configurationController.operatore)or (menuController.currentUser.viwUtente.codiRole == configurationController.userVendor)}"
						title="#{messages['sbloccaAllegato']}">
						<f:setPropertyActionListener value="#{sessione}"
							target="#{sessioniController.selectedSessione}" />
						<p:confirm header="#{messages['sbloccoAlegatoTitle']}"
							message="#{messages['sbloccoAlegatoConfirm']}"
							icon="ui-icon-alert" />
						<h:graphicImage value="/img/verbale_ericsson_lock.png"
							rendered="#{sessione.flgLockEricsson and sessione.flgApparatoEricsson}" />
						<h:graphicImage value="/img/verbale_ericsson_g.png"
							rendered="#{sessione.flgApparatoEricsson and sessione.codiStatoEricsson==1}" />
						<h:graphicImage value="/img/verbale_ericsson_y.png"
							rendered="#{sessione.flgApparatoEricsson and sessione.codiStatoEricsson==2}" />
						<h:graphicImage value="/img/verbale_ericsson.png"
							rendered="#{sessione.flgApparatoEricsson and sessione.codiStatoEricsson==3}" />
						<h:graphicImage value="/img/verbale_ericsson_b.png"
							rendered="#{sessione.flgApparatoEricsson and !sessione.flgLockEricsson and sessioniController.isFlgVerbaleParziale(6, sessione.codiSessione) == 0 and (sessione.codiStatoEricsson==4 or sessione.codiStatoEricsson==null) }" />
						<h:graphicImage
							value="/img/verbale_ericsson_collaudo_parziale_ditta.png"
							rendered="#{sessione.flgApparatoEricsson and !sessione.flgLockEricsson and sessioniController.isFlgVerbaleParziale(6, sessione.codiSessione) == 1 and (sessione.codiStatoEricsson==4 or sessione.codiStatoEricsson==null)}" />
					</p:commandLink>
					<p:commandLink action="#{sessioniController.forcedUnlockNokia()}"
						update="formCollaudiInLavorazione"
						disabled="#{!sessione.flgLockNsn or (menuController.currentUser.viwUtente.codiRole == configurationController.dg)or (menuController.currentUser.viwUtente.codiRole == configurationController.refTer)or (menuController.currentUser.viwUtente.codiRole == configurationController.supervisor)or (menuController.currentUser.viwUtente.codiRole == configurationController.operatore)or (menuController.currentUser.viwUtente.codiRole == configurationController.userVendor)}"
						title="#{messages['sbloccaAllegato']}">
						<f:setPropertyActionListener value="#{sessione}"
							target="#{sessioniController.selectedSessione}" />
						<p:confirm header="#{messages['sbloccoAlegatoTitle']}"
							message="#{messages['sbloccoAlegatoConfirm']}"
							icon="ui-icon-alert" />
						<h:graphicImage value="/img/verbale_nokia_lock.png"
							rendered="#{sessione.flgLockNsn and sessione.flgApparatoNsn}" />
						<h:graphicImage value="/img/verbale_nokia_g.png"
							rendered="#{sessione.flgApparatoNsn and sessione.codiStatoNokia==1}" />
						<h:graphicImage value="/img/verbale_nokia_y.png"
							rendered="#{sessione.flgApparatoNsn and sessione.codiStatoNokia==2}" />
						<h:graphicImage value="/img/verbale_nokia.png"
							rendered="#{sessione.flgApparatoNsn and sessione.codiStatoNokia==3}" />
						<h:graphicImage value="/img/verbale_nokia_b.png"
							rendered="#{sessione.flgApparatoNsn and !sessione.flgLockNsn and (sessione.codiStatoNokia==4 or sessione.codiStatoNokia==null) and sessioniController.isFlgVerbaleParziale(5, sessione.codiSessione) == 0}" />
						<h:graphicImage
							value="/img/verbale_nokia_collaudo_parziale_ditta.png"
							rendered="#{sessione.flgApparatoNsn and !sessione.flgLockNsn and sessioniController.isFlgVerbaleParziale(5, sessione.codiSessione) == 1 and (sessione.codiStatoNokia==4 or sessione.codiStatoNokia==null)}" />
					</p:commandLink>

					<h:outputText value="Huawei(P)"
						rendered="#{sessione.flgApparatoHuawei and sessione.codiStatoHuawei==1}"
						style="display:none" />
					<h:outputText value="Huawei(R)"
						rendered="#{sessione.flgApparatoHuawei and sessione.codiStatoHuawei==2}"
						style="display:none" />
					<h:outputText value="Huawei(N)"
						rendered="#{sessione.flgApparatoHuawei and sessione.codiStatoHuawei==3}"
						style="display:none" />
					<h:outputText value="Huawei"
						rendered="#{sessione.flgApparatoHuawei and !sessione.flgLockHuawei and (sessione.codiStatoHuawei==4 or sessione.codiStatoHuawei==null) and sessioniController.isFlgVerbaleParziale(7, sessione.codiSessione) == 0}"
						style="display:none" />
					<h:outputText value="Huawei(CP)"
						rendered="#{sessione.flgApparatoHuawei and !sessione.flgLockHuawei and sessioniController.isFlgVerbaleParziale(7, sessione.codiSessione) == 1 and (sessione.codiStatoHuawei==4 or sessione.codiStatoHuawei==null)}"
						style="display:none" />
					<h:outputText value="Huawei(L)"
						rendered="#{sessione.flgApparatoHuawei and sessione.flgLockHuawei}"
						style="display:none" />


					<h:outputText value="Ericsson(P)"
						rendered="#{sessione.flgApparatoEricsson and sessione.codiStatoEricsson==1}"
						style="display:none" />
					<h:outputText value="Ericsson(R)"
						rendered="#{sessione.flgApparatoEricsson and sessione.codiStatoEricsson==2}"
						style="display:none" />
					<h:outputText value="Ericsson(N)"
						rendered="#{sessione.flgApparatoEricsson and sessione.codiStatoEricsson==3}"
						style="display:none" />
					<h:outputText value="Ericsson"
						rendered="#{sessione.flgApparatoEricsson and !sessione.flgLockEricsson and (sessione.codiStatoEricsson==4 or sessione.codiStatoEricsson==null) and sessioniController.isFlgVerbaleParziale(6, sessione.codiSessione) == 0}"
						style="display:none" />
					<h:outputText value="Ericsson(CP)"
						rendered="#{sessione.flgApparatoEricsson and !sessione.flgLockEricsson and sessioniController.isFlgVerbaleParziale(6, sessione.codiSessione) == 1 and (sessione.codiStatoEricsson==4 or sessione.codiStatoEricsson==null)}"
						style="display:none" />
					<h:outputText value="Ericsson(L)"
						rendered="#{sessione.flgApparatoEricsson and sessione.flgLockEricsson}"
						style="display:none" />


					<h:outputText value="Nokia(P)"
						rendered="#{sessione.flgApparatoNsn and sessione.codiStatoNokia==1}"
						style="display:none" />
					<h:outputText value="Nokia(R)"
						rendered="#{sessione.flgApparatoNsn and sessione.codiStatoNokia==2}"
						style="display:none" />
					<h:outputText value="Nokia(N)"
						rendered="#{sessione.flgApparatoNsn and sessione.codiStatoNokia==3}"
						style="display:none" />
					<h:outputText value="Nokia"
						rendered="#{sessione.flgApparatoNsn and !sessione.flgLockNsn and (sessione.codiStatoNokia==4 or sessione.codiStatoNokia==null) and sessioniController.isFlgVerbaleParziale(5, sessione.codiSessione) == 0}"
						style="display:none" />
					<h:outputText value="Nokia(CP)"
						rendered="#{sessione.flgApparatoNsn  and !sessione.flgLockNsn and sessioniController.isFlgVerbaleParziale(5, sessione.codiSessione) == 1 and (sessione.codiStatoNokia==4 or sessione.codiStatoNokia==null)}"
						style="display:none" />
					<h:outputText value="Nokia(L)"
						rendered="#{sessione.flgApparatoNsn and sessione.flgLockNsn}"
						style="display:none" />

				</p:column>
				<p:column headerText="#{messages['report']}" width="5%"
					style="text-align: center" exportable="false">
					<p:commandLink id="stampa"
						action="#{sessioniController.openReportAllegati()}"
						process="sessioniTableID"
						update=":formCollaudiInLavorazione:panelAllegatiSession"
						rendered="#{sessione.codiStato==configurationController.disponibile or sessione.codiStato==configurationController.inLavorazione or sessione.codiStato==configurationController.chiuso}">
						<f:setPropertyActionListener value="#{sessione}"
							target="#{sessioniController.selectedSessione}" />
						<h:graphicImage value="/img/report.png"
							title="#{messages['reportAllegati']}" />
					</p:commandLink>

				</p:column>
				<f:facet name="header">
					<p:commandButton value="#{messages['detailSessione']}"
						id="btnDettaglioCollaudiInLavorazione" resetValues="true"
						update="sessioniTableID,:formCollaudiInLavorazione:panelCollaudiInLavorazione"
						action="#{sessioniController.openDetailCollaudiInLavorazione()}"
						icon="fa fa-info-circle" process="sessioniTableID" />
					<p:commandButton value="#{messages['editSessione']}"
						resetValues="true"
						rendered="#{menuController.currentUser.viwUtente.codiRole == configurationController.dgOp or menuController.currentUser.viwUtente.codiRole == configurationController.refTerOp}"
						update=":formCollaudiInLavorazione:panelEditCollaudiInLavorazione"
						action="#{sessioniController.openEditCollaudiInLavorazione()}"
						icon="fa fa-fw fa-edit" process="sessioniTableID" />
					<p:commandButton value="#{messages['compilazioneAllegati']}"
						id="btnCompilazioneAllegati" resetValues="true"
						rendered="#{sessioniController.renderedCompilazione()}"
						update=":formCollaudiInLavorazione:panelCompilazioneAllegati"
						action="#{sessioniController.openCompilazioneAllegati()}"
						icon="fa fa-fw fa-edit" process="sessioniTableID" />
					<p:commandButton value="#{messages['assocUtentiSessioni']}"
						id="btnAssociazione" resetValues="true"
						rendered="#{menuController.currentUser.viwUtente.codiRole == configurationController.dgOp or menuController.currentUser.viwUtente.codiRole == configurationController.refTerOp}"
						update=":formCollaudiInLavorazione:assocSessioneForm:panelAssocSession"
						action="#{sessioniController.openAssocUsers()}"
						icon="fa fa-fw fa-users" process="sessioniTableID" />
					<p:commandButton value="#{messages['btnWorkRequest']}"
						rendered="#{menuController.currentUser.viwUtente.codiRole == configurationController.dgOp or menuController.currentUser.viwUtente.codiRole == configurationController.refTerOp}"
						resetValues="true" title="#{messages['btnWorkRequestTile']}"
						update=":formCollaudiInLavorazione:panelWorkRequest"
						action="#{sessioniController.openWorkRequestPanel()}"
						icon="fa fa-plus-circle " process="sessioniTableID" />

					<p:commandButton value="#{messages['labButtonListRitardi']}"
						rendered="#{menuController.currentUser.viwUtente.codiRole != configurationController.userVendor and menuController.currentUser.viwUtente.flgImpresa==false}"
						resetValues="true" title="#{messages['labButtonListRitardi']}"
						update=":formCollaudiInLavorazione:panelParziali"
						action="#{sessioniController.detailParziali()}"
						icon="fa fa-info-circle" process="sessioniTableID" />

					<p:commandButton value="#{messages['labButtonUpload']}"
						resetValues="true" title=""
						update=":formCollaudiInLavorazione:formUpload"
						action="#{sessioniController.openUpload()}" icon="fa fa-upload"
						process="sessioniTableID" />
					<p:commandButton value="#{messages['labButtonDownload']}"
						resetValues="true" title=""
						update=":formCollaudiInLavorazione:downloadDialog"
						action="#{sessioniController.openDownload()}"
						icon="fa fa-download" process="sessioniTableID" />
					<p:commandButton value="#{messages['uploadDocumentDyn']}"
						resetValues="true" title=""
						action="#{sessioniController.uploadSchedaRischiDyn()}"
						icon="fa fa-upload" process="sessioniTableID" rendered="true" />
					<p:commandButton value="#{messages['downloadDocumentDyn']}"
						resetValues="true" title=""
						update=":formCollaudiInLavorazione:downloadDocumentiDynDialog"
						action="#{sessioniController.openDownloadDyn()}"
						icon="fa fa-download" process="sessioniTableID" rendered="true" />
					<p:commandButton value="#{messages['sbloccaSezioneAllegato']}"
						rendered="#{menuController.currentUser.viwUtente.codiRole == configurationController.supervisor}"
						resetValues="true" title=""
						update=":formCollaudiInLavorazione:panelSbloccaSezioneAllegato"
						action="#{sessioniController.openSbloccaSezioneAllegato()}"
						icon="fa fa-fw fa-edit" process="sessioniTableID" />
					<p:commandButton value="#{messages['infoEsiti']}"
						resetValues="true" title=""
						action="#{sessioniController.openInfoEsiti()}"
						update=":formCollaudiInLavorazione:infoEsiti"
						icon="fa fa-info-circle" process="sessioniTableID"
						style="color: red" />
					<p:commandButton value="#{messages['note']}" title=""
						action="#{sessioniController.openNoteWebAndTablet()}"
						update=":formCollaudiInLavorazione:panelNoteWeb"
						icon="fa fa-info-circle" process="sessioniTableID"
						style="color: red" />
					<p:commandButton value="#{messages['assocManUte']}"
						id="btnAssociazioneManuale" resetValues="true"
						rendered="#{menuController.currentUser.viwUtente.codiRole == configurationController.supervisor}"
						update=":formCollaudiInLavorazione:assocManualeForm:panelAssocManualeUtenti"
						action="#{sessioniController.openAssocUsersManuale()}"
						icon="fa fa-fw fa-users" process="sessioniTableID" />

				</f:facet>

			</p:dataTable>

			<p:dialog header="#{messages['detailSessione']}" position="top"
				widgetVar="collaudiInLavorazioneDialog" modal="true"
				showEffect="blind" hideEffect="fade" resizable="false">
				<ui:include src="/pages/collaudi/detail_CollaudiInLavorazione.xhtml" />
			</p:dialog>

			<p:dialog header="#{messages['editSessione']}" position="top"
				widgetVar="collaudiEditInLavorazioneDialog" modal="true"
				showEffect="blind" hideEffect="fade" resizable="false">
				<ui:include src="/pages/collaudi/edit_CollaudiInLavorazione.xhtml" />
			</p:dialog>

			<p:dialog header="#{messages['assocUtentiSessioni']}"
				showEffect="blind" hideEffect="fade" position="top"
				widgetVar="assocUsersDialog" modal="true" resizable="false">
				<ui:include src="/pages/collaudi/assocUtenti_sessione.xhtml" />
			</p:dialog>

			<p:dialog header="" position="top" width="800"
				widgetVar="workRequestDialog" modal="true" showEffect="blind"
				hideEffect="fade" resizable="false">
				<ui:include src="/pages/collaudi/work_request_collaudo.xhtml" />
			</p:dialog>

			<p:dialog header="#{messages['report']}" position="top" width="350"
				widgetVar="allegatiSessioneDialog" modal="true" showEffect="blind"
				hideEffect="fade" resizable="false">
				<ui:include src="/pages/collaudi/allegati_sessione.xhtml" />
			</p:dialog>

			<p:dialog header="" position="top" width="800"
				widgetVar="parzialiDialog" modal="true" showEffect="blind"
				hideEffect="fade" resizable="false">
				<ui:include src="/pages/collaudi/detail_parziali.xhtml" />
			</p:dialog>

			<p:dialog header="" position="top" width="700"
				widgetVar="uploadDialog" modal="true" showEffect="blind"
				hideEffect="fade" resizable="false">
				<ui:include src="/pages/collaudi/upload.xhtml" />
			</p:dialog>

			<p:dialog header="#{messages['labButtonDownload']}" position="top"
				width="650" widgetVar="downloadDialog" modal="true"
				showEffect="blind" hideEffect="fade" resizable="false">
				<ui:include src="/pages/collaudi/download_file.xhtml" />
			</p:dialog>

			<p:dialog header="#{messages['downloadDocumentDyn']}" position="top"
				width="750" height="570" widgetVar="downloadDocumentDynDialog"
				modal="true" showEffect="blind" hideEffect="fade" resizable="false">
				<ui:include src="/pages/collaudi/download_documenti_dyn.xhtml" />
			</p:dialog>

			<p:dialog header="#{messages['sbloccaSezioneAllegato']}"
				position="top" width="80%" widgetVar="sbloccaSezioneAllegatoDialog"
				modal="true" showEffect="blind" hideEffect="fade" resizable="false">
				<ui:include src="/pages/collaudi/sbloccaSezioneAllegato.xhtml" />
			</p:dialog>

			<p:dialog header="#{messages['panelImpreseAssociate']}"
				position="top" widgetVar="assocDitteDialog" modal="true"
				showEffect="blind" hideEffect="fade">
				<ui:include src="/pages/collaudi/assocDitte_sessione.xhtml" />
			</p:dialog>

			<p:dialog header="#{messages['infoEsiti']}" position="top"
				widgetVar="infoEsitiDialog" modal="true" showEffect="blind"
				hideEffect="fade">
				<ui:include src="/pages/collaudi/infoEsiti.xhtml" />
			</p:dialog>

			<p:dialog position="top" height="500" width="930"
				widgetVar="noteWebTabletDialog" modal="true" showEffect="blind"
				hideEffect="fade">
				<ui:include src="/pages/collaudi/noteWeb.xhtml" />
			</p:dialog>

			<p:dialog id="noteDialog" header="#{messages['newNota']}"
				modal="true" widgetVar="aggiungiNotaDialog"
				style="margin-top: 70px;z-index: 1009;" position="top">
				<ui:include src="/pages/collaudi/aggiungiNotaWeb.xhtml" />
			</p:dialog>

			<p:dialog header="#{messages['editNota']}" modal="true"
				widgetVar="editNotaDialog" style="margin-top: 70px;z-index: 1009;"
				position="top">
				<ui:include src="/pages/collaudi/editNotaWeb.xhtml" />
			</p:dialog>

			<p:dialog header="#{messages['assocManUte']}" showEffect="blind"
				hideEffect="fade" position="top" widgetVar="assocUsersManualeDialog"
				modal="true" resizable="false">
				<ui:include src="/pages/collaudi/assocManualeUtenti.xhtml" />
			</p:dialog>

			<p:dialog header="#{messages['compilazioneAllegati']}" position="top"
				width="350" widgetVar="compilazioneAllegati" modal="true"
				showEffect="blind" hideEffect="fade" resizable="false">
				<ui:include src="/pages/collaudi/form_compilazione_allegati.xhtml" />
			</p:dialog>

			<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
				<div style="text-align: center">
					<p:commandButton value="#{messages['si']}" type="button"
						styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
					<p:commandButton value="#{messages['no']}" type="button"
						styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
				</div>
			</p:confirmDialog>


		</h:form>
	</ui:define>
</ui:composition>