<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui" xmlns:jsf="http://xmlns.jcp.org/jsf">
		<p:treeTable id="infoEsiti" style="width: 100%;max-height: 500px;overflow: auto" value="#{sessioniController.rootMotivazioneEsiti}" var="node">
			<p:column headerText="Nome Sito: #{sessioniController.selectedSessione.descNomeSito}">
				<h:outputText  value="#{node}"/>
			</p:column>
		</p:treeTable>

</ui:composition>