<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui" xmlns:jsf="http://xmlns.jcp.org/jsf">


	<h:form style="text-align:center;" id="panelNoteWeb"
		scrollHeight="true">
        <p:growl id="growl" showDetail="true" sticky="true" />  
		<div>
			<p:commandButton value="#{messages['newNotaWeb']}" icon="fa fa-plus"
				action="#{sessioniController.addNoteWeb()}" process="panelNoteWeb" resetValues="true" update="formCollaudiInLavorazione:noteDialog"/>
			<p:commandButton value="#{messages['editNotaWeb']}" icon="fa fa-plus"
				action="#{sessioniController.editNotaWeb()}" process="panelNoteWeb"
				update=":formCollaudiInLavorazione:panelNoteWeb,:formCollaudiInLavorazione:panelEditNotaWeb"
				rendered="#{sessioniController.listTabNote.size()>0}"/>
			<p:commandButton value="#{messages['send']}"
				title="#{messages['titoloInviaMail']}" process="panelNoteWeb" update="panelNoteWeb"
				action="#{sessioniController.sendNote()}"
				icon="ui-icon-check" rendered="#{sessioniController.listTabNote.size()>0}"/>
		</div>
		<br></br>
		
		<p:accordionPanel id="accordionNote">
			<p:tab title="#{messages['noteWeb']}">
				<p:dataTable id="noteWebTable" var="note"
					value="#{sessioniController.listTabNote}" paginator="true" rows="4"
					selectionMode="single"
					selection="#{sessioniController.selectedNota}"
					rowKey="#{note.idNota}">
					<f:facet name="header">#{messages['noteWeb']} <br />#{messages['descNomeSito']}:#{sessioniController.selectedSessione.descNomeSito}</f:facet>
					<p:column headerText="#{messages['descrizione']}" sortBy="" filterBy=""
						filterMatchMode="contains">
						<h:outputText value="#{note.descNota}" title="#{note.descNota}"/>
					</p:column>
					<p:column headerText="#{messages['username']}" sortBy="" filterBy=""
						filterMatchMode="contains">
						<h:outputText value="#{note.descUser}" />
					</p:column>
				</p:dataTable>
			</p:tab>
			<br></br>
			<br></br>

			<p:tab title="#{messages['noteEsito']}" >
				<p:dataTable id="noteEsito" var="notetablet"
					value="#{sessioniController.listNoteEsito}" paginator="true"
					rows="20">
					<f:facet name="header">#{messages['noteEsito']} <br />#{messages['descNomeSito']}: #{sessioniController.selectedSessione.descNomeSito}
					</f:facet>
					<p:column headerText="#{messages['descrizione']}" sortBy="" filterBy=""
						filterMatchMode="contains">
						<h:outputText value="#{notetablet.descRisultatoSurvey}" title="#{notetablet.descRisultatoSurvey}"/>
					</p:column>
					<p:column headerText="#{messages['username']}">
					     <h:outputText value="#{notetablet.descUser}" title="#{notetablet.descUser}" />
					</p:column>
					<p:column headerText="#{messages['allegatoSingolare']}">
					     <h:outputText value="#{sessioniController.oggettiMap.get(notetablet.codiOggetto)}" title="#{sessioniController.oggettiMap.get(notetablet.codiOggetto)}" />
					</p:column>
				</p:dataTable>
			</p:tab>
			<br></br>
			<p:tab title="#{messages['noteDitta']}">
				<p:dataTable id="noteDitta" var="notetablet"
					value="#{sessioniController.listNoteDitta}" paginator="true"					
					rows="20">
					<f:facet name="header">#{messages['noteDitta']}<br />#{messages['descNomeSito']}: #{sessioniController.selectedSessione.descNomeSito}
					</f:facet>
					<p:column headerText="#{messages['descrizione']}" sortBy="" filterBy=""
						filterMatchMode="contains">
						<h:outputText value="#{notetablet.descNota}" title="#{notetablet.descNota}" />
					</p:column>
					<p:column headerText="#{messages['username']}" sortBy="" filterBy=""
						filterMatchMode="contains">
						<h:outputText value="#{notetablet.descUser}" />
					</p:column>
					<p:column headerText="#{messages['allegatoSingolare']}">
					    <h:outputText value="#{sessioniController.oggettiMap.get(notetablet.codiOggetto)}" title="#{sessioniController.oggettiMap.get(notetablet.codiOggetto)}"/>
					</p:column>
				</p:dataTable>
			</p:tab>

		</p:accordionPanel>
	</h:form>
</ui:composition>