<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui" xmlns:jsf="http://xmlns.jcp.org/jsf">
	<p:outputPanel style="text-align:center;"
		id="panelSbloccaSezioneAllegato">

		<p:dataTable id="sbloccaSessioneAllegatoTableID"
			var="viwSbloccaSezioneAllegato"
			emptyMessage="#{messages['noDataFound']}"
			value="#{sessioniController.viwSbloccoSezioniList}"
			selectionMode="single"
			selection="#{sessioniController.selectedViwSbloccoSezioni}"
			rowKey="#{viwSbloccaSezioneAllegato.codiSurvey}" paginator="true"
			rows="20" scrollable="true" scrollHeight="400">

			<p:column headerText="#{messages['sezione']}" width="40%"
				sortBy="#{viwSbloccaSezioneAllegato.descTipoOggetto}"
				filterBy="#{viwSbloccaSezioneAllegato.descTipoOggetto}"
				filterMatchMode="contains">
				<h:outputText value="#{viwSbloccaSezioneAllegato.descTipoOggetto}" />
			</p:column>
			
			<p:column headerText="#{messages['funzioneTerritoriale']}" width="20%"
				sortBy="#{viwSbloccaSezioneAllegato.descLabelFilterTipoOggetto}"
				filterBy="#{viwSbloccaSezioneAllegato.descLabelFilterTipoOggetto}"
				filterMatchMode="contains">
				<h:outputText value="#{viwSbloccaSezioneAllegato.descLabelFilterTipoOggetto}" />
			</p:column>

			<p:column headerText="#{messages['allegatoSingolare']}" width="15%"
				sortBy="#{viwSbloccaSezioneAllegato.descTipoOggetto}"
				filterBy="#{viwSbloccaSezioneAllegato.descTipoOggetto}"
				filterMatchMode="contains">
				<h:outputText value="#{viwSbloccaSezioneAllegato.descOggetto}" />
			</p:column>

			<p:column headerText="#{messages['esito']}" width="15%"
				sortBy="#{viwSbloccaSezioneAllegato.risultato}"
				filterBy="#{viwSbloccaSezioneAllegato.risultato}"
				filterMatchMode="contains">
				<h:outputText value="#{viwSbloccaSezioneAllegato.risultato}" />
			</p:column>

			<p:column width="10%" style="text-align: center">
				<p:commandButton align="center" value="#{messages['sblocca']}"
					process=":formCollaudiInLavorazione:panelSbloccaSezioneAllegato"
					update=":formCollaudiInLavorazione:panelSbloccaSezioneAllegato,:formCollaudiInLavorazione:sessioniTableID "
					action="#{sessioniController.rimuoviEsitoSurvey()}"
					rendered="#{viwSbloccaSezioneAllegato.risultato != null}">
					<f:setPropertyActionListener value="#{viwSbloccaSezioneAllegato}"
						target="#{sessioniController.selectedViwSbloccoSezioni}" />
					<p:confirm header="#{messages['rendiDisponibileTitle']}"
						message="#{messages['sbloccareSezione']}" />
				</p:commandButton>
			</p:column>


		</p:dataTable>
		<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
			<div style="text-align: center">
				<p:commandButton value="#{messages['si']}" type="button"
					styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
				<p:commandButton value="#{messages['no']}" type="button"
					styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
			</div>
		</p:confirmDialog>
	</p:outputPanel>
</ui:composition>