<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui" xmlns:jsf="http://xmlns.jcp.org/jsf">

	
		<h:form id="formUpload" enctype="multipart/form-data">
		 	 <p:panelGrid columns="2">
		 	 <h:outputText 	value="#{messages['selectTipoDocument']} *" styleClass="titoliPanel" />
		 	 <p:selectOneMenu id="codiDocumento"	value="#{sessioniController.anagDocumenti.codiAnagDocumento}" style="width:250px" >
						<p:ajax update="formUpload" event="change"   listener="#{sessioniController.listnerDocument()}"/>
						<f:selectItem itemValue="#{null}" itemLabel="#{messages['seleziona']}" />
						<f:selectItems value="#{sessioniController.listAnagDocumenti}"	var="documento" itemValue="#{documento.codiAnagDocumento}" itemLabel="#{documento.descDocumento}"/>
			 </p:selectOneMenu>
		 	 </p:panelGrid>
			 <p:fileUpload id="upload" fileUploadListener="#{sessioniController.uploadFile}" mode="advanced" dragDropSupport="false"
	                  multiple="false" update="messages formUpload" sizeLimit="10000000" allowTypes="/(\.|\/)(xls|xlsx|csv|txt|pdf|zip)$/" 
	                  cancelLabel="#{messages['annulla']}" label="#{messages['esplora']}" uploadLabel="#{messages['carica']}" onstart="submitCollection()" rendered="#{sessioniController.uploadPanelVisible}"/>
               <p:remoteCommand name="submitCollection" process="@this codiDocumento" />
	    	 <p:growl id="messages" showDetail="true" />
	    	
	    	 <p:panel id="idRisultatoPanel" rendered="#{sessioniController.allegatoD1Bean.visibleForm}">
				 <p:panelGrid columns="3">
					<h:outputText for="idIpreseDet" value="Esito" styleClass="titoliPanel"/>
					<p:selectOneMenu id="codiEsito" value="#{sessioniController.allegatoD1Bean.codiEsito}" style="width:250px" >
						
						<f:selectItems var="esito" itemValue="#{esito.key}" itemLabel="#{esito.value}" value="#{sessioniController.allegatoD1Bean.mapRisultatoSurvey.entrySet()}" />
					</p:selectOneMenu>
				</p:panelGrid>
					
				<p:commandButton value="#{messages['salva']}" update=":formCollaudiInLavorazione" actionListener="#{sessioniController.saveUploadForm()}" process="formUpload" icon="ui-icon-close" style="margin-top:10px;" />
				
			</p:panel>
			
			
		</h:form>
</ui:composition>