<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui" xmlns:jsf="http://xmlns.jcp.org/jsf">
		<p:outputPanel style="text-align:center;" id="panelWorkRequest">
			<p:panel
				header="#{messages['workRequestHeader']} #{sessioniController.selectedSessione.descNomeSito}: #{sessioniController.selectedSessione.descSistema} #{sessioniController.selectedSessione.descBanda}">
				<p:spacer height="10px" />
				<h:form id="formNewWorkRqs">
				<p:panelGrid columns="4" id="newWorkRequestPanel">
					<h:outputText value="#{messages['numeWorkRequest']}"
						style="font-weight: bold;" />
					<h:outputText value="#{messages['dateWorkRequest']}"
						style="font-weight: bold;" />
					<h:outputText value="" />
					<h:outputText value="" />
					<p:inputText id="idDescNumeroWrs" required="true" 
						value="#{sessioniController.workRequestBean.descNumeroWrs}" />
					<p:calendar id="idDataWorkRequest" required="true"  value="#{sessioniController.workRequestBean.dataWorkRequest}" pattern="dd-MM-yyyy HH:mm" showOn="button"/>
					<p:selectOneMenu
						value="#{sessioniController.workRequestBean.codiAnagWrs}"
						style="width:150px">
						<f:selectItems value="#{sessioniController.anagWorkRequestList}"
							var="anagWr" itemValue="#{anagWr.codiAnagWrs}"
							itemLabel="#{anagWr.descAnagWrs}" />
					</p:selectOneMenu>
					<p:commandButton icon="fa fa-plus" process="formNewWorkRqs"
						action="#{sessioniController.saveWorkRequest()}"
						update=":formCollaudiInLavorazione:idDataTableWR,formNewWorkRqs"></p:commandButton>
					<p:message for="idDescNumeroWrs"></p:message>
					<p:message for="idDataWorkRequest"></p:message>
					<h:outputText value="" />
					<h:outputText value="" /> 
					<h:outputText value="" />
				</p:panelGrid>
				</h:form>
				<p:spacer height="0px" />
				<p:dataTable value="#{sessioniController.workRequestCollList}"
					var="wrSession" id="idDataTableWR" scrollable="true"
					scrollHeight="200" emptyMessage="#{messages['noDataFound']}">
					<f:facet name="header">
        			#{messages['workRequestList']}
    			</f:facet>
					<p:column headerText="#{messages['numero']}">
						<h:outputText value="#{wrSession.descNumeroWrs}" />
					</p:column>
					<p:column headerText="#{messages['data']}" width="150">
						<h:outputText value="#{wrSession.dateTimeWrs}">
							<f:convertDateTime pattern="dd-MM-yyyy HH:mm"/>
						</h:outputText>
					</p:column>
					
					<p:column headerText="#{messages['descrizione']}">
						<h:outputText value="#{wrSession.tabAnagWorkRequest.descAnagWrs}" />
					</p:column>
					<p:column style="width:35px">
						<p:commandButton icon="fa fa-fw fa-trash"
							action="#{sessioniController.rimuovi()}" process="idDataTableWR"
							update="idDataTableWR">
							<f:setPropertyActionListener value="#{wrSession}"
								target="#{sessioniController.selectedWorkRequest}"></f:setPropertyActionListener>
						</p:commandButton>
					</p:column>

				</p:dataTable>

				<p:commandButton value="#{messages['close']}" process="@this"
					oncomplete="PF('workRequestDialog').hide()" icon="ui-icon-close"
					style="margin-top:10px;" />
			</p:panel>


		</p:outputPanel>
</ui:composition>
