<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:jsf="http://xmnls.jcp.org/jsf/">


	<!-- HEADER  -->
	<p:panel styleClass="header-bar">
		<p:panelGrid style="width: 100%">
			<p:column style="text-align: left;padding:0 !important;">
				<p:graphicImage
					url="https://www.freepngimg.com/thumb/hand_saw/5-2-hand-saw-png-picture.png"
					height="60px" />
			</p:column>
			<p:column style="text-align: right;padding:0 !important;">
				<p:graphicImage
					url="https://thumbs.gfycat.com/VapidEcstaticCrustacean-size_restricted.gif"
					height="60px" />
			</p:column>
		</p:panelGrid>
	</p:panel>



	<p:ajaxStatus onstart="PF('statusDialog').show()"
		onsuccess="PF('statusDialog').hide()" />

	<p:dialog widgetVar="statusDialog" modal="true" draggable="false"
		closable="false" resizable="false" showHeader="false">
		<h:panelGrid columns="3">
			<p:graphicImage url="/img/wait.gif" />
			<p:spacer width="10px" />
			<h:outputText value="Attendere ..." />
		</h:panelGrid>
	</p:dialog>


	<h:form>
		<p:menubar styleClass="menu-top-panel">
			<p:menuitem value="#{messages['menu_home']}" icon="fa fa-home"
				action="#{menuController.buttonCallPageHome()}"
				rendered="#{!menuController.currentUser.accountNonExpired}" />
			<p:submenu label="#{messages['menu_home']}" icon="fa fa-home"
				rendered="#{menuController.currentUser.accountNonExpired}">
				<p:menuitem value="#{messages['menu_home']}"
					action="#{menuController.buttonCallPageMyHome()}"
					icon="ui-icon-bullet" />
			</p:submenu>
			<p:submenu label="#{messages['menu_profilo']}" icon="fa fa-user"
				rendered="#{menuController.currentUser.accountNonExpired }">
				<p:menuitem value="#{messages['menu_profilo']}"
					action="#{menuController.buttonCallMyProfile()}"
					icon="ui-icon-bullet" />
			</p:submenu>
			<p:submenu label="#{messages['menu_anagrafiche']}"
				rendered="#{menuController.currentUser.accountNonExpired and  
				(menuController.currentUser.viwUtente.codiRole == configurationController.supervisor or menuController.currentUser.viwUtente.codiRole == configurationController.rpa 
										or menuController.currentUser.viwUtente.codiRole == configurationController.ggu)}"
				icon="fa fa-cog">
				<p:menuitem value="#{messages['menu_antenne']}"
					action="#{menuController.buttonCallPageAntenne()}"
					icon="ui-icon-bullet"
					rendered="#{menuController.currentUser.viwUtente.codiRole == configurationController.supervisor or menuController.currentUser.viwUtente.codiRole == configurationController.rpa 
										or menuController.currentUser.viwUtente.codiRole == configurationController.ggu}" />
				<p:menuitem value="#{messages['menu_ritardi']}"
					action="#{menuController.buttonCallPageRitardi()}"
					icon="ui-icon-bullet"
					rendered="#{menuController.currentUser.viwUtente.codiRole == configurationController.supervisor or menuController.currentUser.viwUtente.codiRole == configurationController.rpa 
										or menuController.currentUser.viwUtente.codiRole == configurationController.ggu}" />
			</p:submenu>
			<p:submenu label="#{messages['menu_admin']}"
				rendered="#{menuController.currentUser.accountNonExpired and  
				(menuController.currentUser.viwUtente.codiRole == configurationController.supervisor or menuController.currentUser.viwUtente.codiRole == configurationController.rpa 
				or menuController.currentUser.viwUtente.codiRole == configurationController.ggu or menuController.currentUser.viwUtente.codiRole == configurationController.dgOp or
				menuController.currentUser.viwUtente.codiRole == configurationController.refTerOp)}"
				icon="fa fa-sliders">
				<p:menuitem value="#{messages['menu_gestione_utenti']}"
					action="#{menuController.buttonCallPageUser()}"
					icon="ui-icon-bullet"
					rendered="#{menuController.currentUser.viwUtente.codiRole == configurationController.supervisor or menuController.currentUser.viwUtente.codiRole == configurationController.rpa 
										or menuController.currentUser.viwUtente.codiRole == configurationController.ggu}" />
				<p:menuitem value="#{messages['menu_gestione_imprese']}"
					action="#{menuController.buttonCallPageImprerse()}"
					icon="ui-icon-bullet"
					rendered="#{menuController.currentUser.viwUtente.codiRole == configurationController.supervisor or menuController.currentUser.viwUtente.codiRole == configurationController.dgOp 
										or menuController.currentUser.viwUtente.codiRole == configurationController.refTerOp}" />
				<p:menuitem value="#{messages['menu_mail_di_sistema']}"
					action="#{menuController.buttonCallPageMenuDiSistema()}"
					icon="ui-icon-bullet"
					rendered="#{menuController.currentUser.viwUtente.codiRole == configurationController.supervisor}" />
				<p:menuitem value="#{messages['menu_gestione_log']}"
					action="#{menuController.buttonCallPageOperTrace()}"
					icon="ui-icon-bullet"
					rendered="#{menuController.currentUser.viwUtente.codiRole == configurationController.supervisor}" />
			</p:submenu>
			<p:submenu label="#{messages['menu_sessioni']}" icon=" fa fa-gears"
				rendered="#{menuController.currentUser.accountNonExpired  and  menuController.currentUser.viwUtente.codiRole != configurationController.rpa 
				and menuController.currentUser.viwUtente.codiRole != configurationController.ggu}">
				<p:menuitem value="#{messages['menu_sessioni_sub1']}"
					action="#{menuController.buttonCallPageCollaudiInLavorazione()}"
					icon="ui-icon-bullet" />
				<p:menuitem value="#{messages['menu_sessioni_sub2']}"
					action="#{menuController.buttonCallPageCollaudiArchiviati()}"
					icon="ui-icon-bullet" />
				<p:menuitem value="#{messages['menu_sessioni_sub3']}"
					action="#{menuController.buttonCallPageNewCollaudo()}"
					icon="ui-icon-bullet"
					rendered="#{menuController.currentUser.viwUtente.codiRole == configurationController.supervisor}" />
			</p:submenu>

			<p:submenu label="#{messages['menu_miaSezione']}" icon=" fa fa-simplybuilt"
				rendered="#{menuController.currentUser.accountNonExpired}">
				
							
						
					
					
					
					<p:menuitem value="#{messages['menu_Crud']}" icon="fa fa-database"
					action="#{menuController.buttonCallCarManager()}" />
					
					
					
			</p:submenu>
			
			<f:facet name="options">
				<p:commandButton value="#{messages['menu_login']}"
					action="#{menuController.buttonCallPageLogin()}"
					rendered="#{!menuController.currentUser.accountNonExpired}"
					icon="fa fa-fw fa-sign-in" />
				<p:outputLabel
					rendered="#{menuController.currentUser.accountNonExpired}"
					value="#{messages['signedInAs']}: #{menuController.currentUser.viwUtente.descUser} (#{menuController.currentUser.viwUtente.descNome}  #{menuController.currentUser.viwUtente.descCgn} - #{menuController.currentUser.viwUtente.descRole} - #{menuController.currentUser.viwUtente.descAreaComp})" />

				<p:spacer width="10px" />
				<p:commandButton value="#{messages['menu_logout']}"
					action="#{menuController.logout()}" icon="fa fa-fw fa-sign-out"
					rendered="#{menuController.currentUser.accountNonExpired}" />
			</f:facet>



		</p:menubar>
	</h:form>
</ui:composition>