<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:jsf="http://xmnls.jcp.org/jsf/" contentType="text/html">


	<h:html>
	<h:head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>SAW</title>
		<link rel="shortcut icon" href="https://icons-for-free.com/iconfiles/png/512/setting+tool+tools+work+wrench+icon-1320086003640858947.png" />
		<h:outputStylesheet name="theme.css" library="stylesheet" />
		<ui:insert name="head" />
	</h:head>

	<h:body>
		<!-- HEADER  -->
		<ui:include src="menu.xhtml">
			<ui:param name="projectName" value="SAW" />
		</ui:include>

		<!-- PANNELLO CENTRALE  -->
		<p:panel>
			<div class="body" align="center">
				<ui:insert name="body" />
			</div>
		</p:panel>


		<!-- FOOTER  -->
		<div class="footer">
			<center>
				<p
					style="font-size: 12; font-weight: bold; font-family: Verdana, Arial, sans-serif;">
					Powered by <a target="_blank" href="http://www.rextart.com/">Rextart
						modified</a>(2019).
				</p>
			</center>
		</div>
	</h:body>
	</h:html>
</f:view>
