*
{
    margin:0;
    padding:0;    
}

header
{background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(pic1.jpg);
height: 100vh;
background-size:cover;
background-position: center

}

.main-nav{float: right;
list-style: none;
margin-top: 30px;
    margin-right: 20px;
}

.main-nav li
{
  display: inline-block;
    background-color: cadetblue;
    padding: 30px;
    
}

.main-nav li a
{
    color:white;
    text-decoration: none;
    padding: 5px 20px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    
    
}