* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* =========  BODY  ========= */
body {
	height: 100%;
	margin: 0;
	background-color: #e1f0ff;
}

/* =========  FOOTER  ========= */
footer {
	height: 100px;
	width: 100%;
	background-color: #01004A;
	padding: 10px;
	text-align: center;
	color: white;
	position: absolute;
	bottom: 0;
}

/*Main button class
==========================*/
.ph-button {
	border-style: solid;
	border-width: 0px 0px 3px;
	box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
	color: #FFFFFF;
	border-radius: 50px;
	cursor: pointer;
	display: inline-block;
	font-style: normal;
	overflow: hidden;
	text-align: center;
	text-decoration: none;
	text-overflow: ellipsis;
	transition: all 200ms ease-in-out 0s;
	white-space: nowrap;
	font-weight: 700;
	padding: 19px 39px 18px;
	font-size: 18px;
}

/*Red
==========================*/
.ph-btn-red {
	background-color: #ED5A5A !important;
	border-color: #EA4343 !important;
}

.ph-btn-red:hover, .ph-btn-red:focus, .ph-btn-red:active {
	background: none repeat scroll 0 0 #EB4848 !important;
	border-color: #E83131 !important;
}

/* =========  NAV  ========= */
nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 10vh;
	background-color: #01004A;
	font-family: 'Poppins', sans-serif;
}

.column {
	float: left;
	width: 100%;
	padding: 15px;
}

.logo {
	color: rgb(226, 226, 226);
	letter-spacing: 5px;
	font-size: 20px;
	position: static;
	bottom: 10%;
	right: 20%;
}

img.logo-rextart {
	max-width: 25%;
	max-height: 25%;
}

.nav-links {
	display: flex;
	justify-content: space-around;
	width: 50%;
}

.nav-links li {
	list-style: none;
}

.nav-links a {
	color: rgb(226, 226, 226);
	text-decoration: none;
	letter-spacing: 3px;
	font-weight: bold;
	font-size: 14px;
}

.burger {
	display: none;
	cursor: pointer;
}

.burger div {
	width: 25px;
	height: 4px;
	background-color: rgb(226, 226, 226);
	margin: 5px;
}

@media screen and (max-width:1024px) {
	.nav-links {
		width: 60%;
	}
}

@media screen and (max-width:768px) {
	body {
		overflow-x: hidden;
	}
	.nav-links {
		position: absolute;
		right: 0px;
		height: 92vh;
		top: 8vh;
		background-color: #0080ff;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 50%;
		transfrom: translateX(100%);
		transition: transform 0.5s ease-in;
	}
	.nav-links li{
		opacity: 0;
	}
	.burger{
	display: block;
	}	
}

.nav-active{
	transform: translateX(0%);	
}
