<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:s="http://jboss.org/schema/seam/taglib"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui" template="/layout/template.xhtml">
	<ui:define name="body">
	<h:form id="formPassword">
			<p:panel 
				header="#{messages['cambioPassword']}"
				style="width:800px" id="panelProfilo">
				
				<p:panel id="panelPwd" >
					<p:panelGrid id="profilePwd" columns="2">
					<h:outputLabel for="pwd1" value="#{messages['nuovaPassword']}"
						styleClass="titoliPanel"/>
					<p:inputText id="pwd1" value="#{menuController.password}"
						 title="#{messages['titleNuovaPassword']}"  style="width:250px" type="password">
						<f:validateRegex pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[\.$@$!%*#?_])[A-Za-z\d$@$!%*#?_\.]{8,100}$" />
						<p:tooltip id="toolTipPwd1" for="pwd1" showEvent="focus" hideEvent="blur" style="width:220px"/>
					</p:inputText>
					<p:outputLabel value="#{messages['mostraPassword']}"></p:outputLabel>
					<input type="checkbox" onchange="document.getElementById('formPassword:pwd1').type = this.checked ? 'text' : 'password'" value=""/>
					<p:outputLabel></p:outputLabel>
					<p:message for="pwd1" />
						<h:outputLabel for="pwd2" value="#{messages['confNuovaPassword']}" styleClass="titoliPanel"/>
					<p:inputText id="pwd2" value="#{menuController.passwordConfirm}" 
						title="#{messages['ripetiPassword']}" style="width:250px" type="password">
						<p:tooltip id="toolTipPwd2" for="pwd2" showEvent="focus" hideEvent="blur" />
					</p:inputText>
					<h:outputText value="" />
					<p:message for="pwd2" />
					</p:panelGrid>
					<p:commandButton type="submit" value="#{messages['salva']}" id="btnChangePwd"
					update="messages"  ajax="false"
					 action="#{menuController.update()}"
					icon="ui-icon-check"
					style="margin-top:10px; margin-right:10px; aligne:center;">
				</p:commandButton>
				</p:panel>
			</p:panel>
			<p:messages id="messages" showDetail="true" autoUpdate="true" globalOnly="true"/>
		</h:form>

	</ui:define>
</ui:composition>