<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:s="http://jboss.org/schema/seam/taglib"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"	
	xmlns:p="http://primefaces.org/ui" template="layout/template.xhtml">

	<ui:define name="body">
		<p:panel styleClass="home-panel">
				<h3>
					<h:graphicImage value="/img/logo_home_web.png" />
				</h3>
					</p:panel>
	</ui:define>
</ui:composition>
