<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:jsf="http://xmnls.jcp.org/jsf/" template="layout/template.xhtml">

	<ui:define name="body">

		<h:form id="loginForm" prependId="false" >
				<p:panel  header="Login" style="margin:20px; width:420px;">
					<h:panelGrid columns="2" > 
						<h:outputText for="j_username" value="#{messages['username']}"
						styleClass="titoliPanel"/>
						<p:inputText id="j_username"  value="#{menuController.loginBean.userName}" required="true" label="username" style="width:200px"/>
						<p:spacer/>
				    	<p:message for="j_username" styleClass="ui-message-error-detail"/>
				    	<h:outputText for="j_password" value="#{messages['password']}"
						styleClass="titoliPanel" />   
						<p:password id="j_password" label="password" value="#{menuController.loginBean.password}" required="true" style="width:200px"/>  
						<p:spacer/>
				    	<p:message for="j_password" styleClass="ui-message-error-detail"/>
					</h:panelGrid>
					<div>
						<p:commandButton type="submit" id="login" icon="fa fa-fw fa-sign-in" value="Login" action="#{menuController.login()}" ajax="false" styleClass="ui-priority-primary" update="messages"/>
					</div>
					<h:outputText id="messages" value="Autenticazione fallita! Controllare le credenziali." rendered="#{menuController.badCredential}" styleClass="errorMessage"/>
				</p:panel>
				<p:commandLink value="Registrati" resetValues="true" oncomplete="PF('dialogRegister').show()" process="registerForm" update="registerForm"></p:commandLink>
				
		</h:form>
			<p:dialog header="#{messages['recoveryPwd']}" showEffect="blind"
				hideEffect="fade" widgetVar="recoveryPwdDialog" modal="true"
				resizable="false">
				<ui:include src="/recovery_pwd.xhtml" />
			</p:dialog>
			
			<p:dialog header="Registrazione" showEffect="blind"
				hideEffect="fade" widgetVar="dialogRegister" modal="true"
				resizable="false">
				<ui:include src="/register.xhtml" />
			</p:dialog>
			
	</ui:define>
</ui:composition>
