<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui" xmlns:jsf="http://xmlns.jcp.org/jsf">
	<h:form id="recoveriPwForm" prependId="false" >
	<p:outputPanel style="text-align:center;" id="recoveryPwd">
		<p:panelGrid columns="3" styleClass="panelNoBorder">
			<h:outputText for="idEmail"	value="#{messages['emailUtente']} *" styleClass="titoliPanel" />
			<p:inputText id="idEmail" title="#{messages['esempioMail']}" value="#{menuController.email}" style="width:300px" required="true">
				<p:tooltip id="toolTipmail" for="idEmail" showEvent="focus" hideEvent="blur" />
				<f:validateRegex pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$" />
			</p:inputText>
			<p:message for="idEmail" />
			<h:outputText for="idUsername" value="#{messages['usernameUtente']} *"
				styleClass="titoliPanel" />
			<p:inputText id="idUsername" 
				value="#{menuController.userName}" style="width:300px"/>
			<p:message for="idUsername" />
		</p:panelGrid>
		<p:commandButton value="#{messages['send']}" id="btnRecoveryPwd"
			update="recoveryPwd,messagesPwd"
			process="recoveryPwd" actionListener="#{menuController.recoveryPwd()}"
			icon="ui-icon-check" style="margin-top:10px; margin-right:10px;">
		</p:commandButton>
		<p:commandButton value="#{messages['close']}"
			oncomplete="PF('recoveryPwdDialog').hide()" icon="ui-icon-close"
			style="margin-top:10px;" />
		<p:messages id="messagesPwd" showDetail="true" globalOnly="true"
			closable="true" />
	</p:outputPanel>
	</h:form>
</ui:composition>