<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui" xmlns:jsf="http://xmlns.jcp.org/jsf">
	<h:form id="registerForm" prependId="false" >
	<p:outputPanel style="text-align:center;" id="panelRegUser">
			<p:messages id="messagesNew" showDetail="true" autoUpdate="true" closable="true" showSummary="false" rendered="#{not facesContext.validationFailed}" />	
				<p:panelGrid columns="3">
					<h:outputText for="idImp" value="#{messages['tecnicoImpresa']}"
						styleClass="titoliPanel" />
					<p:selectOneRadio id="idImp"
						value="#{userController.newUser.flgImpresa}"> 
						<f:selectItem itemLabel="#{messages['si']}" itemValue="true" />
						<f:selectItem itemLabel="#{messages['no']}" itemValue="false" />
						<p:ajax resetValues="true"  event="change" listener="#{userController.listnerFlagImpresa()}" update="telecom,idIpreseNewPanel,username,idNome,idCgn,idMail,idTel,idRicMail,messagesNew"/>				
					</p:selectOneRadio>
					<p:message for="idImp" />
				</p:panelGrid>
				<p:panel id="username" visible="#{!userController.newUser.flgImpresa}">
					<p:panelGrid columns="3">
						<h:outputText for="idUsernameReg"
							value="#{messages['usernameUtente']} *" styleClass="titoliPanel"/>
						<p:inputText id="idUsernameReg"
							value="#{userController.newUser.descUser}" style="width:280px" required="#{!userController.newUser.flgImpresa}"/>
						<p:message for="idUsernameReg" />
					</p:panelGrid>
				</p:panel>
				<p:panelGrid columns="3">	
					<h:outputText for="idNome" value="#{messages['nomeUtente']} *"
						styleClass="titoliPanel" />
					<p:inputText id="idNome" value="#{userController.newUser.descNome}"
						style="width:280px" required="true"/>
					<p:message for="idNome" />
		
					<h:outputText for="idCgn" value="#{messages['cgnUtente']} *"
						styleClass="titoliPanel" />
					<p:inputText id="idCgn" value="#{userController.newUser.descCgn}"
						style="width:280px" required="true" />
					<p:message for="idCgn" />
		
					<h:outputText for="idMail" value="#{messages['emailUtente']} *"
						styleClass="titoliPanel" />
					<p:inputText id="idMail" value="#{userController.newUser.descEmail}"
						style="width:280px" />
					<p:message for="idMail" />
					
					<h:outputText for="idTel" value="#{messages['telUtente']} *"
						styleClass="titoliPanel" />
					<p:inputText id="idTel" value="#{userController.newUser.descTelefono}"
						style="width:280px" required="true" />
					<p:message for="idTel" />
					
					
					<h:outputText for="idRicMail" value="#{messages['ricMail']}"
						styleClass="titoliPanel" />
					<p:selectOneRadio id="idRicMail"
						value="#{userController.newUser.flgReceiveEmail}">
						<f:selectItem itemLabel="#{messages['si']}" itemValue="true" />
						<f:selectItem itemLabel="#{messages['no']}" itemValue="false" />
					</p:selectOneRadio>
					<p:message for="idRicMail" />
				</p:panelGrid>
				
				<p:panel id="idIpreseNewPanel" visible="#{userController.newUser.flgImpresa}">
					<p:panelGrid columns="3">
						<h:outputText for="idIpreseNew" value="#{messages['impresaUtente']} *"
							styleClass="titoliPanel"/>
						<p:selectOneMenu id="idIpreseNew" style="width:250px"
							value="#{userController.codiImpSelected}" required="#{userController.newUser.flgImpresa}" filter="true"
									filterMatchMode="contains">
							<f:selectItem itemLabel="#{messages['combolistNotSelected']}"
								itemValue="#{null}" />
							<f:selectItems value="#{userController.listImprese}" var="ipresa"
								itemValue="#{ipresa.codiImpresa}" itemLabel="#{ipresa.descImpresa}" />
						</p:selectOneMenu>
						<p:message for="idIpreseNew" />
						<h:outputText for="idTelImpNew" value="#{messages['telefono']} *"
							styleClass="titoliPanel" />
						<p:inputText id="idTelImpNew" value="#{userController.newUser.descTelUserImp}"
							style="width:280px" required="#{userController.newUser.flgImpresa}"/>
						<p:message for="idTelImpNew" />
					</p:panelGrid>
				</p:panel>
				<p:panel id="telecom">
					<p:panelGrid columns="3">
						<h:outputText for="idRuolo" value="#{messages['ruolo']} *"
							styleClass="titoliPanel" rendered="#{!userController.newUser.flgImpresa}"/>
						<p:selectOneMenu id="idRuolo"
							value="#{userController.newUser.codiRole}" style="width: 250px;"
							required="#{!userController.newUser.flgImpresa}"  rendered="#{!userController.newUser.flgImpresa}">
							<p:ajax event="change"
									listener="#{userController.listnerChangeRoles()}"
									update="idStruttura,telecom,idAreaComp,idVendor,idZona,idGruppo, messagesNew" />
							<f:selectItem itemLabel="#{messages['combolistNotSelected']}"
								itemValue="#{null}" />
							<f:selectItems value="#{userController.listRoles}" var="role"
								itemValue="#{role.codiRole}" itemLabel="#{role.descRole}" />
						</p:selectOneMenu>
						<p:message for="idRuolo" rendered="#{!userController.newUser.flgImpresa}"/>
						<h:outputText for="idStruttura" value="#{messages['struttura']} *"
							styleClass="titoliPanel"  rendered="#{!userController.newUser.flgImpresa}"/>
						<p:selectOneMenu id="idStruttura"
							value="#{userController.newUser.codiStruttura}"
							style="width: 250px;"
							required="#{!userController.newUser.flgImpresa}"  rendered="#{!userController.newUser.flgImpresa}">
							<p:ajax event="change"  listener="#{userController.listnerChangeStruttura()}" update="telecom,idVendor,idZona,idGruppo, messagesNew"/>
							<f:selectItem itemLabel="#{messages['combolistNotSelected']}"
								itemValue="#{null}" />
							<f:selectItems value="#{userController.listStrutture}"
								var="strutura" itemValue="#{strutura.codiStruttura}"
								itemLabel="#{strutura.descStruttura}" />
						</p:selectOneMenu>
						<p:message for="idStruttura" rendered="#{!userController.newUser.flgImpresa}"/>
		
						<h:outputText for="idAreaComp" value="#{messages['areaComp']} *"
							styleClass="titoliPanel" rendered="#{userController.renderedAreaComp}"/>
						<p:selectOneMenu id="idAreaComp"
							value="#{userController.newUser.codiAreaComp}"
							style="width: 250px;" required="#{userController.renderedAreaComp}" rendered="#{userController.renderedAreaComp}">
							<p:ajax event="change"
									listener="#{userController.listnerChangeAreaCompetenza()}"
									update="idRegione,idZona,idGruppo, messages, tooltipRegioni" />
							<f:selectItem itemLabel="#{messages['combolistNotSelected']}"
								itemValue="#{null}" />
							<f:selectItems value="#{userController.listAreeComp}"
								var="areaComp" itemValue="#{areaComp.codiAreaComp}"
								itemLabel="#{areaComp.descAreaComp}" />
						</p:selectOneMenu>
						<p:message for="idAreaComp" rendered="#{userController.renderedAreaComp}"/>
				
						<h:outputText for="idRegione" value="#{messages['descRegione']} *"
							styleClass="titoliPanel"  rendered="#{userController.renderedRegione}"/>
						<p:selectCheckboxMenu id="idRegione" multiple="true"  label="---"  rendered="#{userController.renderedRegione}" required="true" panelStyleClass="without-selectall" 
							value="#{userController.selectedRegioni}"
							style="width: 280px; font-weight: normal !important; color: black !important;">
							<p:ajax event="change" listener="#{userController.listnerChangeRegione()}"
									update="idZona,idGruppo, messages" />
							<f:converter converterId="javax.faces.Integer" for="idRegione" />
							<f:selectItems value="#{userController.listRegioni}"
								var="regione" itemValue="#{regione.idRegione}"
								itemLabel="#{regione.nomeMaiuscolo}" />
						</p:selectCheckboxMenu>
						<p:column rendered="#{userController.renderedRegione}">
						<p:tooltip showDelay="1000" id="tooltipRegioni" for="idRegione" position="bottom">
					       
				  	    </p:tooltip> 	
						<p:message for="idRegione"/>
						</p:column>
									
						
						<h:outputText for="idZona" value="Zona *"
							styleClass="titoliPanel" rendered="#{userController.renderedZona and !userController.newUser.flgImpresa}"/>
						<p:selectOneMenu id="idZona" rendered="#{userController.renderedZona and !userController.newUser.flgImpresa}"
							value="#{userController.newUser.codiZona}"
							style="width: 250px;">
							<p:ajax event="change" listener="#{userController.listnerChangeZone()}"
									update="idGruppo, messages" />
							<f:selectItem itemLabel="#{messages['combolistNotSelected']}"
								itemValue="#{null}" />
							<f:selectItems value="#{userController.listNewZone}"
								var="zone" itemValue="#{zone.codiZona}"
								itemLabel="#{zone.descZona}" />
						</p:selectOneMenu>
						<p:message for="idZona" rendered="#{userController.renderedZona and !userController.newUser.flgImpresa}"/>

				
			
				<h:outputText for="idVendor" value="#{messages['vendor']} *"
					styleClass="titoliPanel" rendered="#{userController.renderedVendor and !userController.newUser.flgImpresa}"/>
				<p:selectOneMenu id="idVendor" 
					value="#{userController.newUser.codiVendor}"
					style="width: 250px;" required="#{userController.renderedVendor}" rendered="#{userController.renderedVendor and !userController.newUser.flgImpresa}">
					<f:selectItem itemLabel="#{messages['combolistNotSelected']}"
						itemValue="#{null}" />
					<f:selectItems value="#{userController.listVendor}"
						var="vendor" itemValue="#{vendor.codiVendor}"
						itemLabel="#{vendor.descVendor}" />
				</p:selectOneMenu>
				<p:message for="idVendor" rendered="#{userController.renderedVendor and !userController.newUser.flgImpresa}" />			
						
						<h:outputText for="idGruppo" value="#{messages['gruppo']} *"
							styleClass="titoliPanel" rendered="#{userController.renderedGruppo and !userController.newUser.flgImpresa}"/>
						<p:selectOneMenu id="idGruppo" rendered="#{userController.renderedGruppo and !userController.newUser.flgImpresa}"
							value="#{userController.newUser.codiGruppo}"
							style="width: 250px;"
							required="#{userController.renderedGruppo and !userController.newUser.flgImpresa}">
							<f:selectItem itemLabel="#{messages['combolistNotSelected']}"
								itemValue="#{null}" />
							<f:selectItems value="#{userController.listGruppi}"
								var="gruppo" itemValue="#{gruppo.codiGruppo}"
								itemLabel="#{gruppo.descGruppo}" />
						</p:selectOneMenu>
						<p:message for="idGruppo" rendered="#{userController.renderedGruppo and !userController.newUser.flgImpresa}"/>
					</p:panelGrid>
				</p:panel>
				
				<p:commandButton process="registerForm" 
		          action="#{userController.registerUser()}" 
		          value="#{messages['salva']}" icon="ui-icon-check"
				style="margin-top:10px; margin-right:10px;"
		          update="registerForm" />
		</p:outputPanel>		
	</h:form>

</ui:composition>