<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui" xmlns:jsf="http://xmlns.jcp.org/jsf">
	<p:outputPanel style="text-align:center;" id="panelEditRitardi">
		<p:panelGrid columns="2" id="panelDatiEditRitardi">
			<p:column>
				<p:panelGrid columns="2">
					<h:outputText for="idDescEditRitardo" value="Descrizione Ritardo*"
						styleClass="titoliPanel" />
					<p:inputText id="idDescEditRitardo"
						value="#{ritardiController.selectedRitardi.descRitardo}"
						style="width:300px" />
					<h:outputText />
					<p:message for="idDescEditRitardo" />
					<h:outputText for="idCheck" value="CHECK" styleClass="titoliPanel" />
					<p:selectOneRadio id="idCheck"
						value="#{ritardiController.selectedRitardi.flagCheckOut}">
						<f:selectItem itemLabel="IN" itemValue="true" />
						<f:selectItem itemLabel="OUT" itemValue="false" />
					</p:selectOneRadio>
					<h:outputText />
					<p:message for="idCheck" />
				</p:panelGrid>
			</p:column>
		</p:panelGrid>
		<p:commandButton value="#{messages['salva']}"
			update="panelEditRitardi,:formRitardi:ritardiTableID, :formRitardi:messagesDetail"
			process="panelEditRitardi"
			action="#{ritardiController.updateRitardi()}" icon="ui-icon-check">
			<p:confirm header="#{messages['modificaRitardo']}"
				message="#{messages['confirmUpdate']}" icon="ui-icon-alert" />
		</p:commandButton>
		<p:commandButton value="#{messages['close']}" process="@this"
			oncomplete="PF('editRitardiDialog').hide()" icon="ui-icon-close"
			style="margin-top:10px;" />
		<p:messages id="messagesDetail" showDetail="true" globalOnly="true"
			closable="true" />
	</p:outputPanel>
</ui:composition>