<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui" template="/layout/template.xhtml">
	<ui:define name="body">
	
		<h:form id="formAntenne">
			<div align="left">
				<h:outputText styleClass="titlePage"
					value="#{messages['titleGestioneAntenne']}" />
			</div>
			<div style="text-align: left; padding: 15px 0px 15px 5px">
					<p:commandButton value="#{messages['nuovaAntenna']}"
						action="#{antenneController.openNew()}" icon="fa fa-fw fa-plus"
						update=":formAntenne:panelNewAntenne" resetValues="true"
						oncomplete="PF('newAntenneDialog').show()" process="@this" />
			</div>
	
			<p:dataTable id="antenneTableID" var="antenna"
				emptyMessage="#{messages['noDataFound']}" 
				value="#{antenneController.arrAntenne}" selectionMode="single"
				selection="#{antenneController.selectedAntenne}"
				rowKey="#{antenna.codiAnagAntenne}" paginator="true" rows="20"
				scrollable="true" scrollHeight="280" styleClass="tablestyle">
				<f:facet name="header">#{messages['listaAntenne']} (#{antenneController.arrAntenne.size()})
				<h:commandLink immediate="true" ajax="false">
						<h:graphicImage value="/img/excel.png" width="24" style="vertical-align: middle"
							title="#{messages['exportAntenne']}" />
							
						<p:dataExporter type="xls" target="antenneTableID"
							fileName="#{messages['listaAntenne']}"/>
					</h:commandLink>
					<br />
					<br />
				</f:facet>
				<p:column width="50%" headerText="#{messages['descMarcaAntenna']}"
					sortBy="#{antenna.descMarca}" filterBy="#{antenna.descMarca}" filterMatchMode="contains">
					<h:outputText value="#{antenna.descMarca}" />
				</p:column>
				<p:column width="50%" headerText="#{messages['descModelloAntenna']}" filterMatchMode="contains"
					sortBy="#{antenna.descModello}" filterBy="#{antenna.descModello}">
					<h:outputText value="#{antenna.descModello}" />
				</p:column>
			</p:dataTable>
			
			<p:dialog header="#{messages['nuovaAntenna']}"  showEffect="blind" position="top"
				widgetVar="newAntenneDialog" modal="true" resizable="false" hideEffect="fade">
				<ui:include src="/pages/anagrafiche/new_antenne.xhtml" />
			</p:dialog>
			<p:confirmDialog global="true" showEffect="blind" hideEffect="fade">
				<div style="text-align: center">
					<p:commandButton value="#{messages['si']}" type="button"
						styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
					<p:commandButton value="#{messages['no']}" type="button"
						styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
				</div>
			</p:confirmDialog>
			
		</h:form>
	</ui:define>
</ui:composition>