<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui" template="/layout/template.xhtml">
	<ui:define name="body">

		<h:form id="formOperTrace">
			<div align="left">
				<h:outputText styleClass="titlePage"
					value="#{messages['gestioneOperTrace']}" />
			</div>


			<p:dataTable id="operTraceTableID" var="operTrace"
				emptyMessage="#{messages['noDataFound']}"
				value="#{operTraceController.listaOperTrace}" widgetVar="logTable"
				rowKey="#{operTrace.codiOperTrace}" paginator="true" rows="20"
				scrollable="true" scrollHeight="280" styleClass="tablestyle">


				<f:facet name="header">#{messages['listaOperTrace']} (#{operTraceController.listaOperTrace.size()})
					<h:commandLink immediate="true" ajax="false">
						<h:graphicImage value="/img/excel.png" width="24"
							style="vertical-align: middle" title="#{messages['']}" />
						<p:dataExporter type="xls" target="operTraceTableID"
							fileName="#{messages['listaOperTrace']}" />
					</h:commandLink>
					<br />
					<br />
				</f:facet>


				<p:column width="30%" headerText="#{messages['descUser']}"
					filterMatchMode="contains"
					sortBy="#{operTrace.descNome} #{operTrace.descCgn}"
					filterBy="#{operTrace.descNome} #{operTrace.descCgn} #{operTrace.descUser}"
					style="text-align:center">
					<h:outputText
						value="#{operTrace.descNome} #{operTrace.descCgn} (#{operTrace.descUser})" />
				</p:column>


				<p:column filterBy="#{operTrace.descOperTrace}"
					headerText="#{messages['descAnag']}" filterMatchMode="contains">
					<f:facet name="filter">
						<p:autoComplete onfocus="PF('logTable').filter()" dropdown="true"
							placeholder="#{messages['placeHolderDescAnag']}"
							value="#{operTraceController.descr}"
							completeMethod="#{operTraceController.CompleteDescr}"
							forceSelection="true" dropdownMode="current" />
					</f:facet>
					<h:outputText value="#{operTrace.descOperTrace}" />
				</p:column>


				<p:column width="30%" headerText="#{messages['timeData']}"
					filterMatchMode="contains" filterBy="#{operTrace.timeDataOper}"
					style="text-align:center" sortBy="#{operTrace.timeDataOper}">
					
				


					<h:outputText value="#{operTrace.timeDataOper}">
						<f:convertDateTime type="date" pattern="dd/MM/yyyy HH:mm"/>
					</h:outputText>
				</p:column>


			</p:dataTable>
		</h:form>
	</ui:define>
</ui:composition>