<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui" template="/layout/template.xhtml">
	<ui:define name="body">
	
		<h:form id="formDiplexer">
			<div align="left">
				<h:outputText styleClass="titlePage"
					value="#{messages['titleGestioneDiplexer']}" />
			</div>
			
			<div style="text-align: left; padding: 15px 0px 15px 5px">
					<p:commandButton value="#{messages['nuovoDiplexer']}"
						action="#{diplexerController.openNew()}" icon="fa fa-fw fa-plus"
						update=":formDiplexer:panelNewDiplexer" resetValues="true"
						oncomplete="PF('newDiplexerDialog').show()" process="@this" />
			</div>
	
	<p:dataTable id="diplexerTableID" var="diplexer"
				emptyMessage="#{messages['noDataFound']}" 
				value="#{diplexerController.arrDiplexer}" selectionMode="single"
				selection="#{diplexerController.selectedDiplexer}"
				rowKey="#{diplexer.codiAnagDiplexer}" paginator="true" rows="20"
				scrollable="true" scrollHeight="280" styleClass="tablestyle">
				<f:facet name="header">#{messages['listaDiplexer']} (#{diplexerController.arrDiplexer.size()})<br/><br/></f:facet>
				<p:column width="50%" headerText="#{messages['descMarcaDiplexer']}"
					sortBy="#{diplexer.descMarca}" filterBy="#{diplexer.descMarca}" filterMatchMode="contains">
					<h:outputText value="#{diplexer.descMarca}" />
				</p:column>
				<p:column width="50%" headerText="#{messages['descModelloDiplexer']}" filterMatchMode="contains"
					sortBy="#{diplexer.descModello}" filterBy="#{diplexer.descModello}">
					<h:outputText value="#{diplexer.descModello}" />
				</p:column>
			</p:dataTable>
			
			<p:dialog header="#{messages['nuovoDiplexer']}"  showEffect="blind" position="top"
				widgetVar="newDiplexerDialog" modal="true" resizable="false" hideEffect="fade">
				<ui:include src="/pages/anagrafiche/new_diplexer.xhtml" />
			</p:dialog>
			<p:confirmDialog global="true" showEffect="blind" hideEffect="fade">
				<div style="text-align: center">
					<p:commandButton value="#{messages['si']}" type="button"
						styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
					<p:commandButton value="#{messages['no']}" type="button"
						styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
				</div>
			</p:confirmDialog>
			
		</h:form>
	</ui:define>
</ui:composition>