<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui" template="/layout/template.xhtml">
	<ui:define name="body">
	<h:form style="text-align:center; width:50%; margin-left:180px;" id="panelGestioneProfilo">
	<p:messages id="messagesProf" showDetail="true" globalOnly="true"
			closable="true" />			
	<p:panelGrid columns="3">
			<h:outputText for="idUsernameProf"
				value="#{messages['usernameUtente']} *" styleClass="titoliPanel" />
			<p:inputText id="idUsernameDetProf"
				value="#{profiloController.currentUser.username}" style="width:280px" readonly="true"/>
			<p:message for="idUsernameDetProf" />

			<h:outputText for="idNomeDetProf" value="#{messages['nomeUtente']} *"
				styleClass="titoliPanel" />
			<p:inputText id="idNomeDetProf" value="#{profiloController.currentUser.nome}"
				style="width:280px" readonly="true" />
			<p:message for="idNomeDetProf" />

			<h:outputText for="idCgnDetProf" value="#{messages['cgnUtente']} *"
				styleClass="titoliPanel" />
			<p:inputText id="idCgnDetProf" value="#{profiloController.currentUser.cognome}" readonly="true"
				style="width:280px"/>
			<p:message for="idCgnDetProf" />

			<h:outputText for="idMailDetProf" value="#{messages['emailUtente']} *"
				styleClass="titoliPanel" />
			<p:inputText id="idMailDetProf" value="#{profiloController.currentUser.descEmail}"
				style="width:280px" readonly="true"/>
			<p:message for="idMailDetProf" />
			
			<h:outputText for="idTelDetProf" value="#{messages['telUtente']} *"
						styleClass="titoliPanel" />
			<p:inputText id="idTelDetProf" value="#{profiloController.currentUser.telefono}"
						style="width:280px" readonly="true"/>
			<p:message for="idTelDetProf" />
			
			<h:outputText for="idRicMailDetProf" value="#{messages['ricMail']}"
				styleClass="titoliPanel" />
			<p:selectOneRadio id="idRicMailDetProf"
				value="#{profiloController.currentUser.flgEmail}">
				<f:selectItem itemLabel="#{messages['si']}" itemValue="true" />
				<f:selectItem itemLabel="#{messages['no']}" itemValue="false" />
			</p:selectOneRadio>
			<p:message for="idRicMailDetProf" />
			
			
				<h:outputText for="idIpreseDet" value="#{messages['impresaUtente']} *"
					styleClass="titoliPanel" rendered="#{profiloController.renderedImpresa}"/>
				<p:inputText id="idIpreseDet" readonly="true"  value="#{profiloController.currentUser.viwUtente.descImpresa}"
					style="width:280px" rendered="#{profiloController.renderedImpresa}"/>
				<p:message for="idIpreseDet" rendered="#{profiloController.renderedImpresa}" />
			
				
				<h:outputText for="idTelImpDet" value="#{messages['telefono']} *"
					styleClass="titoliPanel" rendered="#{profiloController.renderedTelImpresa}"/>
				<p:inputText id="idTelImpDet" readonly="true" value="#{profiloController.currentUser.viwUtente.descTelUserImp}"
					style="width:280px" rendered="#{profiloController.renderedTelImpresa}"/>
				<p:message for="idTelImpDet" rendered="#{profiloController.renderedTelImpresa}"/>
		

				<h:outputText for="idRuoloDet" value="#{messages['ruolo']} *"
					styleClass="titoliPanel" rendered="#{!profiloController.currentUser.viwUtente.flgImpresa}"/>
					<p:inputText id="idRuoloDet" value="#{profiloController.currentUser.descRole}"
						style="width:280px" readonly="true" rendered="#{!profiloController.currentUser.viwUtente.flgImpresa}"/>
				<p:message for="idRuoloDet" rendered="#{!profiloController.currentUser.viwUtente.flgImpresa}"/>
				
				<h:outputText for="idStrutturaDet" value="#{messages['struttura']} *"
					styleClass="titoliPanel" rendered="#{!profiloController.currentUser.viwUtente.flgImpresa}"/>
					<p:inputText id="idStrutturaDet" value="#{profiloController.currentUser.descStruttura}"
						style="width:280px" readonly="true" rendered="#{!profiloController.currentUser.viwUtente.flgImpresa}"/>
				<p:message for="idStrutturaDet" rendered="#{!profiloController.currentUser.viwUtente.flgImpresa}"/>
				
				<h:outputText for="idVendorDet" value="#{messages['vendor']} *"
					styleClass="titoliPanel" rendered="#{profiloController.currentUser.viwUtente.codiVendor != 0}"/>
				<p:inputText id="idVendorDet" value="#{profiloController.currentUser.viwUtente.descVendor}" 
						style="width:280px" readonly="true" rendered="#{profiloController.currentUser.viwUtente.codiVendor != 0}"/>
				<p:message for="idVendorDet" rendered="#{profiloController.currentUser.viwUtente.codiVendor != 0}" />
				
				<h:outputText for="idAreaCompDet" value="#{messages['areaComp']} *"
					styleClass="titoliPanel" rendered="#{profiloController.renderedAreaComp}"/>
					<p:inputText id="idAreaCompDet" value="#{profiloController.currentUser.descAreaComp}"
						style="width:280px" readonly="true" rendered="#{profiloController.renderedAreaComp}"/>
				<p:message for="idAreaCompDet"  rendered="#{profiloController.renderedAreaComp}"/>
				
				<h:outputText for="idRegioneDet" value="#{messages['descRegione']} *"
					styleClass="titoliPanel" rendered="#{profiloController.renderedRegione}" />
				<p:selectCheckboxMenu id="idRegioneDet" multiple="true" label="---"
				    required="true"
					panelStyleClass="without-selectall"
					value="#{profiloController.selectedRegioni}" rendered="#{profiloController.renderedRegione}"
					style="width: 280px; font-weight: normal !important; color: black !important;">
					<p:ajax event="change"
						listener="#{profiloController.listnerChangeRegione()}"
						update="idZonaDet,idGruppoDet"/>
					<f:converter converterId="javax.faces.Integer" for="idRegioneDet" />
					<f:selectItems value="#{profiloController.regioni}" var="regione"
						itemValue="#{regione.idRegione}"
						itemLabel="#{regione.nomeMaiuscolo}" />
				</p:selectCheckboxMenu>
				<p:column rendered="#{profiloController.renderedRegione}">	
					<p:message for="idRegioneDet" />
				</p:column>
				
				<h:outputText for="idZonaDet" value="#{messages['zona']} *"
					styleClass="titoliPanel" rendered="#{profiloController.renderedZona}" />
				<p:selectOneMenu id="idZonaDet"
					value="#{profiloController.currentUser.codiZona}"
					style="width: 250px;" rendered="#{profiloController.renderedZona}"
					required="#{profiloController.renderedZona}">
					<p:ajax event="change"
							listener="#{profiloController.listnerChangeZone()}"
							update="idGruppoDet, messagesProf" />
					<f:selectItem itemLabel="#{messages['combolistNotSelected']}"
						itemValue="#{null}" />
					<f:selectItems value="#{profiloController.listZone}"
						var="zona" itemValue="#{zona.codiZona}"
						itemLabel="#{zona.descZona}" />
				</p:selectOneMenu>
				<p:message for="idZonaDet" rendered="#{profiloController.renderedZona}"/>
				
				<h:outputText for="idGruppoDet" value="#{messages['gruppo']} *"
					styleClass="titoliPanel" rendered="#{profiloController.renderedGruppo and !profiloController.currentUser.viwUtente.flgImpresa}"/>
				<p:selectOneMenu id="idGruppoDet" rendered="#{profiloController.renderedGruppo and !profiloController.currentUser.viwUtente.flgImpresa}"
					value="#{profiloController.currentUser.viwUtente.codiGruppo}"
					style="width: 250px;"
					required="#{profiloController.renderedGruppo and !profiloController.currentUser.viwUtente.flgImpresa}">
					<f:selectItem itemLabel="#{messages['combolistNotSelected']}"
						itemValue="#{null}" />
					<f:selectItems value="#{profiloController.listGruppi}"
						var="gruppo" itemValue="#{gruppo.codiGruppo}"
						itemLabel="#{gruppo.descGruppo}" />
				</p:selectOneMenu>
				<p:message for="idGruppoDet" rendered="#{profiloController.renderedGruppo and !profiloController.currentUser.viwUtente.flgImpresa}" />


			</p:panelGrid>
			
				<p:commandButton value="#{messages['salva']}"
					update="panelGestioneProfilo" process="panelGestioneProfilo"
					action="#{profiloController.update()}"
					icon="ui-icon-check"
					style="margin-top:10px; margin-right:180px; text-align:center;">
					<p:confirm header="#{messages['updateUtenteDialogConfirm']}" message="#{messages['confirmUpdate']}" icon="ui-icon-alert" />
				</p:commandButton>

				<p:confirmDialog global="true" showEffect="blind" hideEffect="fade">
				<div style="text-align:center">
					<p:commandButton value="#{messages['si']}" type="button"
						styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
					<p:commandButton value="#{messages['no']}" type="button"
						styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
				</div>
			</p:confirmDialog>




		</h:form>
	</ui:define>
</ui:composition>