<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui" template="/layout/template.xhtml">
	<ui:define name="body">
	
		<h:form id="formTma">
			<div align="left">
				<h:outputText styleClass="titlePage"
					value="#{messages['titleGestioneTma']}" />
			</div>
			
			<div style="text-align: left; padding: 15px 0px 15px 5px">
					<p:commandButton value="#{messages['nuovoTma']}"
						action="#{tmaController.openNew()}" icon="fa fa-fw fa-plus"
						update=":formTma:panelNewTma" resetValues="true"
						oncomplete="PF('newTmaDialog').show()" process="@this" />
			</div>
	
	<p:dataTable id="tmaTableID" var="tma"
				emptyMessage="#{messages['noDataFound']}" 
				value="#{tmaController.arrTma}" selectionMode="single"
				selection="#{tmaController.selectedTma}"
				rowKey="#{tma.codiAnagTma}" paginator="true" rows="20"
				scrollable="true" scrollHeight="280" styleClass="tablestyle">
				<f:facet name="header">#{messages['listaTma']} (#{tmaController.arrTma.size()})<br/><br/></f:facet>
				<p:column width="50%" headerText="#{messages['descMarcaTma']}"
					sortBy="#{tma.descMarca}" filterBy="#{tma.descMarca}" filterMatchMode="contains">
					<h:outputText value="#{tma.descMarca}" />
				</p:column>
				<p:column width="50%" headerText="#{messages['descModelloTma']}" filterMatchMode="contains"
					sortBy="#{tma.descModello}" filterBy="#{tma.descModello}">
					<h:outputText value="#{tma.descModello}" />
				</p:column>
			</p:dataTable>
			
			<p:dialog header="#{messages['nuovoTma']}"  showEffect="blind" position="top"
				widgetVar="newTmaDialog" modal="true" resizable="false" hideEffect="fade">
				<ui:include src="/pages/anagrafiche/new_tma.xhtml" />
			</p:dialog>
			<p:confirmDialog global="true" showEffect="blind" hideEffect="fade">
				<div style="text-align: center">
					<p:commandButton value="#{messages['si']}" type="button"
						styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
					<p:commandButton value="#{messages['no']}" type="button"
						styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
				</div>
			</p:confirmDialog>
			
		</h:form>
	</ui:define>
</ui:composition>