<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui" template="/layout/template.xhtml">
	<ui:define name="body">
	
		<h:form id="formRitardi">
			<div align="left">
				<h:outputText styleClass="titlePage"
					value="#{messages['titleGestioneRitardi']}" />
			</div>
			<div style="text-align: left; padding: 15px 0px 15px 5px">
				<p:commandButton value="#{messages['nuovoRitardo']}"
					action="#{ritardiController.openNew()}" icon="fa fa-fw fa-plus"
					update=":formRitardi:panelNewRitardi" resetValues="true"
					oncomplete="PF('newRitardiDialog').show()" process="@this" />
			</div>
			<p:dataTable id="ritardiTableID" var="ritardi"
				emptyMessage="#{messages['noDataFound']}" 
				value="#{ritardiController.arrRitardi}" selectionMode="single"
				selection="#{ritardiController.selectedRitardi}"
				rowKey="#{ritardi.codiAnagRitardo}" paginator="true" rows="20"
				scrollable="true" scrollHeight="280" styleClass="tablestyle">
				<f:facet name="header">#{messages['listaRitardi']} (#{ritardiController.arrRitardi.size()})
					<h:commandLink immediate="true" ajax="false">
						<h:graphicImage value="/img/excel.png" width="24" style="vertical-align: middle"
							title="#{messages['exportRitardi']}" />
						<p:dataExporter type="xls" target="ritardiTableID"
							fileName="#{messages['listaRitardi']}" />
					</h:commandLink>
				<br/><br/></f:facet>
				<p:column width="50%" headerText="#{messages['descRitardi']}" filterMatchMode="contains"
					sortBy="#{ritardi.descRitardo}" filterBy="#{ritardi.descRitardo}">
					<h:outputText value="#{ritardi.descRitardo}" />
				</p:column>
				<p:column width="50%" headerText="#{messages['descFlgCheckOut']}"
					sortBy="#{ritardi.flagCheckOut}">
					<h:outputText value="#{messages['checkInRitardo']}"
						rendered="#{ritardi.flagCheckOut}" />
					<h:outputText value="#{messages['checkOutRitardo']}"
						rendered="#{!ritardi.flagCheckOut}" />
				</p:column>
				 <f:facet name="header">
					<p:commandButton value="Modifica Ritardo"
						resetValues="true"
						update=":formRitardi:panelEditRitardi"
						action="#{ritardiController.openEdit()}"
						icon="fa fa-fw fa-edit" process="ritardiTableID" />
				</f:facet>
			</p:dataTable>
			
			<p:dialog header="#{messages['nuovoRitardo']}"  showEffect="blind" position="top"
				widgetVar="newRitardiDialog" modal="true" resizable="false" hideEffect="fade">
				<ui:include src="/pages/anagrafiche/new_ritardi.xhtml" />
			</p:dialog>
			
			<p:dialog header="#{messages['modificaRitardo']}" position="top"
				widgetVar="editRitardiDialog" modal="true" showEffect="blind"
				hideEffect="fade" resizable="false">
				<ui:include src="/pages/anagrafiche/edit_Ritardi.xhtml" />
			</p:dialog>		
			
			 <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
				<div style="text-align: center">
					<p:commandButton value="#{messages['si']}" type="button"
						styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
					<p:commandButton value="#{messages['no']}" type="button"
						styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
				</div>
			</p:confirmDialog>
		</h:form>
	</ui:define>
</ui:composition>