<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui" xmlns:jsf="http://xmlns.jcp.org/jsf">
	<p:outputPanel style="text-align:center;" id="panelNewRitardi">
	<p:messages id="messagesNewRit" showDetail="true" globalOnly="true"
			closable="true" />
	<p:panelGrid columns="2" id="panelDatiRitardi" style="width:700px">
		<p:column>
			<p:panelGrid columns="1">
				<h:outputText for="idDescRitardo"
				value="#{messages['descRitardo']}" styleClass="titoliPanel" />
					<p:inputTextarea id="idDescRitardo" rows="5" cols="30" autoResize="false"
						value="#{ritardiController.newRitardi.descRitardo}"
						style="width:300px" required="true" />
						<h:outputText />
					<p:message for="idDescRitardo" />
			</p:panelGrid>
			</p:column>
			<p:column>
				<p:panelGrid columns="1">
						<p:selectOneRadio id="idflgCheckOut"
						value="#{ritardiController.newRitardi.flagCheckOut}">
							<f:selectItem itemLabel="#{messages['checkInRitardo']}" itemValue="true" />
							<f:selectItem itemLabel="#{messages['checkOutRitardo']}" itemValue="false" />
						</p:selectOneRadio>
					<p:message for="idflgCheckOut" />
				</p:panelGrid>
			</p:column>
		</p:panelGrid>
		<p:commandButton value="#{messages['salva']}" id="btnSaveRitardi"
			update="panelNewRitardi,:formRitardi:ritardiTableID, :formRitardi:messagesNewRit"
			process="panelNewRitardi"
			actionListener="#{ritardiController.save()}" icon="ui-icon-check"
			style="margin-top:10px; margin-right:10px;">
			<p:confirm header="#{messages['saveRitardiDialogConfirm']}"
				message="#{messages['confirmSave']}" icon="ui-icon-alert" />
		</p:commandButton>
		<p:commandButton value="#{messages['close']}" process="@this"
			oncomplete="PF('newRitardiDialog').hide()" icon="ui-icon-close"
			style="margin-top:10px;" />
	</p:outputPanel>
</ui:composition>