<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui" xmlns:jsf="http://xmlns.jcp.org/jsf">
	<p:outputPanel style="text-align:center;" id="panelNewDiplexer">
	<p:messages id="messagesNewDiplexer" showDetail="true" globalOnly="true"
			closable="true" />
	<p:panelGrid columns="2" id="panelDatiDiplexer" style="width:900px">
		<p:column>
				<p:panelGrid columns="1">
					<h:outputText for="idDescMarcaDiplexer"
						value="#{messages['descMarcaDiplexer']}" styleClass="titoliPanel" />
						<p:inputText id="idDescMarcaDiplexer"
							value="#{diplexerController.newDiplexer.descMarca}"
							style="width:400px" required="true" />
					<h:outputText />
					<p:message for="idDescMarcaDiplexer" />
				</p:panelGrid>
			</p:column>
			<p:column>
				<p:panelGrid columns="1">
				<h:outputText for="idDescModelloDiplexer"
				value="#{messages['descModelloDiplexer']}" styleClass="titoliPanel" />
					<p:inputText id="idDescModelloDiplexer"
						value="#{diplexerController.newDiplexer.descModello}"
						style="width:400px" required="true" />
						<h:outputText />
					<p:message for="idDescModelloDiplexer" />
				</p:panelGrid>
			</p:column>
		</p:panelGrid>
		<p:commandButton value="#{messages['salva']}" id="btnSaveDiplexer"
			update="panelNewDiplexer,:formDiplexer:diplexerTableID, :formDiplexer:messagesNewDiplexer"
			process="panelNewDiplexer"
			actionListener="#{diplexerController.save()}" icon="ui-icon-check"
			style="margin-top:10px; margin-right:10px;">
			<p:confirm header="#{messages['saveDiplexerDialogConfirm']}"
				message="#{messages['confirmSave']}" icon="ui-icon-alert" />
		</p:commandButton>
		<p:commandButton value="#{messages['close']}" process="@this"
			oncomplete="PF('newDiplexerDialog').hide()" icon="ui-icon-close"
			style="margin-top:10px;" />
	</p:outputPanel>
</ui:composition>