<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui" xmlns:jsf="http://xmlns.jcp.org/jsf">
	<p:outputPanel style="text-align:center;" id="panelNewAntenne">
	<p:messages id="messagesNewAntenne" showDetail="true" globalOnly="true"
			closable="true" />
	<p:panelGrid columns="2" id="panelDatiAntenne" style="width:900px">
		<p:column>
				<p:panelGrid columns="1">
					<h:outputText for="idDescMarca"
						value="#{messages['descMarca']}" styleClass="titoliPanel" />
						<p:inputText id="idDescMarca"
							value="#{antenneController.newAntenne.descMarca}"
							style="width:400px" required="true" />
					<h:outputText />
					<p:message for="idDescMarca" />
				</p:panelGrid>
			</p:column>
			<p:column>
				<p:panelGrid columns="1">
				<h:outputText for="idDescModello"
				value="#{messages['descModello']}" styleClass="titoliPanel" />
					<p:inputText id="idDescModello"
						value="#{antenneController.newAntenne.descModello}"
						style="width:400px" required="true" />
						<h:outputText />
					<p:message for="idDescModello" />
				</p:panelGrid>
			</p:column>
		</p:panelGrid>
		<p:commandButton value="#{messages['salva']}" id="btnSaveAntenne"
			update="panelNewAntenne,:formAntenne:antenneTableID, :formAntenne:messagesNewAntenne"
			process="panelNewAntenne"
			actionListener="#{antenneController.save()}" icon="ui-icon-check"
			style="margin-top:10px; margin-right:10px;">
			<p:confirm header="#{messages['saveAntenneDialogConfirm']}"
				message="#{messages['confirmSave']}" icon="ui-icon-alert" />
		</p:commandButton>
		<p:commandButton value="#{messages['close']}" process="@this"
			oncomplete="PF('newAntenneDialog').hide()" icon="ui-icon-close"
			style="margin-top:10px;" />
	</p:outputPanel>
</ui:composition>