<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui" xmlns:jsf="http://xmlns.jcp.org/jsf">
	<p:outputPanel style="text-align:center;" id="panelNewTma">
	<p:messages id="messagesNewTma" showDetail="true" globalOnly="true"
			closable="true" />
	<p:panelGrid columns="2" id="panelDatiTma" style="width:900px">
		<p:column>
				<p:panelGrid columns="1">
					<h:outputText for="idDescMarcaTma"
						value="#{messages['descMarcaTma']}" styleClass="titoliPanel" />
						<p:inputText id="idDescMarcaTma"
							value="#{tmaController.newTma.descMarca}"
							style="width:400px" required="true" />
					<h:outputText />
					<p:message for="idDescMarcaTma" />
				</p:panelGrid>
			</p:column>
			<p:column>
				<p:panelGrid columns="1">
				<h:outputText for="idDescModelloTma"
				value="#{messages['descModelloTma']}" styleClass="titoliPanel" />
					<p:inputText id="idDescModelloTma"
						value="#{tmaController.newTma.descModello}"
						style="width:400px" required="true" />
						<h:outputText />
					<p:message for="idDescModelloTma" />
				</p:panelGrid>
			</p:column>
		</p:panelGrid>
		<p:commandButton value="#{messages['salva']}" id="btnSaveTma"
			update="panelNewTma,:formTma:tmaTableID, :formTma:messagesNewTma"
			process="panelNewTma"
			actionListener="#{tmaController.save()}" icon="ui-icon-check"
			style="margin-top:10px; margin-right:10px;">
			<p:confirm header="#{messages['saveTmaDialogConfirm']}"
				message="#{messages['confirmSave']}" icon="ui-icon-alert" />
		</p:commandButton>
		<p:commandButton value="#{messages['close']}" process="@this"
			oncomplete="PF('newTmaDialog').hide()" icon="ui-icon-close"
			style="margin-top:10px;" />
	</p:outputPanel>
</ui:composition>