/*.ui-panelgrid .ui-panelgrid-cell {
    border-width: 1px;
    border-style: none;
    border-color: inherit;
    border: hidden;
    padding: 1px 1px;
}*/


.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled .custom {
    opacity:  inherit;
    background-image: none;
}

.ui-chkbox.ui-chkbox-all.ui-widget{
    display:none !important;
 }
 
.ui-selectonemenu-panel .ui-selectonemenu-filter-container {
    position: relative;
    margin: 0;
    padding: 0.4em;
    display: inline-block;
    width: 95%;
} 
 
 .prospect{
 	color: #DC4405 !important;
 }
 
.ui-button .ui-button-text {
    color: #012169;
}
.ui-widget-content {
    border: 1px solid #aaaaaa;
    background: #ffffff;
    color: #012169;
}

.ui-widget-content a {
    color: #012169;
}
.ui-widget {
    font-family: Trebuchet MS, Helvetica, Arial, sans-serif;
    font-size: 15;
    color: #012169;
}
.ui-widget-header {
    border: 1px solid #bbbbbb;
    color: #012169;
    font-weight: bold;
}

.ui-panelgrid .ui-panelgrid-cell {
    border-width: 1px;
    border-style: none; 
    border-color: inherit;
    border: hidden;
    padding: 4px 10px;
}

.ui-datatable .ui-column-filter {
    display: block;
    width: 90%;
    margin: auto;
}

.ui-tabs-left > .ui-tabs-nav {
    float: left;
    width: 23%;
    height: 200px;
    background-image: none;
    padding-top: 1px;
}


 .ui-menu .ui-menu-parent .ui-menu-child {
    display: none;
    width: 14.5em;
    padding: 0.3em;
    position: absolute;
    margin: 0;
    outline: 0;
    line-height: 1.3;
    text-decoration: none;
    font-size: 100%;
    list-style: none;
}


.ui-menubar .ui-menu-child .ui-menuitem {
    width: 100%;
    font-size: small;
}

/**.ui-datatable thead th, .ui-datatable tbody td, .ui-datatable tfoot td, .ui-datatable tfoot th {
    padding: 4px 10px;
    overflow: hidden;
    border-width: 1px;
    border-style: none;
}

.ui-datatable .ui-datatable-header, .ui-datatable .ui-datatable-footer {
    text-align: left;
    padding: 4px 10px;
}
**/
/**

/** i tre style seguenti servono per creare delle icone custom basta chiamarli cosi: icon = "menuhome"
/** la grandezza delle icone devono essere di grandezza 16px x 16px coerenti con width e height inserite nelle style.

.ui-icon.menuhome {
    width: 16px;
    height: 16px;
    background-image: url('../img/menu_home.png') !important;
}


.ui-icon.menuSessione {
    width: 16px;
    height: 16px;
    background-image: url('../img/sessione_menu.png') !important;
}

.ui-icon.menuAdmin {
    width: 16px;
    height: 16px;
    background-image: url('../img/menu_admin.png') !important;
}

.ui-tabs-left > .ui-tabs-nav {
    float: left;
    width: 23%;
    height: 100%;
    background-image: none;
    padding-top: 1px;
}
**/

.ui-accordion .ui-accordion-header {
    cursor: pointer;
    position: relative;
    margin-top: 1px;
    min-height: 0;
    padding: 0 0 0 0; 
}

.ui-picklist .ui-picklist-list {
	height: 150px;
	width: 350px;
}

.ui-picklist .ui-picklist-filter {
    padding-right: 15px;
    padding-left: 5px;
    width: 80%;
}

.titlePage {
	font-size: 1.8em;
	font-weight: bold;
}

.errorMessage {
	font-weight: bold;
	color: red;
}

.menu-top-panel {
	background-image: url(../img/main_menu_background.png);
	margin: 0px;
	padding: 1px;
}

.home-panel {
	width: 800px;
	border: 0px;
	text-align: center;
	margin-top: 0;
	
}

.header-bar {
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(https://media3.giphy.com/media/l41YvpiA9uMWw5AMU/giphy.gif);
	margin: 0px;
	padding:0;
}

.ui-panel .ui-panel-content {
	margin: 0px;
	padding:0;
}

.ui-datalist {
    margin-top: 10px;
    margin-bottom: 20px;
}

.ui-datalist-content {
    padding-left: 20px;
    text-align: left;
}

 .ui-datalist-item {
    padding: 3px;
}

body {
	margin: 15px;
}


.myhomeHeaderCol1 {
	width: 5%;
}

.myhomeHeaderCol2 {
	width: 30%;
	text-align: left;
}

.myhomeHeaderCol3 {
	width: 30%;
	text-align: right;
}

.myhomeHeaderCol4{
	width:35%;
	text-align:center;
}

.label403{
    color: red;
    font-size: xx-large;
}

.labelWarning{
    color: red;
    font-size: small;
}

.info{
	color: #012169;
	font-size: 10px
}

.statoSessione{
	color: #FF0000;
	font-size: 12px
}

/** html {
	overflow-y: scroll;
}


a img {
	border: none;
}

hr {
	width: 100%;
	height: 0.5px;
	border-style: solid;
	color: #bed6f8;
}

h1 {
	font-size: 1.6em;
	margin-top: 0;
}

**/
.creata{
	background:#DCD905;
}

.aperta
{	 
  	background:#DC4405;
}

.parziale{
	background:#c0c0c0;
}

.sospesa
{
  	background:#0080c0;
}

.confermata{
	background:#0B9B04;
}

.forty-percent {
     width: 20%;
}

.sixty-percent {
     width: 80%;
}

.top-alignment {
     vertical-align: top;
}

.outputTextColumnCenter {
    padding-left: 45%;
    font-size: 1.4em;
	font-weight: bold;
}

.infoHeader{
	color: #012169;
	font-size: 0.8em;
}

#panelReportistica\:repCarEq\:clientiFilter_panel div.ui-widget-header .ui-chkbox .ui-widget,
#panelReportistica\:repAnag\:clientiFilterAnagrafica_panel div.ui-widget-header .ui-chkbox .ui-widget,
#panelReportistica\:repCarEq\:retiFilter_panel div.ui-widget-header .ui-chkbox .ui-widget,
#panelReportistica\:repAnag\:retiFilterAnagrafica_panel div.ui-widget-header .ui-chkbox .ui-widget {
	display: none !important;
}

.tablestyle.ui-datatable .ui-datatable-even.ui-state-highlight,
.tablestyle.ui-datatable .ui-datatable-odd.ui-state-highlight{
 background: #7edcf7 ;

 }
 
 .without-selectall .ui-selectcheckboxmenu-header .ui-chkbox {
    display: none; 
}

.tab-no-cella-header .ui-helper-clearfix
{
	display: none;
}
 
.tab-no-cella-border .ui-tabs
{
	border: none !important;
}

.tab-no-header .ui-fieldset-legend
{
	display: none !important;
}

.tab-no-border
{
	border: none;
}